<script setup>
import Register from './Register.vue'
import Login from './Login.vue'
import { useI18n } from 'vue-i18n'
import { useSystemStore } from '@/stores/system'

const sysStore = useSystemStore()
const { t } = useI18n()

const phoneoremail = ref('Mail')
</script>

<template>
  <div id="login-popup">
    <van-popup
      overlay-class="backdrop-blur-md"
      class="login_popup"
      closeable
      round
      teleport="body"
      v-model:show="sysStore.loginPop.show"
    >
      <div v-motion-pop class="login_wrap fili tay_temp">
        <!-- 切换邮箱电话登录 -->
        <div class="toptitle">
          <div class="tit1" @click="phoneoremail = 'Mail'">
            Mail
            <div v-show="phoneoremail == 'Mail'" class="line"></div>
          </div>
          <div class="tit1" @click="phoneoremail = 'Telephone'" style="margin-left: 50px">
            Telephone
            <div class="line" style="margin-left: 18px" v-show="phoneoremail == 'Telephone'"></div>
          </div>
        </div>
        <div px-16px pt-50px pb-20px max-w-1000px w-95vw class="login_wrap_inner">
          <div style="width: 100%; display: flex; justify-content: center">
            <div id="tabs" bg-tay-gary-1 rounded-32px inline-flex font-bold mb-60px>
              <span
                class="van-haptics-feedback"
                rounded-32px
                text-tay-text-1
                text-24px
                py-15px
                px-60px
                :class="sysStore.loginPop.type === 'login' && 'text-white bg-tay-active-1'"
                @click="sysStore.loginPop.type = 'login'"
              >
                {{ t('common.login') }}
              </span>
              <span
                class="van-haptics-feedback"
                rounded-32px
                text-tay-text-1
                text-24px
                py-15px
                px-60px
                :class="sysStore.loginPop.type === 'register' && 'text-white bg-tay-active-1'"
                @click="sysStore.loginPop.type = 'register'"
              >
                {{ t('common.register') }}
              </span>
            </div>
          </div>

          <Login :phoneoremail="phoneoremail" v-if="sysStore.loginPop.type === 'login'" />
          <Register :phoneoremail="phoneoremail" v-if="sysStore.loginPop.type === 'register'" />
        </div>
      </div>
    </van-popup>
  </div>
</template>

<style lang="scss">
.login_popup.van-popup {
  background: #111923;
  border-radius: 40px;
  max-width: 1000px;
  height: 80vh;
  .van-popup__close-icon {
    color: #93acd3;
    font-size: 36px;
  }
}

.toptitle {
  height: 90px;
  background: #2283f6;
  color: #fff;
  font-family: Microsoft YaHei;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  /* align-items: center; */

  .tit1 {
    width: 52px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border-bottom: 4px solid #fff; */
  }

  .line {
    width: 52px;
    height: 4px;
    flex-shrink: 0;
    background: #fff;
    margin-top: 13px;
  }
}
</style>
