<script setup>
import { ApiRegister, ApiCaptcha } from '@api/request'
import { ElMessage } from 'element-plus'
import { computed, reactive, ref, watch } from 'vue'
import { useI18n } from 'vue-i18n'
import { useRoute, useRouter } from 'vue-router'
import { useSystemStore } from '@/stores/system'
import { useClickAway } from '@vant/use'

const sysStore = useSystemStore()
const route = useRoute()
const router = useRouter()
const { t } = useI18n()

//参数
let props = defineProps({
  phoneoremail: {
    type: String,
    default: () => 'Mail'
  }
})

const formdata = reactive({
  telNumber: '',
  user: '', //用户名
  pwd: '', //密码
  refer: '', //推荐码，若没有可为null
  captcha: '' //验证码
})
const codeImg = ref('')
const check = ref(true)
const regFormRef = ref('')
const regloading = ref(false)

const rules = computed(() => {
  return {
    user: [{ required: true, message: t('login.emailPlaceholder'), trigger: ['blur', 'change'] }],
    pwd: [
      {
        required: true,
        message: t('login.passwordPlaceholder'),
        trigger: ['blur', 'change']
      }
    ]
    // captcha: [
    //   {
    //     required: true,
    //     message: t('login.captchaPlaceholder'),
    //     trigger: ['blur', 'change']
    //   }
    // ]
  }
})

// 获取验证码
// const getCaptcha = () => {
//   ApiCaptcha({}, 'blob').then((res) => {
//     codeImg.value = window.URL.createObjectURL(res)
//     console.log(res, codeImg.value)
//   })
// }

// watch(
//   () => sysStore.loginPop.show,
//   (val) => {
//     console.log('弹窗', val)
//     if (val) {
//       getCaptcha()
//     }
//   },
//   { immediate: true }
// )

if (route?.query?.code) {
  formdata.refer = route.query.code
}

const jumpterm = () => {
  sysStore.loginPop.show = false
  router.push('/terms')
}

//校验邮箱格式
function SubmitCk(email) {
  var reg =
    /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/
  if (!reg.test(email)) {
    //  alert('请输入正确邮箱地址')
    return false
  } else {
    return true
  }
}

const submitForm = async (formEl) => {
  if (!formEl) return
  await formEl.validate(async (valid, fields) => {
    if (valid) {
      // console.log('submit!', formdata)
      let param = formdata

      //校验邮箱格式
      if (props.phoneoremail == 'Mail') {
        if (!SubmitCk(formdata.user)) {
          ElMessage({
            message: 'E-mail format error',
            type: 'warning'
          })
          return
        }
      }

      if (props.phoneoremail == 'Telephone') {
        //传手机号清空邮箱
        param.countryCode = active.value
        param.user = ''
      } else {
        //传邮箱清空手机号
        param.telNumber = ''
      }
      regloading.value = true
      // console.log(param)
      const res = await ApiRegister(param)
      console.log('注册成功', res)
      regloading.value = false
      if (res.code === 0) {
        ElMessage.success(t('common.success'))
        sysStore.registerInfo = {
          ...formdata
        }
        sysStore.loginPop.show = false
        sysStore.getProfile()
        // sysStore.loginPop.type = 'login'
      }
    } else {
      console.log('error', fields)
    }
  })
}

// 国家弹窗
const showCountry = ref(false)
const active = ref('pt-BR')
const countreypopref = ref(null)
const curflag = computed(() => options.value.find((item) => item.value === active.value).flag)
const curcode = computed(() => options.value.find((item) => item.value === active.value).code)
useClickAway(countreypopref, () => {
  if (showCountry.value) {
    showCountry.value = false
  }
})
// 切换国家
const change = (item) => {
  active.value = item.value
  showCountry.value = false
}
const options = ref([
  {
    flag: 'i-flag:br-4x3',
    value: 'pt-BR',
    label: 'Brasil',
    langtext: 'Português',
    code: '+55'
  },
  {
    flag: 'i-flag:ph-4x3',
    value: 'en',
    label: 'Philippines',
    langtext: 'English',
    code: '+63'
  },
  {
    flag: 'i-flag:cn-4x3',
    value: 'zh-CN',
    label: 'China',
    langtext: 'China-Simple',
    code: '+86'
  },
  {
    flag: 'i-flag:vn-4x3',
    value: 'vi',
    label: 'Vietnam',
    langtext: 'Vietnam',
    code: '+84'
  }
])
</script>

<template>
  <div id="register" max-w-1000px>
    <div mb-44px>
      <div mb-24px overflow-hidden>
        <div mt-40px text-center leading-48px tracking-0.88px font-black text-44px>
          <div w-full flex flex-col>
            <div>
              <span font-black text-56px><br />{{ t('login.tip') }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <el-form ref="regFormRef" :rules="rules" size="large" :model="formdata">
        <el-form-item v-if="props.phoneoremail == 'Telephone'" prop="telNumber">
          <el-input
            oninput="value=value.replace(/[^\d]/g,'')"
            :placeholder="t('login.phonePlaceholder')"
            clearable
            v-model="formdata.telNumber"
          >
            <template #prefix>
              <!-- <div class="i-mdi:cellphone-android text-tay-text-2" /> -->
              <div ref="countreypopref" relative rounded-20px w-190px h-76px bg-tay-bg-4 px-12px>
                <div w-full @click="showCountry = !showCountry" flex items-center>
                  <div mr-20px :class="curflag" />
                  <span>{{ curcode }}</span>
                  <div
                    absolute
                    right-20px
                    class="i-ep:arrow-down text-#D9D9D9 text-20px"
                    :class="{
                      rota180: showCountry
                    }"
                  ></div>
                </div>
                <div
                  v-motion-slide-top
                  v-show="showCountry"
                  z-5
                  absolute
                  left-0
                  bottom-88px
                  w-400px
                  py-12px
                  rounded-20px
                  bg-tay-bg-0
                >
                  <div
                    :class="{
                      'bg-tay-bg-2': active === item.value
                    }"
                    class="flex items-center py-10px rounded-10px px-20px"
                    @click="change(item)"
                    v-for="item in options"
                    :key="item.value"
                  >
                    <div mr-20px :class="item.flag" />
                    <span>{{ item.label }}</span>
                  </div>
                </div>
              </div>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item v-if="props.phoneoremail == 'Mail'" prop="user">
          <el-input :placeholder="t('login.emailPlaceholder')" clearable v-model="formdata.user">
            <template #prefix>
              <div class="i-mdi:email-outline text-tay-text-2" />
            </template>
          </el-input>
        </el-form-item>
        <el-form-item prop="pwd">
          <el-input
            :placeholder="t('login.passwordPlaceholder')"
            type="password"
            show-password
            v-model="formdata.pwd"
          >
            <template #prefix>
              <div class="i-mdi:lock-outline text-tay-text-2" />
            </template>
          </el-input>
        </el-form-item>
        <el-form-item prop="refer">
          <el-input :placeholder="t('login.invitePlaceholder')" clearable v-model="formdata.refer">
            <template #prefix>
              <div class="i-mdi:qrcode-edit text-tay-text-2 w-1.2em h-1.2em" />
            </template>
          </el-input>
        </el-form-item>
        <!-- <el-form-item prop="captcha">
          <el-input
            :placeholder="t('login.captchaPlaceholder')"
            clearable
            v-model="formdata.captcha"
          >
            <template #prefix>
              <div class="i-mdi:checkbox-marked-outline text-tay-text-2" />
            </template>
            <template #suffix>
              <img
                v-show="!!codeImg"
                border-solid
                border-1px
                border-tay-text-2
                rounded-20px
                absolute
                right-2px
                w-200px
                h-80px
                @click="getCaptcha"
                :src="codeImg"
                alt=""
              />
            </template>
          </el-input>
        </el-form-item> -->
        <div flex>
          <el-checkbox class="items-start! top-6px" v-model="check" size="large" />
          <div ml-16px text-24px>
            <span mr-16px text-tay-text-2>{{ t('login.tip1') }}</span>
            <span @click="jumpterm" van-haptics-feedback text-tay-active-1 underline>{{
              t('login.tip2')
            }}</span>
          </div>
        </div>
        <div mt-40px>
          <el-button
            :loading="regloading"
            class="rounded-20px!"
            w-full
            type="primary"
            @click="submitForm(regFormRef)"
            >{{ t('common.register') }}</el-button
          >
        </div>
        <div text-24px text-white mb-60px mt-40px>
          {{ t('login.havecount') }}&nbsp;<span
            @click="
              sysStore.loginPop = {
                show: true,
                type: 'login'
              }
            "
            text-tay-active-1
            >{{ t('common.login') }}</span
          >
        </div>
      </el-form>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@use '@/assets/css/input.scss';
</style>
