<template>
  <div w-full h-300px overflow-hidden>
    <swiper
      class="swiper"
      :direction="'vertical'"
      :autoplay="{
        delay: 2500,
        disableOnInteraction: false
      }"
      :modules="[Autoplay]"
      :slides-per-view="4"
      :loop="true"
    >
      <swiper-slide v-for="(item, index) in list" :key="index">
        <div flex items-center justify-between px-60px>
          <div flex items-center mb-28px>
            <img mr-20px w-42px h-42px src="@/assets/img/share/avatar.png" alt="" />
            <span text-white text-26px>{{ item.username }}</span>
          </div>
          <div text-tay-text-9 text-26px>R$ {{ item.amount }}</div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script setup>
import { Swiper, SwiperSlide } from 'swiper/vue'
import { Autoplay } from 'swiper'
import 'swiper/css'

defineProps({
  list: {
    type: Array,
    default: () => []
  }
})
</script>

<style lang="scss" scoped>
.swiper {
  width: 100%;
  height: 100%;
}
</style>
