@import './base.scss';

@font-face {
  font-family: Montserrat;
  src: url('../font/mos.woff2');
}

* {
  box-sizing: border-box;
}
body {
  background-color: #0c131d;
}

::-webkit-scrollbar {
  width: 0;
}

:root:root {
  // --van-popup-background: transparent;
  --van-toast-font-size: 12px;
  .el-input {
    --el-input-border-radius: 10px !important;
    --el-input-border-color: #414c5e;
  }
  .el-button--primary {
    border-color: #2283f6;
    background-color: #2283f6;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.refresh-start {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: running;
}

// 语言弹窗
.lang_pop.van-popup {
  .van-popover__content {
    border-radius: 10px;
    background-color: #1f262e !important;
    .van-popover__action {
      &:active,
      &:hover {
        background-color: #3c4957 !important;
      }
    }
  }
}

.dark-btn {
  margin: 0 auto;
  background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
  box-shadow: 0px 10px 0px #202531, inset 0px 2px 10px rgba(255, 255, 255, 0.159212);
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.loginbtn-shared {
  color: #8e5106 !important;
  background: linear-gradient(360deg, #f79d3b 1.81%, #ffdfa4 100%) !important;
  border: 1px solid #ffe4b0 !important;
  box-shadow: 0px 2px 0px #9e5f0e !important;
}

.regbtn_shared {
  color: #004044;
  background: linear-gradient(360deg, #25cfdb 1.81%, #85f2fe 100%);
  border: 1px solid #b5fbff;
  box-shadow: 0px 2px 0px #09a9b4;
}

.selected::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 34px;
  height: 8px;
  border-radius: 10px;
  background: #ffd991;
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}
