<script setup>
import { ApiWidthdrawIndex } from '@/api/request.js'
import { useRouter } from 'vue-router'
const router = useRouter()
const showchangepassword = ref(false)
const oldpassword = ref('')
const newpassword = ref('')
const confirepassword = ref('')

async function changepwd() {
  if (!(oldpassword.value && newpassword.value && confirepassword.value)) {
    ElMessage({
      message: 'Please complete',
      type: 'warning'
    })
  } else if (newpassword.value !== confirepassword.value) {
    ElMessage({
      message: 'Confirm the password is the same',
      type: 'warning'
    })
  } else {
    const res = await api.APIPostWay('password/reset', {
      pwd0: oldpassword.value, // 旧密码
      pwd: newpassword.value, // 新密码
      uid: sysStore.id
    })
    console.log(res)
    if (res.code == 0) {
      ElMessage({
        message: 'Success',
        type: 'success'
      })
      router.push('/')
    }
  }
}
const vipdata = ref({
  bet: [0, 500, '0%'],
  deposit: [0, 0, '0%']
})
async function getvip(params) {
  const res = await api.APIPostWay('vip/index')
  if (res.code == 0) {
    // console.log(res.data)
    vipdata.value = res.data
  }
}

getvip()
import V0 from '@/assets/img/vip/V0.png'
import V1 from '@/assets/img/vip/V1.png'
import V2 from '@/assets/img/vip/V2.png'
import V3 from '@/assets/img/vip/V3.png'
import V4 from '@/assets/img/vip/V4.png'
import V5 from '@/assets/img/vip/V5.png'
import V6 from '@/assets/img/vip/V6.png'
import V7 from '@/assets/img/vip/V7.png'
import V8 from '@/assets/img/vip/V8.png'
import V9 from '@/assets/img/vip/V9.png'
import V10 from '@/assets/img/vip/V10.png'
const vipimg = computed(() => {
  const obj = {
    0: V0,
    1: V1,
    2: V2,
    3: V3,
    4: V4,
    5: V5,
    6: V6,
    7: V7,
    8: V8,
    9: V9,
    10: V10
  }
  return obj[sysStore.viplevel]
})
import { computed } from 'vue'
import { useSystemStore } from '@/stores/system'
import { useImg } from '@utils/useImg'

const sysStore = useSystemStore()

const {
  imgvip0,
  imgvip1,
  imgvip2,
  imgvip3,
  imgvip4,
  imgvip5,
  imgvip6,
  imgvip7,
  imgvip8,
  imgvip9,
  imgvip10
} = useImg()
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
const vipicon = computed(() => {
  const obj = {
    0: imgvip0,
    1: imgvip1,
    2: imgvip2,
    3: imgvip3,
    4: imgvip4,
    5: imgvip5,
    6: imgvip6,
    7: imgvip7,
    8: imgvip8,
    9: imgvip9,
    10: imgvip10
  }
  return obj[sysStore.viplevel]
})

const betwidth = computed(() => {
  if (sysStore.personbet[2]) {
    return {
      width: (442 * parseFloat(sysStore.personbet[2]) * 0.01) / 37.5 + 'rem'
    }
  } else {
    return {
      width: 0 + 'px'
    }
  }
})

const percentage = ref(0)
const customColor = ref('#409eff')

const withInfo = ref({})
ApiWidthdrawIndex().then((res) => {
  console.log('取款', res)
  if (res.code == 0) {
    withInfo.value = res.data
  }
})
</script>

<template>
  <div p-30px>
    <div text-white text-48px font-bold>Account</div>
    <div mx-auto w-690px h-1215px bg-tay-bg-18 rounded-30px flex items-center justify-center>
      <div class="bg" text-center relative>
        <div mt-20px text-34px font-bold text-tay-text-12>Personal information</div>
        <img mt-30px w-423px h-423px src="@/assets/img/account/user.png" alt="" />
        <!-- 邮箱 -->
        <div flex items-center justify-center>
          <span mt-10px text-48px font-bold text-white>
            {{ sysStore.sysUsername }}
          </span>
          <copy ml-16px w-48px h-48px rounded-30px :text="sysStore.sysUsername" />
        </div>
        <!-- 邮箱 -->
        <!-- <div mt-10px text-48px font-bold text-white>{{ sysStore.account }}</div> -->
        <!--  -->
        <!-- {{ sysStore.viplevel }} -->
        <div style="padding: 0 10px" flex items-center justify-between>
          <img w-130px :src="vipimg" alt="" />
          <div>
            <div style="margin-top: -20px" flex items-center justify-between>
              <div>{{ t('common.bet') }}({{ vipdata.bet[2] }})</div>
              <div>
                R${{ vipdata.bet[0] }}/<span style="color: #fbab1c">R${{ vipdata.bet[1] }}</span>
              </div>
            </div>
            <el-progress
              :stroke-width="8"
              mt-14px
              :show-text="false"
              w-420px
              :percentage="parseInt(vipdata.bet[2])"
              color="#fff"
            />
          </div>
        </div>
        <div p-20px flex items-center justify-between>
          <div w-130px class="gjejr">V {{ sysStore.viplevel }}</div>
          <div>
            <div style="margin-top: -20px" flex items-center justify-between>
              <div>{{ t('common.deposit') }}({{ vipdata.deposit[2] }})</div>
              <div>
                R${{ vipdata.deposit[0] }}/<span style="color: #fbab1c"
                  >R${{ vipdata.deposit[1] }}</span
                >
              </div>
            </div>
            <el-progress
              :stroke-width="8"
              mt-14px
              :show-text="false"
              w-420px
              :percentage="parseInt(vipdata.deposit[2])"
              color="#fff"
            />
          </div>
        </div>
        <div style="flex-direction: column" flex items-center justify-between>
          <div class="tejk">
            <img w-31px src="@/assets/img/account/phone.png" alt="" />
            <p>
              <span v-if="sysStore.phonenumber">{{ sysStore.phonenumber }}</span>
              <span style="color: #55657e" v-else>{{ t('common.notYet') }}</span>
            </p>
          </div>

          <div class="tejk">
            <img w-31px src="@/assets/img/account/email.png" alt="" />
            <p>
              <span v-if="sysStore.account">{{ sysStore.account }}</span>
              <span style="color: #55657e" v-else>{{ t('common.notYet') }}</span>
            </p>
          </div>

          <el-button @click="showchangepassword = true" class="butchange" type="primary">
            {{ t('login.resetPassword') }}</el-button
          >
        </div>

        <!-- <img
          absolute
          right-20px
          bottom-20px
          w-58px
          h-58px
          src="@/assets/img/account/edit.png"
          alt=""
        /> -->
      </div>
    </div>
    <div
      class="bg1"
      rounded-30px
      mt-40px
      mx-auto
      w-690px
      h-1038px
      bg-tay-bg-18
      flex
      items-center
      justify-center
    >
      <div class="border h-1000px!" text-center relative>
        <div mt-20px text-34px font-bold text-tay-text-12>{{ t('account.wallet') }}</div>
        <div mt-30px text-36px font-bold text-tay-text-12>R$</div>
        <div mt-10px text-48px font-bold text-tay-text-13>{{ withInfo.balance }}</div>
        <div flex items-center justify-between px-20px>
          <div text-white font-bold>
            <div>Requisitos de rolagem</div>
            <div>R$ {{ withInfo.bet_target }}</div>
          </div>
          <div text-tay-text-13 font-bold>
            <div>Valor da aposta concluída</div>
            <div>R$ {{ withInfo.bet_finish }}</div>
          </div>
        </div>

        <div class="line"></div>
        <div my-40px mx-auto w-550px h-140px bg-tay-bg-4 rounded-20px py-20px>
          <div text-tay-bg-19>{{ t('account.withdrawalsAvailable') }}</div>
          <div mt-10px text-36px text-tay-active-1 font-bold>R$ {{ withInfo.withdrawable }}</div>
        </div>
        <div my-40px mx-auto w-550px h-140px bg-tay-bg-4 rounded-20px py-20px>
          <div text-tay-bg-19>{{ t('account.thetotalamounttoberedeemed') }}</div>
          <div mt-10px text-36px text-tay-bg-19 font-bold>R$ 0.00</div>
        </div>
        <div class="line"></div>
        <div mt-60px w-full flex justify-between px-30px>
          <div
            @click="
              () => {
                sysStore.showRechagePop.type = 'recharge'
                sysStore.showRechagePop.show = true
              }
            "
            w-276px
            h-72px
            leading-72px
            rounded-20px
            class="depo-btn"
          >
            Deposit
          </div>
          <div
            @click="
              () => {
                sysStore.showRechagePop.type = 'withdraw'
                sysStore.showRechagePop.show = true
              }
            "
            w-276px
            h-72px
            leading-72px
            rounded-20px
            class="with-btn"
          >
            {{ t('account.winthdrawal') }}
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg1"
      rounded-30px
      mt-40px
      mx-auto
      w-690px
      h-918px
      bg-tay-bg-18
      flex
      items-center
      justify-center
    >
      <div class="border" text-center relative>
        <div mt-20px text-34px font-bold text-tay-text-12>{{ t('account.myVipLevel') }}</div>
        <div class="vip-bg"></div>
        <img class="vip-img" block w-130px h-130px :src="vipicon" alt="" />
        <div class="poly-out"></div>
        <div class="poly-in"></div>
        <div mt-400px text-48px font-bold text-tay-text-13>VIP {{ sysStore.viplevel }}</div>
        <div mt-80px mx-auto w-614px>
          <div text-24px w-full flex justify-between text-28px>
            <div text-tay-text-2>{{ t('vip.Bet') }}({{ sysStore.personbet[2] }})</div>
            <div text-tay-text-2>
              R${{ sysStore.personbet[0] }}/<span font-bold text-tay-active-1
                >R${{ sysStore.personbet[1] }}</span
              >
            </div>
          </div>
          <div relative w-full h-16px rounded-20px mt-14px bg-tay-bg-20>
            <div :style="betwidth" bg-tay-active-1 absolute h-full rounded-20px left-0 top-0></div>
          </div>
        </div>
        <div
          @click="$router.push('/vip')"
          class="bottom-text"
          absolute
          bottom-40px
          text-tay-active-1
          text-30px
        >
          {{ t('account.myVipLevel') }}
        </div>
      </div>
    </div>

    <!-- 修改密码 -->
    <van-popup
      overlay-class="backdrop-blur-md"
      closeable
      w-660px
      h-720px
      round
      teleport="body"
      v-model:show="showchangepassword"
    >
      <div class="rwervox">
        <p class="pp1">Change Password</p>

        <p class="pp2">Old password</p>
        <el-input
          class="inp1"
          v-model="oldpassword"
          type="password"
          placeholder="Enter your old password"
          show-password
        />
        <p class="pp2">New password</p>
        <el-input
          class="inp1"
          v-model="newpassword"
          type="password"
          placeholder="Enter your new password"
          show-password
        />
        <el-input
          class="inp1"
          v-model="confirepassword"
          type="password"
          placeholder="Enter your new password again"
          show-password
        />
        <el-button @click="changepwd" class="butchange" type="primary">
          {{ t('common.confirm') }}</el-button
        >
      </div>
    </van-popup>
  </div>
</template>

<style lang="scss" scoped>
.rwervox {
  width: 660px;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 30px;
  background: #151c26;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 35px;

  .pp1 {
    color: #fff;
    text-align: center;
    font-family: Microsoft YaHei;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .pp2 {
    color: #fff;
    font-family: Microsoft YaHei;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .inp1 {
    height: 80px;
    margin-bottom: 30px;
  }
}
.bg {
  width: 654px;
  height: 1170px;
  background: url('@/assets/img/account/bg.png') no-repeat center;
  background-size: 100% 100%;
  border: solid 2px #55657e;
  border-radius: 30px;
}
.bg1 {
  background-color: #141e2a;
  background-image: url('@/assets/img/account/bottom.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  .border {
    width: 654px;
    height: 879px;
    border-radius: 30px;
    border: solid 2px #55657e;
  }
}
.line {
  width: 612px;
  height: 4px;
  background: #576579;
  margin: 20px auto;
}
.depo-btn {
  width: 276px;
  background: linear-gradient(180deg, #168fef 0%, #1a5ef1 100%);
}
.with-btn {
  width: 276px;
  background: linear-gradient(180deg, #fa5577 0%, #ef2451 100%);
}
.vip-bg {
  width: 386px;
  height: 386px;
  background: url('@/assets/img/account/vip-bg.png') no-repeat center;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: 60px;
}
.vip-img {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: 220px;
}
.poly-out {
  position: absolute;
  left: 176px;
  top: 130px;
  width: 298px;
  height: 298px;
  background: url('@/assets/img/account/Polygon4.png') no-repeat center;
  background-size: contain;
}
.poly-in {
  position: absolute;
  left: 210px;
  top: 166px;
  width: 229px;
  height: 229px;
  background: url('@/assets/img/account/Polygon3.png') no-repeat center;
  background-size: contain;
}
.bottom-text {
  left: 50%;
  transform: translateX(-50%);
}

.gjejr {
  color: #ffc459;
  text-align: center;
  font-family: Microsoft YaHei;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tejk {
  width: 616px;
  padding-left: 20px;
  text-align: center;
  height: 80px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #55657e;
  background: #1c2632;
  color: #fff;
  font-family: Microsoft YaHei;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
  display: flex;
  align-items: center;

  img {
    margin-right: 25px;
  }
}

.butchange {
  width: 616px;
  height: 80px;
  flex-shrink: 0;
  margin-top: 20px;
}
</style>
