<script setup>
import { useSystemStore } from '../stores/system'
import { ApiArticle } from '@api/request.js'
import { useRoute } from 'vue-router'
const route = useRoute()

const sysStore = useSystemStore()

const getArticle = async () => {
  const res = await ApiArticle({ article_id: 1 })
  console.log('文章详情', res)
}

getArticle()
</script>

<template>
  <div py-16px px-20px>
    <div class="body">
      <div class="content" v-if="route.query.id == 11">
        <h1>Convide amigos - ganhe dinheiro conosco</h1>
        <div class="wmde-markdown wmde-markdown-color" style="background: transparent">
          <p carnaval="" de="" natal="" BBRGOL="" p="" style="text-align: left"></p>
          O bônus do convite é super dobrado! Descrição: Convide o primeiro depósito durante o
          evento
          <p></p>
          ✅ Nível 1 = R$ 50 máxima<br />
          ✅ Nível 2 = R$ 10 máxima<br />
          ✅ Nível 3 = R$ 5 máxima<br />
          <p></p>
          <p>O maior bônus disponível</p>
          <p></p>
          Compartilhe seu link exclusivo!
          <p></p>
          Evento por tempo limitado, corra!
          <p></p>
          <p style="text-align: left">Plano de ganhos - Regras：</p>
          <p>
            1. Você pode convidar novos usuários através do seu link de convite e quando o convidado
            recarregar e apostar na plataforma, você poderá obter super recompensas da plataforma.
          </p>
          Todos os membros só precisam convidar um amigo para se registrar e recarregar para se
          tornar um agente de primeiro nível.
          <p></p>
          <p>
            ✅ Nível 1 = Primeira recarga do usuário mais de 100 reais: bônus de convite 50 <br />
            （Primeira recarga do usuário 100 reais: bônus de convite 50.<br />Primeira recarga do
            usuário 50 reais: bônus de convite 30. <br />Primeira recarga do usuário 30 reais: bônus
            de convite 20. <br />
            Primeira recarga do usuário 20 reais: bônus de convite 15.）<br />
            ✅ Nível 2 = R$ 10 <br />
            （Primeira recarga do usuário 100 reais: bônus de convite 10.<br />Primeira recarga do
            usuário 50 reais: bônus de convite 5.<br />
            Primeira recarga do usuário 20 reais: bônus de convite 3.）<br />
            ✅ Nível 3 = R$ 5 <br />
            （Primeira recarga do usuário 100 reais: bônus de convite 5.<br />Primeira recarga do
            usuário 50 reais: bônus de convite 3.<br />Primeira recarga do usuário 20 reais: bônus
            de convite 2.）
          </p>
          <p></p>
          <table style="text-align: center">
            <tbody>
              <tr>
                <th style="text-align: center">Número de pessoas convidadas (Número)&nbsp;</th>
                <th style="text-align: center">Prêmios por convite Nivél1</th>
                <th style="text-align: center">Convite Nivél2</th>
                <th style="text-align: center">Convite Nivél3</th>
              </tr>
              <tr>
                <td style="text-align: center">1 jogadores</td>
                <td style="text-align: center">R$50</td>
                <td style="text-align: center">R$10</td>
                <td style="text-align: center">R$5</td>
              </tr>
              <tr>
                <td style="text-align: center">10 jogadores</td>
                <td style="text-align: center">R$500</td>
                <td style="text-align: center">R$100</td>
                <td style="text-align: center">R$50</td>
              </tr>
              <tr>
                <td style="text-align: center">100 jogadores</td>
                <td style="text-align: center">R$5000</td>
                <td style="text-align: center">R$1000</td>
                <td style="text-align: center">R$500</td>
              </tr>
              <tr>
                <td style="text-align: center">1000 jogadores</td>
                <td style="text-align: center">R$50,000</td>
                <td style="text-align: center">R$10,000</td>
                <td style="text-align: center">R$5,000</td>
              </tr>
              <tr>
                <td style="text-align: center">5000 jogadores</td>
                <td style="text-align: center">R$250,000</td>
                <td style="text-align: center">R$ 50,000</td>
                <td style="text-align: center">R$ 25,000</td>
              </tr>
              <tr>
                <td style="text-align: center">10000 jogadores</td>
                <td style="text-align: center">R$500,000</td>
                <td style="text-align: center">R$100,000</td>
                <td style="text-align: center">R$50,000</td>
              </tr>
              <tr>
                <td style="text-align: center">100000 jogadores</td>
                <td style="text-align: center">R$ 5 milhões</td>
                <td style="text-align: center">R$ 1 milhões</td>
                <td style="text-align: center">R$ 0,5 milhões</td>
              </tr>
              <tr>
                <td style="text-align: center">1000000 jogadores</td>
                <td style="text-align: center">R$ 50 milhões</td>
                <td style="text-align: center">R$ 10 milhões</td>
                <td style="text-align: center">R$ 5 milhões</td>
              </tr>
            </tbody>
          </table>
          <p><br /></p>
          <p>2. Lembrete especial - Plano de ganhos de comissões de três níveis：</p>
          <p>
            Você pode receber recompensas da plataforma de cada aposta de usuários de nível inferior
            que convidar. Você pode receber recompensas de apostas de até três níveis.
          </p>
          <p>
            Nível 1: ganhe 0.3% de bônus de aposta<br />Nível 2: ganhe 0.2% de bônus de aposta<br />Nível
            3: ganhe 0.1% de bônus de aposta
          </p>
          <p>As recompensas obtidas podem ser retiradas diretamente sem quaisquer restrições.</p>
          <p>
            Então, se você quiser ganhar mais dinheiro, convide participantes que buscam investir e
            que são ativos e eficientes em convidar novos usuários.
          </p>
          <p>
            3. Detalhes<br />Esteja certo que seu nome de cartão seja exclusivo e ativo para que
            seja permitido. Se for nescessário usar contas e benefícios adicionais, poderá ser
            fraude e seu uso de banco de dados será perdido.
          </p>
          <p><br /></p>
          <p>
            4. Instruções para participação nas atividades Desde o anúncio até a entrega do bônus de
            um milhão. As Regras Oficiais do Evento tornam-se um critério exclusivo da BBRGOL.
          </p>
          <p>"As atividades acima, a BBRGOLoficial tem o direito final de explica"</p>

          <p>
            Certifique-se de que seu nome, detalhes de contato e código de segurança sejam pessoais
            e estejam corretos. Se o mesmo jogador usa IPs de rede diferentes para registrar várias
            contas ou usar o mesmo CPF para receber o bônus, será considerado como trapaça e a conta
            será bloqueada permanentemente.
          </p>
          <p>OBS: LEIA ATENTAMENTE A TODOS OS REQUISITOS DO EVENTO.</p>

          <p>A BBRGOL AGRADECE A PREFERÊNCIA E COLABORAÇÃO DOS USUÁRIOS.</p>
        </div>
      </div>
      <div class="content" v-if="route.query.id == 12">
        <h1>VENHA GANHAR 100% DE BONUS</h1>
        <div>
          <div class="wmde-markdown wmde-markdown-color" style="background: transparent">
            <h3 id="carnaval-brasileiro---mês-dos-eventos-em-fevereiro" style="text-align: center">
              <a
                class="anchor"
                aria-hidden="true"
                tabindex="-1"
                href="#carnaval-brasileiro---mês-dos-eventos-em-fevereiro"
                ><svg
                  class="octicon octicon-link"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  height="16"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                  ></path></svg></a
              >**Carnaval Brasileiro - Mês dos Eventos em Fevereiro!**
            </h3>
            <p></p>
            <p>
              BBRGOL | Cassino Online, jogos de cassino online que ganha dinheiro realA fim de
              agradecer a sua confiança e apoio no BBRGOL, seu primeiro valor de
              depósitobem-sucedido de mais de R$100, o BBRGOL lhe dará um bônus grátis de 100% do
              valor do depósito, sinceramente, desejo voce ganhar mais!Uma vez feito seu depósito, o
              bônus será automaticamente creditado em sua conta, portanto, verifique no sistema as
              mensagens enviadas a você
            </p>

            <pre><div  class="copied"><svg class="octicon-copy" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg><svg class="octicon-check" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" height="12" width="12"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></div></pre>
            <table class="wrapped">
              <colgroup>
                <col />
                <col />
              </colgroup>
              <tbody>
                <tr>
                  <th colspan="2" scope="colgroup">
                    <h4 id="requisitos-e-bônus" style="text-align: center">
                      <a aria-hidden="true" tabindex="-1" href="#requisitos-e-bônus"
                        ><span class="icon icon-link"></span></a
                      >REQUISITOS E BÔNUS
                    </h4>
                  </th>
                </tr>
                <tr>
                  <th>
                    <h5 id="limite-de-depósitos" style="text-align: center">
                      <a aria-hidden="true" tabindex="-1" href="#limite-de-depósitos"
                        ><span class="icon icon-link"></span></a
                      >LIMITE DE DEPÓSITOS
                    </h5>
                  </th>
                  <th>
                    <h5 id="bônus" style="text-align: center">
                      <a aria-hidden="true" tabindex="-1" href="#bônus"
                        ><span class="icon icon-link"></span></a
                      >BÔNUS
                    </h5>
                  </th>
                </tr>
                <tr>
                  <td>
                    <h3 id="r100-ou-mais-" style="text-align: center">
                      <a aria-hidden="true" tabindex="-1" href="#r100-ou-mais-"
                        ><span class="icon icon-link"></span></a
                      >R$100 OU MAIS
                    </h3>
                  </td>
                  <td>
                    <h3 id="100-do-valor-do-depósito" style="text-align: center">
                      <a aria-hidden="true" tabindex="-1" href="#100-do-valor-do-depósito"
                        ><span class="icon icon-link"></span></a
                      >100% DO VALOR DO DEPÓSITO
                    </h3>
                  </td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
            <h4 id="regra">
              <a class="anchor" aria-hidden="true" tabindex="-1" href="#regra"
                ><svg
                  class="octicon octicon-link"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  height="16"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                  ></path></svg></a
              >REGRA
            </h4>
            <ul>
              <p>
                So primeiro pedido com um valor de depósito de R$100 ou superior pode participar
                neste evento, e este evento só pode participar uma vez.
              </p>
              <li>
                <p>Recarga limitada a um valor especial</p>
              </li>
              <li>
                <p>Limite de saque: valor efetivo da aposta &gt;= valor do prêmio * 50.</p>
              </li>
              <li>
                <p>
                  Certifique-se de que seu nome e cartão bancário sejam precisos e exclusivos, se o
                  mesmo corretor usar IPs de rede diferentes para registrar várias contas e obter
                  bônus, será considerado fraude e sua conta será congelada permanentemente.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content" v-if="route.query.id == 13">
        <div class="GbArticle_root__Vinqw">
          <h1 class="GbArticle_title__H0Gbt">Bônus VIP Exclusivos</h1>
          <div>
            <div class="wmde-markdown wmde-markdown-color" style="background: transparent">
              <p class="activity-desc-item" style="text-align: center">
                Para retribuir a todos os usuários de BBRGOL | Cassino Online, jogos de cassino
                online que ganha dinheiro real,<br />o mecanismo de recompensa VIP está aberto.
                Contanto que você cumpra os requisitos,<br />você pode receber bônus generosos!
              </p>
              <h2
                class="activity-desc-title"
                id="requisitos-de-atividade"
                style="text-align: center"
              >
                <a class="anchor" aria-hidden="true" tabindex="-1" href="#requisitos-de-atividade"
                  ><svg
                    class="octicon octicon-link"
                    viewBox="0 0 16 16"
                    version="1.1"
                    width="16"
                    height="16"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                    ></path></svg></a
                ><strong
                  ><span style="color: rgb(255, 204, 0)">Requisitos de atividade</span></strong
                >
              </h2>
              <p class="activity-desc-item" style="text-align: center">
                Os jogadores atualizam para um novo nível VIP<br />você receberá bônus grátis, sem
                requisitos de retirada.
              </p>
              <p class="activity-desc-title" style="text-align: center">
                <strong><span style="color: rgb(253, 212, 57)">bônus do evento</span></strong>
              </p>
              <center>
                <table
                  class="relative-table wraped"
                  style="width: 70.855%; margin-left: auto; margin-right: auto"
                >
                  <colgroup>
                    <col style="width: 100%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope="col">
                        Os jogadores podem receber as Recompensas quando atingirem o nível VIP.
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <p class="activity-desc-item" style="text-align: center">VIP0：R$0</p>
                        <p class="activity-desc-item" style="text-align: center">VIP1：R$5</p>
                        <p class="activity-desc-item" style="text-align: center">VIP2：R$10</p>
                        <p class="activity-desc-item" style="text-align: center">VIP3：R$20</p>
                        <p class="activity-desc-item" style="text-align: center">VIP4：R$40</p>
                        <p class="activity-desc-item" style="text-align: center">VIP5：R$60</p>
                        <p class="activity-desc-item" style="text-align: center">VIP6：R$100</p>
                        <p class="activity-desc-item" style="text-align: center">VIP7：R$200</p>
                        <p class="activity-desc-item" style="text-align: center">VIP8：R$400</p>
                        <p class="activity-desc-item" style="text-align: center">VIP9: R$600</p>
                        <p class="activity-desc-item" style="text-align: center">VIP10：R$1000</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </center>
              <h2 class="activity-desc-title" id="lembrete-especial" style="text-align: center">
                <a class="anchor" aria-hidden="true" tabindex="-1" href="#lembrete-especial"
                  ><svg
                    class="octicon octicon-link"
                    viewBox="0 0 16 16"
                    version="1.1"
                    width="16"
                    height="16"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                    ></path></svg></a
                ><strong><span style="color: rgb(255, 204, 0)">Lembrete especial</span></strong>
              </h2>
              <p class="activity-desc-item" style="text-align: center">
                Cada jogador receberá sua recompensa bônus para cada atualização, e os bônus podem
                ser substituídos.
              </p>
              <h2 class="activity-desc-title" id="descrição-detalhada" style="text-align: center">
                <a class="anchor" aria-hidden="true" tabindex="-1" href="#descrição-detalhada"
                  ><svg
                    class="octicon octicon-link"
                    viewBox="0 0 16 16"
                    version="1.1"
                    width="16"
                    height="16"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                    ></path></svg></a
                ><strong><span style="color: rgb(255, 204, 0)">Descrição detalhada:</span></strong>
              </h2>
              <strong>
                <p style="text-align: center">
                  Descrição detalhada:<br />Descrição detalhadamente, Para que seja confiável, Seja
                  seguro de que seu nome de cartão de registro, Seja confiável e EXCLUSIVO em nossa
                  plataforma, Se a mesma rede que registrou seus dados for usada para cadastrar
                  outras contas com o mesmo nome registrado na primeira. Ela será considerada fraude
                  e resultará na suspenção da mesma.
                </p>
                <h2
                  class="activity-desc-title"
                  id="instruções-para-participar-do-evento"
                  style="text-align: center"
                >
                  <a aria-hidden="true" tabindex="-1" href="#instruções-para-participar-do-evento"
                    ><span class="icon icon-link"></span></a
                  ><strong
                    ><span style="color: rgb(255, 204, 0)"
                      >Instruções para participar do evento</span
                    ></strong
                  >
                </h2>
                <p class="activity-desc-item" style="text-align: center">
                  Apartir do dia do anúncio do evgento, você só poderá receber o bônus se atualizar
                  seu VIP<br /><br />
                </p>
                <h4 id="regra">
                  <a aria-hidden="true" tabindex="-1" href="#regra"
                    ><span class="icon icon-link"></span></a
                  >REGRA
                </h4>
                <ul>
                  <p></p>
                  <li>
                    <p>
                      Certifique-se de que seu nome e cartão bancário sejam precisos e exclusivo, se
                      o mesmo usar Ips de redes diferentes para registrar outra conta na plataforma
                      e obter os benefícios, será considerado fraude e sua conta pode ser congelada
                      permanentemente.
                    </p>
                  </li>
                </ul></strong
              >
            </div>
          </div>
        </div>
      </div>
      <div class="content" v-if="route.query.id == 14">
        <div class="GbArticle_root__Vinqw">
          <h1 class="GbArticle_title__H0Gbt">SISTEMA DE FOLHA DE PAGAMENTO MENSAL DA BBRGOL.COM</h1>
          <div>
            <div class="wmde-markdown wmde-markdown-color" style="background: transparent">
              <p>
                <strong
                  >Olá! Aqui é o site Oficial da <a href="http://BBRGOL.com">BBRGOL.com</a></strong
                ><br />Queremos dar a usuário da nossa plataforma, mais bônus e ofertas exclusivas.
                Estamos lançando um sistema de pagamento mensal, onde você joga/trabalho e nós
                pagamos.
              </p>
              <p>
                Convide pessoas para entrar na BBRGOL e comece a ganhar, ganhe até 1 Milhão em bônus
                todos os meses, As suas indicações sempre irão lhe render lucros até 3 Níveis de
                comissões em sua conta
              </p>
              <p>
                O Salário é calculado através da porcentagem do número total de membros dos
                seguintes níveis:<br /><strong>Nível 1 + Nível 2 + Nível 3</strong>
              </p>
              <p>A porcentagem máxima do salário é de <strong>200%</strong> da comissão mensal</p>
              <p>
                <strong>Ex:</strong><br />· Para agentes com uma comissão mensal de R$ 1.000 você
                receberá 50% do número total de comissões para o mês em questão.
              </p>
              <p>
                · Para agente com uma com comissão mensal de R$ 5.000 a porcentagem salarial é 100%
                do número total de comissões daquele mês.
              </p>
              <p>
                · Para agentes com uma comissão mensal de R$ 10.000 você receberá 110% do número
                total de comissões para o mês em questão.
              </p>
              <p>
                · Para agentes com uma comissão mensal de R$ 50.000 você receberá 130% do número
                total de comissões para o mês em questão.
              </p>
              <p>
                · Para agentes com uma comissão mensal de R$ 100.000 você receberá 150% do número
                total de comissões para o mês em questão.
              </p>
              <p>
                · Para agentes com uma comissão mensal de R$ 200.000 você receberá 180% do número
                total de comissões para o mês em questão.
              </p>
              <p>
                · Para agentes com uma comissão mensal de R$ 500.000 você receberá 200% do número
                total de comissões para o mês em questão.
              </p>
              <p>
                · Requisitos mínimos para os agentes receberem um salário:<br />Você deve convidar
                no mínimo 100 novos membros, que depositem todos os meses&nbsp;
              </p>
              <p></p>
              <p>Ser elegível para receber um salário para este mês</p>
              <p>
                É necessário convidar no mínimo 100 novos membros e todos tem que depositar no
                mês.<br />Este é o requisito para receber.
              </p>

              <p>TODOS OS DIREITOS RESERVADOS PELA BBRGOL.COM</p>

              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="content" v-if="route.query.id == 15">
        <div class="GbArticle_root__Vinqw">
          <h1 class="GbArticle_title__H0Gbt">GANHE 50% DE BÔNUS TODOS OS DIAS</h1>
          <div>
            <div class="wmde-markdown wmde-markdown-color" style="background: transparent">
              <p>
                BBRGOL | Cassino Online, jogos de cassino online que ganha dinheiro real espera main
                estar com você todos os dias!
              </p>
              <p>Você tem 3 chances de obter mais de 50% de bônus de recarga todos os dias!</p>
              <table class="wrapped">
                <colgroup>
                  <col />
                  <col />
                </colgroup>
                <tbody>
                  <tr>
                    <th colspan="2" scope="colgroup">
                      <h4 id="requisitos-e-bônus" style="text-align: center">
                        <a aria-hidden="true" tabindex="-1" href="#requisitos-e-bônus"
                          ><span class="icon icon-link"></span></a
                        >REQUISITOS E BÔNUS
                      </h4>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <h5 id="limite-de-depósitos" style="text-align: center">
                        <a aria-hidden="true" tabindex="-1" href="#limite-de-depósitos"
                          ><span class="icon icon-link"></span></a
                        >LIMITE DE DEPÓSITOS
                      </h5>
                    </th>
                    <th>
                      <h5 id="bônus" style="text-align: center">
                        <a aria-hidden="true" tabindex="-1" href="#bônus"
                          ><span class="icon icon-link"></span></a
                        >BÔNUS
                      </h5>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <h3 id="r100-ou-mais" style="text-align: center">
                        <a aria-hidden="true" tabindex="-1" href="#r100-ou-mais"
                          ><span class="icon icon-link"></span></a
                        >R$100 OU MAIS
                      </h3>
                    </td>
                    <td>
                      <h3 id="50-do-valor-do-depósito" style="text-align: center">
                        <a aria-hidden="true" tabindex="-1" href="#50-do-valor-do-depósito"
                          ><span class="icon icon-link"></span></a
                        >50% DO VALOR DO DEPÓSITO
                      </h3>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h4 id="regra">
                <a class="anchor" aria-hidden="true" tabindex="-1" href="#regra"
                  ><svg
                    class="octicon octicon-link"
                    viewBox="0 0 16 16"
                    version="1.1"
                    width="16"
                    height="16"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                    ></path></svg></a
                >REGRA
              </h4>
              <ul>
                <li>
                  <p>Seus três primeiros pedidos de recarga acima de R$100 por dia!</p>
                </li>
                <li>
                  <p>Limite de saque: valor efetivo da aposta &gt;= valor do prêmio * 30.</p>
                </li>
                <li>
                  <p>
                    Certifique-se de que seu nome e cartão bancário sejam precisos e exclusivos, se
                    o mesmo corretor usar IPs de rede diferentes para registrar várias contas e
                    obter bônus, será considerado fraude e sua conta será congelada permanentemente.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="content" v-if="route.query.id == 16">
        <div class="GbArticle_root__Vinqw">
          <h1 class="GbArticle_title__H0Gbt">Convide amigos e Criem riquezas juntos</h1>
          <div>
            <div class="wmde-markdown wmde-markdown-color" style="background: transparent">
              <p>
                Torne-se um dos nossos principais parceiros e Obtenha uma renda mensal de&nbsp;R$
                100.000
              </p>
              <p>
                <strong>R$ 100.000</strong>
                <img w-full h-full src="@/assets/img/bonus/66.png" alt="" />
              </p>
              <p>
                BBRGOL | Cassino Online, jogos de cassino online que ganha dinheiro real atualmente
                main tem mais de 200.000 usuários como promoters, dos quais a principal promotor
                Anna Lopes atualmente promove diariamente 99.200 pessoas e ainda está crescendo
                rapidamente a cada dia, Ela já está ganhando pelo menos R$20.000 de comissões
                diariamente de seus três níveis de promotores.
              </p>
              <p><strong>Programa de referência</strong></p>
              <p>
                Deixe o mundo saber sobre BBRGOL | Cassino Online, jogos de cassino online que ganha
                main dinheiro real - indique mais pessoas e ganhe muito dinheiro, tendo mais chances
                de complementar sua renda.
                <img max-w-full src="@/assets/img/bonus/99.png" alt="" />
              </p>
              <p><strong>Ganhe comissões de indicação: Ganhe 1,000 R$ em um dia</strong></p>
              <p>
                Regras de Bônus: Todos os jogadores "Promoters" recebem um nível de bônus de
                vantagem da plataforma em cada aposta.&nbsp;As proporções dos 3 níveis são as
                seguintes:
              </p>
              <ol>
                <li>Nível 1: obtenha 30% de vantagem de plataforma</li>
                <li>Nível 2: obtenha 20% de vantagem de plataforma</li>
                <li>Nível 3: obtenha 10% de vantagem de plataforma</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <span
        v-if="!sysStore.isLogin"
        @click="
          () => {
            sysStore.loginPop.type = 'register'
            sysStore.loginPop.show = true
          }
        "
        style="color: rgb(255, 217, 145)"
      >
        Recharge NOW</span
      >
    </div>
  </div>
</template>

<style lang="scss" scoped>
h1 {
  font-size: 64px;
  font-weight: 700;
  margin: 18px 0 32px;
}
h3 {
  line-height: 1.25;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 600;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  width: max-content;
  margin-bottom: 32px;
  margin-top: 0;
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  tr {
    background-color: #0d1117;
    border-top: 2px solid #0d1117;
    &:nth-child(2n) {
      background: #161b22;
    }
  }
  th {
    border: 2px solid #30363d;
    padding: 12px 26px;
  }
  td {
    border: 2px solid #30363d;
    padding: 12px 26px;
  }
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
}
</style>
