<!-- 奖金 -->
<script setup>
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
const router = useRouter()
////获取Bonus-活动详情
async function getbonusList() {
  const res = await api.APIBonusList({})
  console.log('bonus', res.data)
}

onMounted(() => {
  getbonusList()
})
</script>

<template>
  <div p-40px>
    <div text-white text-48px font-bold>{{ t('bonus.bigTitle') }}</div>
    <div @click="router.push('/article?id=11')" w-full class="wrapper">
      <img w-full h-full src="@/assets/img/bonus/11.png" alt="" />
      <div overflow-hidden px-24px pb-8px text-28px>
        <p class="title">Convide amigos - ganhe dinheiro conosco</p>
        <p class="desc">
          Evento de Natal - Bônus de Convite Duplicado, Convide pessoas para BBRGOL e comece a
          ganhar bônus de até R$100 reais todos os dias em sua conta sem parar 💵❤️‍🔥 💰Ganhos
          permanentes !!! Os indicados vão lhe proporcionar comissões em até 3 níveis em sua conta
          para sempre
        </p>
        <p class="more">{{ t('bonus.learn_more') }}</p>
      </div>
    </div>
    <div @click="router.push('/article?id=12')" w-full class="wrapper">
      <img w-full h-full src="@/assets/img/bonus/12.png" alt="" />
      <div overflow-hidden px-24px pb-8px text-28px>
        <p class="title">VENHA GANHAR 100% DE BONUS</p>
        <p class="desc">
          A fim de agradecer a sua confiança e apoio no BBRGOL, seu primeiro valor de
          depósitobem-sucedido de mais de R$100, o BBRGOLlhe dará um bônus grátis de 100% do valor
          do depósito, sinceramente, desejo voce ganhar mais!Uma vez feito seu depósito, o bônus
          será automaticamente creditado em sua conta, portanto, verifique no sistema as mensagens
          enviadas a você
        </p>
        <p class="more">{{ t('bonus.learn_more') }}</p>
      </div>
    </div>
    <div @click="router.push('/article?id=13')" w-full class="wrapper">
      <img w-full h-full src="@/assets/img/bonus/13.png" alt="" />
      <div overflow-hidden px-24px pb-8px text-28px>
        <p class="title">Bônus VIP Exclusivos</p>
        <p class="desc">
          Para recompensar todos os usuários de BBRGOL | Cassino Online, jogos de cassino online que
          ganha dinheiro real, o mecanismo de recompensa VIP agora está aberto. Contanto que você
          cumpra os requisitos, você pode obter ótimos bônus!
        </p>
        <p class="more">{{ t('bonus.learn_more') }}</p>
      </div>
    </div>
    <div @click="router.push('/article?id=14')" w-full class="wrapper">
      <img w-full h-full src="@/assets/img/bonus/14.png" alt="" />
      <div overflow-hidden px-24px pb-8px text-28px>
        <p class="title">SISTEMA DE FOLHA DE PAGAMENTO MENSAL DA BBRGOL.COM</p>
        <p class="desc">
          🔥🚀Olá! Aqui é o site Oficial da BBRGOL.com Queremos dar a usuário da nossa plataforma,
          mais bônus e ofertas exclusivas. Estamos lançando um sistema de pagamento mensal, onde
          você joga/trabalho e nós pagamos.
        </p>
        <p class="more">{{ t('bonus.learn_more') }}</p>
      </div>
    </div>
    <div @click="router.push('/article?id=15')" w-full class="wrapper">
      <img w-full h-full src="@/assets/img/bonus/15.png" alt="" />
      <div overflow-hidden px-24px pb-8px text-28px>
        <p class="title">GANHE 50% DE BÔNUS TODOS OS DIAS</p>
        <p class="desc">
          BBRGOL | Cassino Online, jogos de cassino online que ganha dinheiro real vai amar e
          esperar todos os dias com você! Desde que o valor do seu depósito seja maior ou igual a
          R$100, você receberá um bônus adicional de 50% do valor do depósito da BBRGOL | Cassino
          Online, jogos de cassino online que ganha dinheiro real como bônus! Sinceramente, desejo
          que você ganhe mais!
        </p>
        <p class="more">{{ t('bonus.learn_more') }}</p>
      </div>
    </div>
    <div @click="router.push('/article?id=16')" w-full class="wrapper">
      <img w-full h-full src="@/assets/img/bonus/16.png" alt="" />
      <div overflow-hidden px-24px pb-8px text-28px>
        <p class="title">Convide amigos e Criem riquezas juntos</p>
        <p class="desc">
          Para incentivar todos os usuários do BBRGOL | Cassino Online, jogos de cassino online que
          ganha dinheiro real, milhões de benefícios são oferecidos a agentes competentes que
          atendem aos requisitos para receber um bônus generoso.
        </p>
        <p class="more">{{ t('bonus.learn_more') }}</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrapper {
  background: #161e2a radial-gradient(ellipse at center 150%, #224393, transparent 68%);
  cursor: pointer;
  border-radius: 24px;
  margin-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}
.title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desc {
  color: #648eb1;
  font-size: 24px;
  font-weight: 700;
  height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  -webkit-line-clamp: 4;
}
.more {
  color: #2281f6;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
  margin-top: 8px;
  text-align: center;
  text-transform: uppercase;
}
</style>
