<!-- 银行卡 -->
<template>
  <div id="bankCard">
    <div class="body">
      <div class="titleK">
        <p>My card list</p>
      </div>
      <!-- <div class="type" v-if="gcashArr.length">
        <div class="title">
          <img src="@/assets/oldimg/recharge_channel_gcash_icon.png" alt="" />
          <span>Gcash ({{ gcashArr.length }})</span>
        </div>
        <ul class="type_box">
          <li v-for="(card, index) in gcashArr">
            <div class="list_item">Name：{{ card.holder }}</div>
            <div class="list_item">Phone number：{{ card.card_num }}</div>
            <div class="btn" @click="deleteCard(card)">delete</div>
          </li>
        </ul>
      </div>
      <div class="type" v-if="mayaArr.length">
        <div class="title">
          <img src="@/assets/oldimg/recharge_channel_maya_icon.png" alt="" />
          <span>Maya (2)</span>
        </div>
        <ul class="type_box">
          <li>
            <div class="list_item">Name:</div>
            <div class="list_item">Phone number:</div>
            <div class="btn" @click="deleteCard(card)">delete</div>
          </li>
        </ul>
      </div> -->
      <div class="type" v-if="cardArr.length">
        <div class="title">
          <img src="@/assets/img/cards/gcash.png" alt="" />
          <span
            >Bank Card <span v-if="cardArr.length">({{ cardArr.length }})</span></span
          >
        </div>
        <ul class="type_box">
          <li v-for="(card, index) in cardArr" :key="index">
            <div class="list_item">Name: {{ card.bank_name }}</div>
            <div class="list_item">Phone number: {{ card.card_num }}</div>
            <div class="btn" @click="deleteCard(card)">delete</div>
          </li>
        </ul>
      </div>
      <div class="nodata" v-if="!cardArr.length">
        <img src="@/assets/oldimg/nodata.png" alt="" />
        <p>{{ $t('common.noData') }}</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ApiWidthdrawIndex, ApiWidthdrawDelCard } from '@api/request'
import { ElMessage } from 'element-plus'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const gcashArr = ref([
  {
    holder: 'San',
    card_num: 'xxxxx'
  },
  {
    holder: 'San2',
    card_num: 'xxxxx'
  }
])
const mayaArr = ref([{}])

const deleteCard = async (card) => {
  const res = await ApiWidthdrawDelCard({
    card_id: card.id
  })
  console.log('删除卡片', res)
  if (res.code === 0) {
    ElMessage.success(t('common.success'))
    getWithdrawIndex()
  }
}
const cardArr = ref([])

const getWithdrawIndex = async () => {
  let res = await ApiWidthdrawIndex()
  console.log('我的卡片列表', res)
  if (res.code === 0) {
    cardArr.value = res.data.cards
  }
}

getWithdrawIndex()
</script>

<style lang="scss" scoped>
#bankCard {
  padding: 0 10px;

  .body {
    padding: 0 20px;
    .titleK {
      margin-top: -20px;
      /* width: 100%; */
      p {
        color: #fff;
        font-family: Microsoft YaHei;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .nodata {
      margin: 22px auto;
      width: 117px;
      > img {
        width: 117px;
        height: 102px;
      }
      > p {
        text-align: center;
        font-size: 12px;
        color: #7b8398;
      }
    }
    .type {
      margin-bottom: 15px;
      width: 100%;
      .title {
        display: flex;
        align-items: center;
        > img {
          width: 40px;
          margin-right: 20px;
        }
      }
      .type_box {
        width: 100%;
        margin-top: 20px;
        > li {
          position: relative;
          width: 100%;
          height: 160px;
          padding: 30px;
          background: #2c3846;
          /* padding: 30px; */
          /* box-sizing: border-box; */
          border-radius: 10px;
          margin-bottom: 10px;
          .list_item {
            height: 60px;
          }
          .btn {
            width: 100px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 80px;
            background: #1d2532;
            text-align: center;
            top: 30px;
            right: 15px;
            position: absolute;
            color: #55657e;
            font-family: PingFang HK;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
          }
        }
      }
    }
  }
  .withdraw_popup {
    width: 330px;

    margin: 79px auto 0 auto;
    padding: 20px 19px;
    box-sizing: border-box;
    border: 1px solid #5a636d;
    border-radius: 15px;
    background: #101419;
    .withdraw_popup_title {
      font-weight: 600;
      font-size: 15px;
      text-align: center;
      margin: 0 0 25px 0;
    }
    .withdraw_info_input {
      margin-bottom: 20px;
      .label {
        display: flex;
        align-items: center;
        > i {
          margin-right: 7px;
          color: #ff3232;
        }
      }
      .input_box {
        height: 45px;
        border-radius: 35px;
        background: #272c31;
        padding: 0 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        select {
          border: none;
          outline: none;
          color: #fff;
        }
        > input {
          border: none;
          outline: none;
          background: transparent;
          width: 100%;
          height: 40px;
        }
        > input::placeholder {
          color: #7b8398;
        }
      }
    }
    .save_btn {
      margin-top: 10px;
      height: 45px;
      border-radius: 35px;
      background: linear-gradient(360deg, #f79d3b 1.81%, #ffdfa4 100%);
      border: 1px solid #ffe4b0;
      box-shadow: 0px 2px 0px #9e5f0e;
      text-align: center;
      line-height: 45px;
      font-size: 15px;
      font-weight: 600;
      color: #8e5106;
    }
  }
  .close {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
    > img {
      width: 27px;
    }
  }
}
@media (min-width: 1000px) {
  #bankCard {
    position: relative;
    margin: 0 auto;
    margin-left: 58px;
    margin-top: 30px;
    .public_header_box {
      display: none;
    }
    .body {
      margin: 0 auto;
      width: 1200px;
      padding: 30px;
      box-sizing: border-box;
      background: #1a1f25;
    }
  }
}
</style>
