<script setup>
import { ref } from 'vue'
import { ApiFavList } from '@api/request.js'

const list = ref([])
const getList = async () => {
  const res = await ApiFavList()
  console.log('收藏列表', res)
  if (res.code == 0) {
    list.value = res.data
  }
}

getList()
</script>

<template>
  <div p-30px>
    <div text-white text-48px font-bold>Collect</div>
    <div flex flex-wrap>
      <div rounded-20px class="item" v-for="(item, iidex) in list" :key="iidex + item.id">
        <div px-8px py-8px>
          <div
            rounded-20px
            overflow-hidden
            min-w-112px
            min-h-112px
            bg-tay-bg-0
            flex
            items-center
            justify-center
          >
            <img w-full h-full object-cover @click="togameurl(item)" :src="item.cover" alt="" />
            <!-- <a href="https://webet.17fm.cc/api/game?id=6&lang=zh-CN">跳转</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@media screen and (min-width: 769px) {
  .item {
    flex: 0 0 16.6% !important;
    /* 计算每个条目的宽度 */
  }
}

.item {
  flex: 0 0 33.3%;
  /* 计算每个条目的宽度 */
}
</style>
