<template>
  <div id="crash" pt-20px px-20px>
    <div mb-20px flex justify-between items-center text-white text-center>
      <div flex items-center>
        <div w-158px h-60px bg-tay-bg-17 leading-60px rounded-10px>Crash</div>
        <div ml-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center>
          <img mr-10px w-26px h-26px src="@/assets/img/mines/user.png" alt="" />
          <span>{{ userNumber }}</span>
        </div>
      </div>
      <div flex items-center>
        <div @click="addLike" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-22px h-20px :src="isColleced ? imgHeartAct : imgHeart" alt="" />
        </div>
        <div @click="muted = !muted" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-25px h-23px :src="!muted ? imgBear : imgBearNo" alt="" />
        </div>
        <div h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center justify-center>
          <img w-31px h-31px src="@/assets/img/mines/time.png" alt="" />
        </div>
      </div>
    </div>

    <div class="content_wrap">
      <div class="body">
        <div class="canvas_container" id="canvas_container">
          <div class="win_popup" v-if="showWinPopup">
            <div class="win_amount">₱ {{ winAmount }}</div>
            <div class="multiplier">
              <span>Multiplier</span>
              <span>{{ winMultiplier }}x</span>
            </div>
            <img class="win_popup_img" src="@/assets/img/mines/win_popup.png" alt="" />
          </div>
          <!-- <div id="boom" v-show="isBoom"></div> -->
          <div class="win_times" v-if="isReadyBet">{{ winTimes }}x</div>
          <div v-else class="win_times">{{ winTimesInt }} {{ winTimesFloatDisplay }}x</div>
          <!-- 游戏开始进度条 -->
          <div class="progress_line" v-if="showProgressLine">
            <div class="loading_speed" :class="showProgressLine ? 'running' : ''">
              <div ref="progressLineref" class="inner_line"></div>
            </div>
            <p>{{ betTip }}</p>
            <p>{{ countDown1 }}</p>
            <van-count-down
              ref="countDown"
              :auto-start="false"
              millisecond
              format="ss:SS"
              :time="10000"
              @finish="onFinish"
              @change="timechange"
            />
          </div>
          <div class="stopBet" v-if="showStopBet">
            <p>{{ stopBetTip }}</p>
            <span>{{ stopBetTime }}s</span>
          </div>
          <div class="bet_times">
            <div class="bet_times_wrap" ref="betTimesWrap">
              <span v-for="(item, index) in oldBetTimesRecords" :key="item.id"
                >{{ item.times }}x</span
              >
            </div>
          </div>
          <div
            ref="lottieDom"
            class="lottieMain"
            v-show="showLottie"
            id="lottieDom"
            style="width: 50px"
          >
            <div id="imgWrapper"></div>
          </div>
          <canvas id="crash_canvas" width="345" height="313"></canvas>
          <canvas id="boom_canvas" width="345" height="313"></canvas>
        </div>
        <div class="cash_in_box_wrap">
          <div class="cash_in_box">
            <div class="minus" @click="minus">-</div>
            <div class="times">
              <span>Cashout in</span>
              <p>x{{ times }}.00</p>
            </div>
            <div class="add" @click="add">+</div>
          </div>
          <div class="amount_box">
            <div class="bet_amount">
              <div>
                <span @click="betAmount = min">MIN</span>
                <span @click="half">1/2</span>
              </div>
              <div class="bet_amount_inputbox">
                <p>₱</p>
                <input type="number" pattern="[0-9]*" v-model="betAmount" />
              </div>
              <div>
                <span @click="betAmount = max">MAX</span>
                <span @click="betAmount = betAmount * 2">2X</span>
              </div>
            </div>
            <div
              class="bet_btn"
              @click="bet"
              :class="ableEscapeStart ? 'escape_status' : isStopClickBetBtn ? 'stop_status' : ''"
            >
              <p>
                {{ btnText }}
              </p>
              <span v-if="isShowNextRound && !ableEscapeStart">next round</span>
            </div>
          </div>
        </div>

        <div class="bet_content">
          <div class="tabs">
            <span :class="tabIndex === 0 ? 'tab_active' : ''" @click="tabIndex = 0"
              >MY HISTORY</span
            >
            <span :class="tabIndex === 1 ? 'tab_active' : ''" @click="tabIndex = 1"
              >ALL PLAYERS</span
            >
          </div>

          <div class="bet_data_box">
            <div class="list" v-if="tabIndex === 0">
              <ul>
                <li class="list_item">
                  <p>Period</p>
                  <p>Cashout</p>
                  <p>Bet</p>
                  <p>Payout</p>
                </li>
                <li
                  class="list_item"
                  style="margin-top: 10px"
                  v-for="(historyList, index) in myBetResults"
                  :key="index"
                >
                  <span>{{ historyList.round }}</span>
                  <span style="color: #fff">{{ historyList.m }}</span>
                  <span>{{ historyList.amount }}</span>
                  <span>{{ historyList.bonus }}</span>
                </li>
              </ul>
            </div>
            <ul v-if="tabIndex === 1">
              <div class="rank_box">
                <div class="title">
                  <span>User</span>
                  <span>Multiplier</span>
                  <span>Bet</span>
                </div>
                <ul>
                  <li v-for="item in myBetResults" :key="item.round">
                    <div class="user">
                      <img src="@/assets/img/pc/avatar.png" alt="" />
                      <span> Hidden </span>
                    </div>
                    <span class="times"
                      ><span :class="item.result == 'fail' || item.result == 'lose' ? 'fail' : ''"
                        >x{{ item.odd }}</span
                      ></span
                    >
                    <div class="bet">
                      <span>{{ currencySymbol }} {{ item.bonus }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </ul>
            <div class="nodata" v-if="noData">
              <img src="@/assets/img/nodata.png" alt="" />
              <p>No Data</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <Rank :myBetResults="myBetResults"></Rank> -->
    </div>
    <!-- <GameRule @closePopup="gameRulePopup = false" v-if="gameRulePopup" /> -->
    <audio ref="countdown" :src="countdownmp3" preload id="countdown" hidden muted></audio>
    <audio ref="launch" :src="launchmp3" preload id="launch" hidden :muted="muted"></audio>
    <audio ref="crash" :src="crashmp3" preload id="crash" :muted="muted" hidden></audio>
  </div>
</template>
<script setup>
import { nextTick, onMounted, ref } from 'vue'
import { ApiFavList, ApiAddFavour, ApiRemoveFavour } from '@api/request.js'
import lottie from 'lottie-web'
import AstronautJSON from '@/assets/img/crash/fire.json'
import launchmp3 from '@/assets/audio/launch.mp3'
import crashmp3 from '@/assets/audio/crash.mp3'
import countdownmp3 from '@/assets/audio/countdown.mp3'
import imgBear from '@img/mines/bear.png'
import imgBearNo from '@img/mines/bear-not.png'
import imgHeartAct from '@img/mines/heart-act.png'
import imgHeart from '@img/mines/heart.png'
import airplaneimg from '@/assets/img/crash/airplane.png'
import comet_red from '@/assets/img/crash/comet_red.png'
import comet_yellow from '@/assets/img/crash/comet_yellow.png'
import user_bg from '@/assets/img/crash/user_bg.png'
import robot from '@/assets/img/crash/robot.png'
import rocket_fire from '@/assets/img/crash/rocket_fire.png'
import rocket from '@/assets/img/crash/rocket.png'
import { ElMessage } from 'element-plus'
import { sendWebsocket, closeWebsocket, createWebSocket } from '@/utils/ws1.js'

const userNumber = ref(0)
const isColleced = ref(false)
const likeLists = ref([]) //收藏列表
const game_id = ref(1) //游戏id
const betSuccess = ref(false) //是否已经下注成功
const btnText = ref('bet')
const winPopUpTimer = ref(null) //弹窗显示计时器
const winAmount = ref('')
const winMultiplier = ref('')
const showWinPopup = ref(false)
const ableCancel = ref(false)
const isStopBet = ref(false) //停止投注
const currentBetAmount = ref('') //当前局下注金额
const nextBetAmount = ref('') //下一局下注金额
const myBetResults = ref([]) //我的输赢结果
const oldBetTimesRecords = ref([]) //历史爆炸倍数
const realWinTimes = ref('') //真实赢的倍数
const isBetNextRound = ref(false) //是否投注下一局
const ableEscapeStart = ref(false) //可以开始逃跑
const currentRound = ref('') //当前局数
const isCrash = ref(false) //是否已经爆炸
const isBoom = ref(false) //是否显示爆炸动画
const lottieDom = ref(null)
const isReadyBet = ref(false) //是否已经可以投注
const meteorShowerTimer = ref(null) //流行雨定时器
const airplane = ref(null)
const ctx = ref(null)
const canvas = ref(null)
const isStopClickBetBtn = ref(true)
const isShowNextRound = ref(false)
const stopBetTip = ref('stop bet')
const showStopBet = ref(false)
const stopBetTime = ref(2)
const betTip = ref('bet')
const isbetting = ref(false) //是否可以投注
const isGameStart = ref(false) //是否已经开始游戏
const isInitGame = ref(false) //是否初始化游戏
const animationBoom = ref(null) //爆炸动画
const animotionAirplane = ref(null) //飞机动画
const muted = ref(true)
const progressLineWidth = ref(100) //进度条的宽度
const min = ref(1)
const max = ref(1000)
const betAmount = ref(1) //下注金额
const times = ref(1) //倍数
const historyData = ref([
  {
    period: '1399348',
    cashout: '2x',
    bet: 1,
    betTime: '04-12-2023 01:18:57 PM',
    payout: 2,

    status: 'win',
    draw: 13.63
  },
  {
    period: '1399348',
    cashout: '2x',
    bet: 1,
    betTime: '04-12-2023 01:18:57 PM',
    payout: 2,

    status: 'lose',
    draw: 13.63
  }
])
const gameRulePopup = ref(false)
const state = ref('waiting')
const showProgressLine = ref(false)
const gameTimer = ref(null)
const raf = ref(null)
const tabIndex = ref(0)
const noData = ref(false)
const checked = ref(true)
const checked1 = ref(true)
const winTimesInt = ref(1)
const winTimes = ref(1)
const winTimesFloat = ref(0)
const winTimesFloatDisplay = ref('')
const showLottie = ref(true)
const rainTimer = ref(null)
const url = ref('')
const rianElement = ref([
  {
    src: comet_red,
    width: '50px',
    height: '89px',
    deg: 45,
    left: '120px',
    top: '-85px',
    className: 'comet_red'
  },
  {
    src: comet_yellow,
    width: '100px',
    height: '110px',
    deg: 45,
    left: '-83px',
    top: '-152px',
    className: 'comet_yellow'
  },
  {
    name: 'user_bg',
    src: user_bg,
    width: '86px',
    height: '110px',
    deg: 45,
    left: '345px',
    top: '45px',
    className: 'user_bg'
  },
  {
    src: robot,
    width: '25px',
    height: '110px',
    deg: 45,
    left: '-25px',
    top: '220px',
    className: 'comet_yellow',
    name: 'robot'
  },
  {
    src: rocket_fire,
    width: '46px',
    height: '110px',
    deg: 45,
    left: '-45px',
    top: '200px',
    className: 'comet_yellow',
    name: 'robot'
  },
  {
    src: rocket,
    width: '46px',
    height: '110px',
    deg: 45,
    left: '-45px',
    top: '220px',
    className: 'comet_yellow',
    name: 'robot'
  }
])

// 倒计时
const countDown = ref(null)
const start = () => {
  console.log('progressLineWidth', progressLineWidth.value)
  countDown.value.start()
}
const pause = () => {
  countDown.value.pause()
}
const reset = () => {
  countDown.value.reset()
}

const onFinish = () => console.log('倒计时结束')
const progressLineref = ref(null)
const timechange = (currentTime) => {
  console.log('时间变化了', currentTime)
  progressLineWidth.value--
  if (!progressLineref.value) {
    progressLineref.value.style.width = progressLineWidth.value + '%'
  }
}

const getLikeLists = async () => {
  const res = await ApiFavList()
  if (res.code == 0) {
    likeLists.value = res.data
    likeLists.value.forEach((like) => {
      if (like.id == game_id.value) {
        isColleced.value = true
      }
    })
  }
}
getLikeLists()

onMounted(() => {
  console.log('lottieDom', lottieDom.value)
  try {
    lottieDom.value.style.transform = `translate(${0}px,-${0}px) rotate(${90}deg)`
    lottieAni()
  } catch (err) {
    console.log(err)
  }
  gameInit()
})

const gameInit = async () => {
  nextTick(() => start())
  showWinPopup.value = false
  progressLineWidth.value = 100

  showLottie.value = true
  if (lottieDom.value) {
    lottieDom.value.style.transform = `translate(${0}px,-${0}px) rotate(${90}deg)`
  }

  isGameStart.value = false
  isInitGame.value = true
  isShowNextRound.value = false
  if (isReadyBet.value && !isBetNextRound.value) {
    isStopClickBetBtn.value = false
  }

  winTimes.value = 1
  if (!isReadyBet.value) {
    winTimesInt.value = 1
    winTimesFloat.value = ''
    winTimesFloatDisplay.value = ''
  }

  showProgressLine.value = true
  // 启动计时器
  console.log('count', countDown)

  // var timeleft = 10000
  // this.countDownTimer = setInterval(function () {
  //   if (timeleft <= 0) {
  //     clearInterval(that.countDownTimer)
  //     that.showProgressLine = false
  //     that.stopBet()
  //     return
  //   }
  //   timeleft -= 100
  //   var seconds = Math.floor(timeleft / 1000)
  //   var milliseconds = (timeleft - seconds * 1000) / 10
  //   that.countDown1 = seconds + ':' + milliseconds

  //   that.progressLineWidth = that.progressLineWidth - 1
  //   if (that.$refs.progressLine) {
  //     that.$refs.progressLine.style.width = that.progressLineWidth + '%'
  //   }
  //   var progress = timeleft / 10000
  // }, 100)
}

//飞机动画
const lottieAni = async () => {
  console.log('初始化飞机动画')
  if (!animotionAirplane.value) {
    animotionAirplane.value = lottie.loadAnimation({
      container: document.getElementById('imgWrapper'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      animationData: AstronautJSON
    })
  }
  console.log(animotionAirplane.value)

  try {
    if (animotionAirplane.value) {
      animotionAirplane.value.addEventListener('complete', () => {
        //结束动画
        console.log('动画结束')
      })
    }
  } catch (err) {
    console.log(err)
  }
}
</script>
<script>
// import { ApiFavList, ApiAddFavour, ApiRemoveFavour } from '@api/request.js'
import { mapActions, mapState } from 'pinia'
import { useSystemStore } from '@/stores/system'
// import lottie from 'lottie-web'
// import AstronautJSON from '../assets/img/crash/fire.json'
// import comet_red from '@/assets/img/crash/comet_red.png'
// import comet_yellow from '@/assets/img/crash/comet_yellow.png'
// import user_bg from '@/assets/img/crash/user_bg.png'
// import robot from '@/assets/img/crash/robot.png'
// import rocket_fire from '@/assets/img/crash/rocket_fire.png'
// import rocket from '@/assets/img/crash/rocket.png'
// import { ElMessage } from 'element-plus'
// import { sendWebsocket, closeWebsocket, createWebSocket } from '@/utils/ws1.js'
// import GameRule from '@/components/GameRule'
// import Rank from '@/components/Rank'
export default {
  name: 'Crash',
  components: {
    // GameRule,
    // Rank
  },
  data() {
    return {
      userNumber: 0,
      isColleced: false,
      likeLists: [], //收藏列表、
      game_id: 1, //游戏id
      betSuccess: false, //是否已经下注成功
      btnText: 'bet',
      winPopUpTimer: null, //弹窗显示计时器
      winAmount: '',
      winMultiplier: '',
      showWinPopup: false,
      ableCancel: false,
      isStopBet: false, //停止投注
      currentBetAmount: '', //当前局下注金额
      nextBetAmount: '', //下一局下注金额
      myBetResults: [], //我的输赢结果
      oldBetTimesRecords: [], //历史爆炸倍数
      realWinTimes: '', //真实赢的倍数
      isBetNextRound: false, //是否投注下一局

      ableEscapeStart: false, //可以开始逃跑
      currentRound: '', //当前局数
      isCrash: false, //是否已经爆炸
      isBoom: false, //是否显示爆炸动画
      lottieDom: null,
      isReadyBet: false, //是否已经可以投注
      meteorShowerTimer: null, //流行雨定时器
      airplane: null,
      ctx: null,
      canvas: null,
      isStopClickBetBtn: true,
      isShowNextRound: false,
      stopBetTip: 'stop bet',
      showStopBet: false,
      stopBetTime: 2,
      betTip: 'bet',
      isbetting: false, //是否可以投注
      isGameStart: false, //是否已经开始游戏
      isInitGame: false, //是否初始化游戏
      animationBoom: null, //爆炸动画
      animotionAirplane: null, //飞机动画
      muted: true,
      progressLineWidth: 100, //进度条的宽度
      min: 1,
      max: 1000,
      betAmount: 1, //下注金额
      times: 1, //倍数
      historyData: [
        {
          period: '1399348',
          cashout: '2x',
          bet: 1,
          betTime: '04-12-2023 01:18:57 PM',
          payout: 2,

          status: 'win',
          draw: 13.63
        },
        {
          period: '1399348',
          cashout: '2x',
          bet: 1,
          betTime: '04-12-2023 01:18:57 PM',
          payout: 2,

          status: 'lose',
          draw: 13.63
        }
      ],
      gameRulePopup: false,
      state: 'waiting',
      showProgressLine: false,
      gameTimer: null,
      airplane: null,
      raf: null,
      tabIndex: 0,
      noData: false,
      checked: true,
      checked1: true,
      countDown1: 10, //游戏加载倒计时
      countDownTimer: null,

      winTimesInt: 1,
      winTimes: 1,
      winTimesFloat: 0,
      winTimesFloatDisplay: '',

      showLottie: true,
      rainTimer: null,
      url: '',
      rianElement: [
        {
          src: comet_red,
          width: '50px',
          height: '89px',
          deg: 45,
          left: '120px',
          top: '-85px',
          className: 'comet_red'
        },
        {
          src: comet_yellow,
          width: '100px',
          height: '110px',
          deg: 45,
          left: '-83px',
          top: '-152px',
          className: 'comet_yellow'
        },
        {
          name: 'user_bg',
          src: user_bg,
          width: '86px',
          height: '110px',
          deg: 45,
          left: '345px',
          top: '45px',
          className: 'user_bg'
        },
        {
          src: robot,
          width: '25px',
          height: '110px',
          deg: 45,
          left: '-25px',
          top: '220px',
          className: 'comet_yellow',
          name: 'robot'
        },
        {
          src: rocket_fire,
          width: '46px',
          height: '110px',
          deg: 45,
          left: '-45px',
          top: '200px',
          className: 'comet_yellow',
          name: 'robot'
        },
        {
          src: rocket,
          width: '46px',
          height: '110px',
          deg: 45,
          left: '-45px',
          top: '220px',
          className: 'comet_yellow',
          name: 'robot'
        }
      ]
    }
  },
  // created() {
  //   this.getLikeLists()
  // },
  // mounted() {
  //   // this.fireAnimatiom();

  //   this.lottieDom = document.getElementById('lottieDom')
  //   console.log(lottieDom)
  //   try {
  //     this.lottieDom.style.transform = `translate(${0}px,-${0}px) rotate(${90}deg)`
  //     this.lottie()
  //   } catch (err) {
  //     console.log(err)
  //   }

  //   this.gameInit()
  // },
  computed: {
    ...mapState(useSystemStore, ['balance'])
  },
  methods: {
    ...mapActions(useSystemStore, ['getProfile', 'updateBalance']),
    async getLikeLists() {
      const res = await ApiFavList()
      if (res.code == 0) {
        this.likeLists = res.data
        this.likeLists.forEach((like) => {
          if (like.id == this.game_id) {
            this.isColleced = true
          }
        })
      }
    },
    async addLike() {
      // this.isColleced=!this.isColleced

      if (!this.isColleced) {
        const res = await ApiAddFavour({
          game_id: this.game_id
        })
        if (res.code === 0) {
          this.isColleced = true
          ElMessage.success(res.msg)
          this.getLikeLists()
        } else {
          ElMessage.error(res.msg)
        }
      } else {
        const res = await ApiRemoveFavour({
          fav_id: this.game_id
        })
        if (res.code === 0) {
          ElMessage.success(res.msg)
          this.isColleced = false
        } else {
          ElMessage.error(res.msg)
        }
      }
    },
    // fireAnimatiom() {
    //   this.canvas = document.getElementById("crash_canvas");
    //   this.ctx = this.canvas.getContext("2d");
    //   var that = this;
    //   let imgUrl = require("@/assets/img/crash/smoke.png");
    //   this.loadImg(imgUrl)
    //     .then((img) => {
    //       let originImgWith = 117.6;
    //       let originImgHeiht = 46;
    //       let sx = 0; //截取图片的起始位置x
    //       let sy = 0; //截取图片的起始位置y
    //       let imgWith = 29.4;
    //       let imgHeight = 11.5;
    //       let dx = 0; //画的起始坐标x
    //       let dy = that.canvas.height - imgHeight * 2; //画的起始坐标y
    //       function fireDraw() {

    //         that.ctx.clearRect(0, 0, that.canvas.width, that.canvas.height);
    //         that.ctx.drawImage(
    //           img,
    //           sx,
    //           sy,
    //           originImgWith,
    //           originImgHeiht,
    //           dx,
    //           dy,
    //           imgWith,
    //           imgHeight
    //         );
    //         sx += 117.6;
    //         if (sx >= 1176) {
    //           sx = 0;
    //         }
    //         window.requestAnimationFrame(fireDraw);
    //       }

    //       fireDraw();
    //     })
    //     .catch();
    // },
    isShowWinPopup(data) {
      var that = this
      this.showWinPopup = true
      if (data) {
        this.winAmount = data.bonus
        this.winMultiplier = data.m
      }

      this.winPopUpTimer = setTimeout(() => {
        console.log('关闭', that.showWinPopup)
        that.showWinPopup = false
        console.log(that.showWinPopup)
        clearInterval(this.winPopUpTimer)
      }, 3000)
    },
    // 图片预加载
    loadImg(url) {
      return new Promise((resolve, reject) => {
        let img = new Image()
        img.onload = function () {
          resolve(img)
        }
        img.src = url
      })
    },

    bet() {
      if (this.ableCancel) {
        this.ableCancel = false
        this.isBetNextRound = false
        this.isShowNextRound = true
        this.btnText = 'bet'
      }
      if (this.isStopClickBetBtn) {
        return
      } else if (this.btnText === 'escape') {
        console.log('逃跑')
        // this.ableEscape = false;
        sendWebsocket({
          cmd: 'escape'
        })
      } else if (this.isShowNextRound) {
        this.ableCancel = true
        this.isShowNextRound = false
        this.isBetNextRound = true
        this.btnText = 'cancel'
        this.nextBetAmount = this.betAmount
      } else if (this.isReadyBet && this.isbetting && !this.isBetNextRound) {
        sendWebsocket({
          cmd: 'bet',
          amount: this.betAmount
        })
      }
    },

    stopBet() {
      this.isStopClickBetBtn = true
      this.showStopBet = true
      this.isStopBet = true
      if (this.isStopBet) {
        this.stopBetTime = 2
        this.stopBetTip = 'stop bet'

        this.countDownAudio()
      }
      let stopBetTime = setInterval(() => {
        this.stopBetTime--
        if (this.stopBetTime <= 0) {
          this.showStopBet = false
          this.isStopBet = false
          if (this.isReadyBet) {
            this.isStopClickBetBtn = false
            if (this.betSuccess) {
              this.btnText = 'escape'
            }
            if (!this.betSuccess) {
              this.isShowNextRound = true
            } else {
              this.isShowNextRound = false
            }
            if (this.isBetNextRound) {
              this.isBetNextRound = false
            }
          } else {
            this.gameStart()
          }
          clearInterval(stopBetTime)
        }
      }, 1000)
    },
    //播放发射的声音
    launchAudio() {
      if (this.muted) return
      if (this.$refs.launch) {
        this.$refs.launch.currentTime = 0
        this.$refs.launch.play()
      }
    },
    //播放坠毁的声音
    crashAudio() {
      if (this.muted) return
      if (this.$refs.crash) {
        this.$refs.crash.currentTime = 0
        this.$refs.crash.play()
      }
    },
    //播放倒计时的声音
    countDownAudio() {
      if (this.muted) return
      if (this.$refs.countdown) {
        this.$refs.countdown.currentTime = 0
        this.$refs.countdown.play()
      }
    },
    //投注金额减半
    half() {
      if (this.betAmount > this.min) {
        this.betAmount = this.betAmount / 2
      }
    },
    //投注金额减少
    minus() {
      if (this.times > 1) {
        this.times--
      }
    },
    //投注金额增加
    add() {
      this.times++
    },
    //生成从minNum到maxNum的随机数
    randomNum(minNum, maxNum) {
      switch (arguments.length) {
        case 1:
          return parseInt(Math.random() * minNum + 1, 10)
        case 2:
          return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10)
        default:
          return 0
      }
    },
    //跳转历史页面
    history() {
      var deviceHeight = window.screen.width
      if (deviceHeight >= 1000) {
        this.$historyPopup()
        return
      }
      this.$router.push('/history')
    },
    onWebSocketMessage(data) {
      console.log(data)
      var that = this
      if (data.code === -4) {
        ElMessage.error(data.msg)
      }
      if (data.balance) {
        this.updateBalance(data.balance)
      }
      if (data.user_num) {
        this.userNumber = this.randomNum(100, 300)
      }
      if (data.cmd === 'bet' && data.code === 0) {
        //投注成功
        this.btnText = 'waiting'
        that.betSuccess = true
        // that.ableEscape = true;
        that.isStopClickBetBtn = true
        that.isBetNextRound = false
      }
      if (data.result) {
        let res = {}
        that.ableEscapeStart = false
        if (data.result === 'win') {
          that.showWinPopup = true
          res.m = data.m
          res.bonus = data.bonus
          res.result = data.result
          that.isShowNextRound = true
        } else {
          that.isShowNextRound = false
          res.m = -1.0
          res.bonus = -data.amount
          res.result = data.result
        }
        this.myBetResults.push(data)
      }
      if (data.cmd === 'escape' && data.code === 0) {
        // that.ableEscape = false;
        that.ableEscapeStart = false
        that.realWinTimes = data.m
        that.btnText = 'bet'
        that.isShowNextRound = true
      }

      that.state = data.state
      if (that.state === 'betting' && that.isReadyBet) {
        that.isbetting = true
        that.ableCancel = false
        console.log(that.isBetNextRound)
        if (that.isBetNextRound) {
          that.btnText = 'waiting'
          that.isStopClickBetBtn = true
          console.log(that.isBetNextRound)
          sendWebsocket({
            cmd: 'bet',
            amount: that.nextBetAmount
          })
          // that.isBetNextRound = false;
        }
        if (!that.isBetNextRound) {
          that.isStopClickBetBtn = false
        }

        if (!that.isInitGame) {
          that.isCrash = false
          that.currentRound = data.round
          // this.isStopClickBetBtn = true;
          that.gameInit()
          that.isInitGame = true
        }
      } else if (that.state === 'waiting' && that.isReadyBet) {
        that.isbetting = false
        that.stopBet()
      } else if (that.state === 'raising') {
        that.winTimes = data.m
        console.log(that.winTimes)
        console.log(that.betSuccess, 'xioaya')
        if (!that.isGameStart && that.isReadyBet) {
          if (that.betSuccess) {
            console.log(that.betSuccess, '333333')
            // that.ableEscape = true;
            this.ableEscapeStart = true
            that.btnText = 'escape'
          } else {
            that.btnText = 'bet'
            this.isShowNextRound = true
          }
          // that.betSuccess=false
          that.isStopClickBetBtn = false
          that.isGameStart = true

          that.gameStart()
        }
      } else if (that.state === 'crash') {
        that.ableCancel = false
        that.ableEscapeStart = false
        // that.isBetNextRound = false;
        that.isShowNextRound = false
        if (that.isBetNextRound) {
          that.btnText = 'waiting'
          that.isStopClickBetBtn = true
        } else {
          that.btnText = 'bet'
          that.isStopClickBetBtn = false
        }
        if (!that.isCrash) {
          that.oldBetTimesRecords.push({
            times: data.n,
            id: that.currentRound
          })
          if (that.oldBetTimesRecords.length > 6) {
            that.$refs.betTimesWrap.style.transform = 'translateX(-56px)'
          }
          that.isCrash = true
        }

        that.isReadyBet = true
        that.boom()
        // that.ableEscape=false
        that.isGameStart = false
        that.isInitGame = false
        that.isShowNextRound = false
        that.isStopClickBetBtn = true
      }
      console.log(data)
    },

    //飞机坠毁爆炸
    boom(top, left) {
      this.rainTimer && clearInterval(this.rainTimer)
      this.gameTimer && clearInterval(this.gameTimer)
      this.countDownTimer && clearInterval(this.countDownTimer)
      this.meteorShowerTimer && clearInterval(this.meteorShowerTimer)
      this.winPopUpTimer && clearInterval(this.winPopUpTimer)

      this.showLottie = false
      window.cancelAnimationFrame(this.raf)
      this.ctx && this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)

      this.boomDonghua(this.airplane.x * 3.3, this.airplane.y * 2.8)

      this.crashAudio()
    },
    //流星雨
    meteorShower() {
      var meteorShowerElement = document.getElementById('meteor_shower')
      if (meteorShowerElement) return

      let i = parseInt(Math.random() * 6)

      let ele = this.rianElement[i]

      var img = document.createElement('img')
      img.setAttribute('id', 'meteor_shower')

      img.src = ele.src
      img.style.position = 'absolute'

      img.style.width = ele.width
      img.style.left = ele.left
      img.style.top = ele.top

      let parent = document.getElementById('canvas_container')
      parent && parent.appendChild(img)
      img.classList.add(ele.className)
      var x = 0
      var y = 0
      this.meteorShowerTimer = setInterval(() => {
        x++
        y++

        try {
          if (ele.name === 'user_bg') {
            x += 0.3
            img.style.transform = `translate(-${x}px,${y}px) rotate(${0}deg)`
            if (x > 400) {
              clearInterval(this.meteorShowerTimer)

              parent && parent.removeChild(img)
            }
          } else if (ele.name === 'robot') {
            x++
            img.style.transform = `translate(${x}px,-${y}px) rotate(${0}deg)`
            if (x > 400) {
              clearInterval(this.meteorShowerTimer)
              parent && parent.removeChild(img)
            }
          } else {
            if (x > 400) {
              clearInterval(this.meteorShowerTimer)
              parent && parent.removeChild(img)
            }
            img.style.transform = `translate(${x}px,${y}px) rotate(${0}deg)`
          }
        } catch (err) {
          console.log(err)
        }
      }, 30)
    },
    //飞机动画
    // lottie() {
    //   console.log('初始化飞机动画')
    //   if (!this.animotionAirplane) {
    //     this.animotionAirplane = lottie.loadAnimation({
    //       container: document.getElementById('imgWrapper'),
    //       renderer: 'svg',
    //       loop: true,
    //       autoplay: true,
    //       animationData: AstronautJSON
    //     })
    //   }
    //   console.log(this.animotionAirplane)

    //   try {
    //     if (this.animotionAirplane) {
    //       this.animotionAirplane.addEventListener('complete', () => {
    //         //结束动画
    //         console.log('动画结束')
    //       })
    //     }
    //   } catch (err) {
    //     console.log(err)
    //   }
    // },
    //初始化游戏
    gameInit() {
      var that = this
      this.showWinPopup = false
      this.progressLineWidth = 100

      this.showLottie = true
      if (this.lottieDom) {
        this.lottieDom.style.transform = `translate(${0}px,-${0}px) rotate(${90}deg)`
      }

      this.isGameStart = false
      this.isInitGame = true
      this.isShowNextRound = false
      if (this.isReadyBet && !this.isBetNextRound) {
        this.isStopClickBetBtn = false
      }

      this.winTimes = 1
      if (!this.isReadyBet) {
        this.winTimesInt = 1
        this.winTimesFloat = ''
        this.winTimesFloatDisplay = ''
      }

      this.showProgressLine = true

      var timeleft = 10000
      this.countDownTimer = setInterval(function () {
        if (timeleft <= 0) {
          clearInterval(that.countDownTimer)
          that.showProgressLine = false
          that.stopBet()
          return
        }
        timeleft -= 100
        var seconds = Math.floor(timeleft / 1000)
        var milliseconds = (timeleft - seconds * 1000) / 10
        that.countDown1 = seconds + ':' + milliseconds

        that.progressLineWidth = that.progressLineWidth - 1
        if (that.$refs.progressLine) {
          that.$refs.progressLine.style.width = that.progressLineWidth + '%'
        }
        var progress = timeleft / 10000
      }, 100)
    },

    gameStart() {
      var that = this
      this.launchAudio()
      // this.rainTimer = setInterval(() => {
      //   this.meteorShower();
      // }, 8000);

      this.winTimesInt = 1
      if (!this.isReadyBet) {
        this.gameTimer = setInterval(() => {
          this.winTimesFloat++

          if (this.winTimesFloat >= 99) {
            this.winTimesFloat = 0
            this.winTimesInt++
          }
          if (this.winTimesFloat < 10) {
            this.winTimesFloatDisplay = '.' + '0' + this.winTimesFloat
          } else {
            this.winTimesFloatDisplay = '.' + this.winTimesFloat
          }
        }, 50)
      }

      var ballArr = []
      let opt = 0

      const canvas = document.getElementById('crash_canvas')
      const ctx = canvas.getContext('2d')
      that.ctx = ctx
      that.canvas = canvas
      let img = new Image()
      img.src = airplaneimg
      img.onload = function () {
        requestAnimationFrame(draw)
      }

      const airplane = {
        x: 0,
        y: 0,
        oldx: 0,
        oldy: 0,
        vx: 5,
        vy: 2,
        radius: 25,
        color: 'rgba(255, 217, 145, 1)',
        draw() {
          // console.log(111)
          ctx.strokeStyle = 'red'
          ctx.lineWidth = 1
          ctx.lineJoin = 'round'
          ctx.lineCap = 'round'

          ctx.save()
          ctx.translate(0, canvas.height)
          ctx.rotate(Math.PI)
          ctx.scale(-1, 1)

          let offdeg = 90 - (60 / 280) * this.x
          if (offdeg < 0) {
            offdeg = 0
          }

          if (that.lottieDom) {
            that.lottieDom.style.transform = `translate(${this.x}px,-${this.y}px) rotate(${offdeg}deg)`
          }

          if (ballArr.length > 0) {
            for (var i = ballArr.length - 1; i >= 0; i--) {
              let ball = ballArr[i]
              let num = ballArr.length
              let cr = 4 / num
              let ballr = 4 - (num - i) * cr
              let aph = 1 - (1 / num) * (num - i)
              if (ballr >= 0) {
                ball.r = ballr
              } else {
                ball.r = 0.1
              }
              this.color = `rgba(255, 217, 145, ${aph})`
              ctx.beginPath()
              ctx.arc(ballArr[i].x + 40, ballArr[i].y + 23.5, ball.r, 0, Math.PI * 2, true)
              ctx.closePath()
              ctx.fillStyle = this.color
              ctx.fill()
            }
          }

          ctx.restore()
        }
      }
      this.airplane = airplane

      createWebSocket(`crash`, this.onWebSocketMessage)

      function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height)

        if (airplane.y - 27.5 >= canvas.height - 180) {
        } else {
          opt += 0.001
          let ball = {
            x: airplane.x,
            y: airplane.y,
            opc: opt
          }
          ballArr.push(ball)
          airplane.oldx = airplane.x
          airplane.oldy = airplane.y
          airplane.x += 2
          airplane.y = 0.0022 * airplane.x * airplane.x
        }
        airplane.draw()

        that.raf = window.requestAnimationFrame(draw)
      }
    },
    gameStart1() {
      var that = this
      this.launchAudio()

      this.winTimesInt = 1
      if (!this.isReadyBet) {
        this.gameTimer = setInterval(() => {
          this.winTimesFloat++

          if (this.winTimesFloat >= 99) {
            this.winTimesFloat = 0
            this.winTimesInt++
          }
          if (this.winTimesFloat < 10) {
            this.winTimesFloatDisplay = '.' + '0' + this.winTimesFloat
          } else {
            this.winTimesFloatDisplay = '.' + this.winTimesFloat
          }
        }, 50)
      }

      var ballArr = [] //飞行线的数组
      let opt = 0 //飞行线的透明度

      const canvas = document.getElementById('crash_canvas')
      const ctx = canvas.getContext('2d')
      that.ctx = ctx
      that.canvas = canvas
      //烟雾
      let originImgWith = 117.6
      let originImgHeiht = 46
      let sx = 0 //截取图片的起始位置x
      let sy = 0 //截取图片的起始位置y
      let imgWith = 29.4
      let imgHeight = 11.5
      let dx = 0 //画的起始坐标x
      let dy = that.canvas.height - imgHeight * 2 //画的起始坐标y
      let imgFire = ''
      // let img = new Image();
      // img.src = require("@/assets/img/crash/airplane.png");
      // img.onload = function () {
      //   requestAnimationFrame(draw);
      // };
      let imgUrl = require('@/assets/img/crash/smoke.png')
      this.loadImg(imgUrl)
        .then((img) => {
          imgFire = img
          requestAnimationFrame(draw)
          // function fireDraw() {

          //   // that.ctx.clearRect(0, 0, that.canvas.width, that.canvas.height);
          //   that.ctx.drawImage(
          //     img,
          //     sx,
          //     sy,
          //     originImgWith,
          //     originImgHeiht,
          //     dx,
          //     dy,
          //     imgWith,
          //     imgHeight
          //   );
          //   sx += 117.6;
          //   if (sx >= 1176) {
          //     sx = 0;
          //   }
          //   window.requestAnimationFrame(fireDraw);
          // }

          // fireDraw();
        })
        .catch()
      const airplane = {
        x: 0,
        y: 0,
        oldx: 0,
        oldy: 0,
        vx: 5,
        vy: 2,
        radius: 25,
        color: 'rgba(255, 217, 145, 1)',
        draw() {
          ctx.save()
          ctx.translate(0, canvas.height)
          ctx.rotate(Math.PI)
          ctx.scale(-1, 1)
          // ctx.drawImage(img, 0, 0);

          let offdeg = (60 / 280) * this.x
          if (offdeg > 90) {
            offdeg = 0
          }
          ctx.save()
          console.log(offdeg)
          let angle = 360 - (offdeg * Math.PI) / 180
          ctx.rotate(angle)
          dx = this.x + 40
          dy = this.y + 23.5
          // ctx.translate(dx, dy)
          that.ctx.drawImage(
            imgFire,
            sx,
            sy,
            originImgWith,
            originImgHeiht,
            dx,
            dy,
            imgWith,
            imgHeight
          )
          ctx.restore()
          sx += 117.6
          if (sx >= 1176) {
            sx = 0
          }
          if (ballArr.length > 0) {
            for (var i = ballArr.length - 1; i >= 0; i--) {
              let ball = ballArr[i]
              let num = ballArr.length
              let cr = 4 / num
              let ballr = 4 - (num - i) * cr
              let aph = 1 - (1 / num) * (num - i)
              if (ballr >= 0) {
                ball.r = ballr
              } else {
                ball.r = 0.1
              }
              this.color = `rgba(255, 217, 145, ${aph})`
              ctx.beginPath()
              ctx.arc(ballArr[i].x + 40, ballArr[i].y + 23.5, ball.r, 0, Math.PI * 2, true)
              ctx.closePath()
              ctx.fillStyle = this.color
              ctx.fill()
            }
          }
          ctx.restore()
        }
      }

      function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height)

        if (airplane.y - 27.5 >= canvas.height - 180) {
        } else {
          opt += 0.001
          let ball = {
            x: airplane.x,
            y: airplane.y,
            opc: opt
          }
          ballArr.push(ball)
          airplane.oldx = airplane.x
          airplane.oldy = airplane.y
          airplane.x += 2
          airplane.y = 0.0022 * airplane.x * airplane.x
        }
        airplane.draw()

        that.raf = window.requestAnimationFrame(draw)
      }
    },
    //爆炸动画
    boomDonghua(x, y) {
      var canvas = document.getElementById('boom_canvas')
      canvas.width = window.innerWidth
      canvas.height = window.innerHeight
      var content2d = canvas.getContext('2d')
      var fireBalls = [] //存储小球对象
      //创建球球对象
      function fireBall() {
        this.color = null
        this.r = null
        this.Angle = null
        this.x = null
        this.y = null
        this.AngleX = null
        this.AngleY = null
        //创建小球的方法
        this.init = function (x, y) {
          this.color = this.randomColor()
          this.x = x //坐标
          this.y = y
          this.r = this.randomNum(5, 8)
          this.Angle = Math.random() * Math.PI * 2 //随机产生的角度
          this.AngleX = this.randomNum(6, 12) * Math.cos(this.Angle) //x坐标移动的距离
          this.AngleY = this.randomNum(6, 12) * Math.sin(this.Angle) //y坐标移动的距离
        }

        //小球移动
        this.move = function () {
          this.x += this.AngleX
          this.y += this.AngleY
          this.r -= 0.3
          this.AngleX *= 0.82 //控制扩散的距离
          this.AngleY *= 0.82
        }
        //创建小球随机颜色方法
        this.randomColor = function () {
          return '#ffd991'
        }
        //创建随机数的方法
        this.randomNum = function (min, max) {
          return Math.random() * max + min
        }
      }

      //实例化球球
      function createFireBall(x, y) {
        console.log(x, y)
        var count = parseInt(Math.random() * 40 + 10)
        for (var i = 0; i < count; i++) {
          var b = new fireBall()
          b.init(x, y)
          fireBalls.push(b)
        }
      }

      //在canvas上画球球
      function Draw() {
        for (var i = 0; i < fireBalls.length; i++) {
          var b = fireBalls[i]
          content2d.save()
          content2d.translate(0, canvas.height)
          content2d.rotate(Math.PI)
          content2d.scale(-1, 1)
          content2d.beginPath()
          content2d.fillStyle = b.color
          content2d.arc(b.x, b.y, b.r, 0, Math.PI * 2)
          content2d.fill()
          content2d.closePath()
          content2d.restore()
          b.move() //画好后要移动
        }
      }

      //小球消失
      function removeFireBall() {
        for (var i = 0; i < fireBalls.length; i++) {
          var b = fireBalls[i]
          if (b.r < 0.3) {
            fireBalls.splice(i, 1)
            i--
          }
        }
      }

      loop()
      function loop() {
        //清除整个画布
        content2d.clearRect(0, 0, canvas.width, canvas.height)
        Draw()
        removeFireBall()
        window.requestAnimationFrame(loop)
        /* 告诉浏览器您要执行的动画并且请求浏览器的在下一个动画帧重绘窗口,方法在浏览器重绘之前作为一个回调函数被调用,
         就是告诉浏览器在刷新屏幕的时候，调用这个方法*/
      }
      createFireBall(x, y)
    }
  },

  beforeUnmount() {
    // 清理数据和事件监听器
    console.log('销毁')
    this.gameTimer && clearInterval(this.gameTimer)
    this.rainTimer && clearInterval(this.rainTimer)
    this.countDownTimer && clearInterval(this.countDownTimer)
    this.meteorShowerTimer && clearInterval(this.meteorShowerTimer)
    this.winPopUpTimer && clearInterval(this.winPopUpTimer)

    this.animotionAirplane && this.animotionAirplane.destroy()

    closeWebsocket(false)
  },
  destoryed() {}
}
</script>

<style lang="scss" scoped>
.comet_red {
  position: absolute;
  width: 22px;
  height: 180px;
  top: 0;
  left: 0;
}
.comet_yellow {
  position: absolute;
  width: 22px;
  height: 180px;
  top: 0;
  left: 0;
}
#crash {
  padding-bottom: 200px;

  .body {
    box-sizing: border-box;
    .crash_title {
      text-align: center;
      margin-top: 0;
      font-size: 32px;
      font-weight: 600;
    }
    .nav {
      height: 77px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      > span {
        cursor: pointer;
        width: 77px;
        height: 77px;
        background: #49515b;
        border-radius: 50%;
        align-items: center;

        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 50px;
          height: 50px;
        }
      }
      > div {
        width: 115px;
        height: 77px;
        background: #49515b;
        border-radius: 75px;
        display: flex;
        align-items: center;
        padding: 24px;
        box-sizing: border-box;
        > img {
          width: 50px;
          height: 50px;
        }
        > span {
          flex: 1;
          text-align: center;
        }
      }
    }
    .canvas_container {
      height: 626px;
      width: 690px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      .win_popup {
        position: absolute;
        z-index: 99999;
        width: 468px;
        height: 236px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.45);
        mix-blend-mode: normal;
        border: 1px solid #ffffff;
        backdrop-filter: blur(13px);

        padding: 2px 25px;
        border-radius: 20px;
        .win_amount {
          text-align: center;
          margin-top: 70px;
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 28px;
        }
        .multiplier {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .win_popup_img {
          width: 470px;
          position: absolute;
          top: -240px;
          left: 0;
        }
      }
      #boom {
        position: absolute;
        width: 200px;
        // height: ;
      }
      .win_times {
        position: absolute;
        font-size: 96px;
        font-weight: 600;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      .progress_line {
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        > p {
          text-align: center;
          font-size: 24px;
        }
      }
      .stopBet {
        text-align: center;
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        > p {
          text-align: center;
          font-size: 24px;
        }
      }
      .loading_speed {
        width: 202px;
        height: 20px;
        border-radius: 20px;
        background: #2c3143;

        margin: 0px auto;
        overflow: hidden;
        position: relative;
        .inner_line {
          width: 100%;
          height: 100%;

          background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
          border-radius: 20px;
        }
        // &:after {
        //   content: "";
        //   width: 100%;
        //   height: 100%;

        //   background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
        //   border-radius: 10px;
        //   animation: sped 10s linear forwards;
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   animation-play-state: paused;
        // }
      }
      .running {
        &:after {
          animation-play-state: running;
        }
      }
      .bet_times {
        width: 690px;
        position: absolute;
        height: 84px;
        padding: 0 26px;
        box-sizing: border-box;
        overflow: hidden;
        > div {
          height: 84px;
          min-width: 690px;
          display: flex;
          align-items: center;
          position: absolute;
          > span {
            width: 96px;
            height: 43.2px;
            background: #e75b20;
            border-radius: 24px;
            text-align: center;
            line-height: 43.2px;
            font-size: 24px;
            transform: translate(0.83);
            margin-right: 12px;
          }
        }
      }
      .lottieMain {
        position: absolute;
        transform: rotate(90deg);
        bottom: -40px;
        left: 30px;
        z-index: 3;
        // transform: translateX(-47.5px);
      }
    }
    #crash_canvas {
      width: 100%;
      background: #161a2b;
      border-radius: 20px;
      background-image: url('../assets/img/crash/bg.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    #boom_canvas {
      top: 0;
      left: 0;
      position: absolute;
      width: 690px;
      height: 626px;
    }
    .cash_in_box {
      height: 100px;
      padding: 12px 20px;
      box-sizing: border-box;
      border-radius: 20px;
      border: 2px solid #5a5e6d;
      background: #1e242c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .minus,
      .add {
        cursor: pointer;
        width: 82px;
        height: 50px;
        background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
        border: 2px solid #474d5c;
        box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.159212);
        border-radius: 80px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
      }
      .times {
        > span {
          color: #585f71;
          font-size: 24px;
        }
        > p {
          margin: 4px 0;
          text-align: center;
          font-weight: 600;
        }
      }
    }
    .amount_box {
      height: 158px;
      display: flex;
      margin: 20px 0;
      justify-content: space-between;
      .bet_amount {
        width: 496px;
        height: 100%;
        background: #1e242c;
        border: 2px solid #5a5e6d;
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        color: #7b8398;
        > .bet_amount_inputbox {
          margin: 0 20px;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 104px;
          margin: 0;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: #ffd991;
          > p {
            margin: 0;
            margin-left: 40px;
          }
          > input {
            text-align: center;
            min-width: 200px;
            background: transparent;
            border: none;
            outline: none;
          }
        }
        > div {
          width: 84px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          > span {
            cursor: pointer;
            width: 100%;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
            border: 2px solid #474d5c;
            box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.159212);
            border-radius: 80px;
            box-sizing: border-box;
            font-size: 24px;
          }
          .active {
            background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
            border: 2px solid #ffe4b0;
            border-radius: 60px;
            color: #724003;
          }
        }
      }
      .bet_btn {
        width: 174px;
        height: 100%;
        background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
        border: 2px solid #ffe4b0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #724003;
        box-sizing: border-box;
        > p {
          margin: 4px;
          font-size: 30px;
          font-weight: 600;
        }
      }
      .stop_status {
        opacity: 0.7;
        cursor: not-allowed;
      }
      .escape_status {
        opacity: 1;
        cursor: pointer;
        background: #7ebf12;
        color: #fff;
      }
    }
    .bet_content {
      padding: 30px 20px;
      box-sizing: border-box;
      background: #1a1f25;
      border-radius: 20px;
      min-height: 480px;
      .tabs {
        display: flex;
        margin-bottom: 50px;
        > span {
          flex: 1;
          height: 40px;
          text-align: center;
          position: relative;
        }
        > .tab_active {
          font-weight: 600;
          color: #ffd991;
        }
        > .tab_active::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 54px;
          background-image: url('../assets/img/arrow_top.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          top: 24px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .bet_data_box {
        .rank_box {
          // display: none;
          width: 100%;
          height: 1048px;
          background: #1a1f25;
          border-radius: 10px;

          .title {
            padding: 0 48px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            background: #272d35;
            color: #7b8398;
          }
          > ul {
            padding: 34px 48px;
            box-sizing: border-box;
            > li {
              height: 90px;
              display: flex;
              align-items: center;
              > span {
                flex: 1;
                text-align: center;
                display: flex;
                justify-content: center;
                > span {
                  padding: 10px;
                  font-size: 24px;
                  background: #7ebf12;
                  border-radius: 40px;
                  display: block;
                  text-align: center;
                  line-height: 34px;
                }
                .fail {
                  background: #fc5252 !important;
                }
              }
              .bet {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-weight: 600;
                color: #32d850;
                font-size: 26px;
              }
              .user {
                flex: 1;
                display: flex;
                align-items: center;
                font-weight: 600;
                > img {
                  width: 38px;
                  height: 38px;
                  margin-right: 16px;
                }
              }
            }
          }
        }
        .list {
          margin-top: 30px;

          ul {
            padding: 20px 30px;
            box-sizing: border-box;
            border-radius: 20px;
            background: #2f3a47;
            margin-bottom: 20px;
          }
          .list_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > p {
              color: #7b8398;
              margin: 10px 0;
            }
            > span {
              // color: #ffd991;
              font-size: 28px;
            }
          }
        }
        > ul {
          > li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            > div {
              > p {
                margin: 0px 0 16px 0;
              }
            }
            .switch_box {
              display: flex;
              align-items: center;
              font-size: 24px;
              margin-bottom: 20px;
              .van-switch {
                margin: 0 16px;
                // width: 38px;
                // height: 18px;
              }
              // justify-content: space-between;
            }
            .bet_data_input {
              width: 210px;
              height: 90px;
              background: #272c31;
              border-radius: 70px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 24px;
              box-sizing: border-box;
              font-weight: 600;
              input {
                border: none;
                outline: none;
                background: transparent;
                width: 180px;
                // flex: 1;
              }
            }
          }
        }
        .nodata {
          margin: 44px auto;
          width: 224px;
          > img {
            width: 224px;
            height: 204px;
          }
          > p {
            text-align: center;
            font-size: 24px;
            color: #7b8398;
          }
        }
      }
    }
  }
  @keyframes sped {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
}
@media (min-width: 1000px) {
  #crash {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    // display: flex;
    margin-top: 60px;
    margin-left: calc(50vw - 629px);
    .public_header_box {
      display: none;
    }
    .content_wrap {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      .rank_box {
        display: block;
      }
    }

    .header {
      display: block !important;
    }

    .body {
      width: 790px;
      background: #1a1f25;
      margin-bottom: 20px;
      border: 5px;
      margin-top: 70px;
      // margin-left: 30px;
      .cash_in_box_wrap {
        margin-top: 15px;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        .cash_in_box {
          height: 79px;
          width: 297px;
          margin: 0;
          margin-right: 10px;
        }
        .amount_box {
          flex: 1;
          margin: 0;
          .bet_amount {
            width: 330px;
          }
        }
      }
      .bet_data_box {
        li {
          > div {
            width: 334px;
            .bet_data_input {
              width: 334px !important;
            }
          }
        }
      }
      .top_box {
        top: 0px;
        width: 1200px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        background: #1a1f25;
        align-items: center;
        padding: 10px 15px;
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        .crash_title {
          margin: 0;
        }
        .nav {
          width: 300px;
          // margin-left: 400px;
          margin: 0;
        }
      }
    }
  }
}
</style>
