<template>
  <div id="crash" pt-20px px-20px>
    <div mb-20px flex justify-between items-center text-white text-center>
      <div flex items-center>
        <div w-158px h-60px bg-tay-bg-17 leading-60px rounded-10px>Crash</div>
        <div ml-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center>
          <img mr-10px w-26px h-26px src="@/assets/img/mines/user.png" alt="" />
          <span>{{ userNumber }}</span>
        </div>
      </div>
      <div flex items-center>
        <div @click="addLike" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-22px h-20px :src="isColleced ? imgHeartAct : imgHeart" alt="" />
        </div>
        <div @click="muted = !muted" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-25px h-23px :src="!muted ? imgBear : imgBearNo" alt="" />
        </div>
        <div h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center justify-center>
          <img w-31px h-31px src="@/assets/img/mines/time.png" alt="" />
        </div>
      </div>
    </div>

    <div class="content_wrap">
      <div class="body">
        <div class="canvas_container" id="canvas_container">
          <div class="win_popup" v-if="showWinPopup">
            <div class="win_amount">R$ {{ winAmount }}</div>
            <div class="multiplier">
              <span>Multiplier</span>
              <span>{{ winMultiplier }}x</span>
            </div>
            <img class="win_popup_img" src="@/assets/img/mines/win_popup.png" alt="" />
          </div>
          <!-- <div id="boom" v-show="isBoom"></div> -->
          <div class="win_times" v-if="isReadyBet">{{ winTimes }}x</div>
          <div v-else class="win_times">{{ winTimesInt }} {{ winTimesFloatDisplay }}x</div>
          <!-- 游戏开始进度条 -->
          <div class="progress_line" v-show="showProgressLine">
            <div class="loading_speed" :class="showProgressLine ? 'running' : ''">
              <div
                :style="{ width: `${progressLineWidth}px` }"
                ref="progressLineref"
                class="inner_line"
              ></div>
            </div>
            <p>{{ betTip }}</p>
            <!-- <p>{{ countDown1 }}</p> -->
            <van-count-down
              class="text-center"
              ref="countDownvanref"
              :auto-start="false"
              millisecond
              format="ss:SS"
              :time="10000"
              @finish="onFinish"
              @change="timechange"
            />
          </div>
          <div class="stopBet" v-if="showStopBet">
            <p>{{ stopBetTip }}</p>
            <span>{{ stopBetTime }}s</span>
          </div>
          <div class="bet_times">
            <div class="bet_times_wrap" ref="betTimesWrapref">
              <span v-for="(item, index) in oldBetTimesRecords" :key="item.id"
                >{{ item.times }}x</span
              >
            </div>
          </div>
          <div
            ref="lottieDom"
            class="lottieMain"
            v-show="showLottie"
            id="lottieDom"
            style="width: 50px"
          >
            <div id="imgWrapper"></div>
          </div>
          <canvas id="crash_canvas" width="345" height="313"></canvas>
          <canvas id="boom_canvas" width="345" height="313"></canvas>
        </div>
        <div class="cash_in_box_wrap">
          <div class="cash_in_box">
            <div class="minus" @click="minus">-</div>
            <div class="times">
              <span>Cashout in</span>
              <p>x{{ times }}.00</p>
            </div>
            <div class="add" @click="add">+</div>
          </div>
          <div class="amount_box">
            <div class="bet_amount">
              <div>
                <span @click="betAmount = min">MIN</span>
                <span @click="half">1/2</span>
              </div>
              <div class="bet_amount_inputbox">
                <p>₱</p>
                <input type="number" pattern="[0-9]*" v-model="betAmount" />
              </div>
              <div>
                <span @click="betAmount = max">MAX</span>
                <span @click="betAmount = betAmount * 2">2X</span>
              </div>
            </div>
            <div
              class="bet_btn"
              @click="bet"
              :class="ableEscapeStart ? 'escape_status' : isStopClickBetBtn ? 'stop_status' : ''"
            >
              <p>
                {{ btnText }}
              </p>
              <span v-if="isShowNextRound && !ableEscapeStart">next round</span>
            </div>
          </div>
        </div>

        <div class="bet_content">
          <div class="tabs">
            <span :class="tabIndex === 0 ? 'tab_active' : ''" @click="tabIndex = 0"
              >MY HISTORY</span
            >
            <span :class="tabIndex === 1 ? 'tab_active' : ''" @click="tabIndex = 1"
              >ALL PLAYERS</span
            >
          </div>

          <div class="bet_data_box">
            <div class="list" v-if="tabIndex === 0">
              <ul>
                <li class="list_item">
                  <p>Period</p>
                  <p>Cashout</p>
                  <p>Bet</p>
                  <p>Payout</p>
                </li>
                <li
                  class="list_item"
                  style="margin-top: 10px"
                  v-for="(historyList, index) in myBetResults"
                  :key="index"
                >
                  <span>{{ historyList.round }}</span>
                  <span style="color: #fff">{{ historyList.m }}</span>
                  <span>{{ historyList.amount }}</span>
                  <span>{{ historyList.bonus }}</span>
                </li>
              </ul>
            </div>
            <ul v-if="tabIndex === 1">
              <div class="rank_box">
                <div class="title">
                  <span>User</span>
                  <span>Multiplier</span>
                  <span>Bet</span>
                </div>
                <ul>
                  <li v-for="item in myBetResults" :key="item.round">
                    <div class="user">
                      <img src="@/assets/img/pc/avatar.png" alt="" />
                      <span> Hidden </span>
                    </div>
                    <span class="times"
                      ><span :class="item.result == 'fail' || item.result == 'lose' ? 'fail' : ''"
                        >x{{ item.odd }}</span
                      ></span
                    >
                    <div class="bet">
                      <span>{{ currencySymbol }} {{ item.bonus }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </ul>
            <div class="nodata" v-if="noData">
              <img src="@/assets/img/nodata.png" alt="" />
              <p>No Data</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <Rank :myBetResults="myBetResults"></Rank> -->
    </div>
    <!-- <GameRule @closePopup="gameRulePopup = false" v-if="gameRulePopup" /> -->
    <audio ref="countdownref" :src="countdownmp3" preload="none" id="countdown" hidden></audio>
    <audio ref="launchref" :src="launchmp3" preload id="launch" hidden :muted="muted"></audio>
    <audio ref="crashref" :src="crashmp3" preload id="crash" :muted="muted" hidden></audio>
  </div>
</template>
<script setup>
import { nextTick, onMounted, ref } from 'vue'
import { ApiFavList, ApiAddFavour, ApiRemoveFavour } from '@api/request.js'
import lottie from 'lottie-web'
import AstronautJSON from '@/assets/img/crash/fire.json'
import launchmp3 from '@/assets/audio/launch.mp3'
import crashmp3 from '@/assets/audio/crash.mp3'
import countdownmp3 from '@/assets/audio/countdown.mp3'
import imgBear from '@img/mines/bear.png'
import imgBearNo from '@img/mines/bear-not.png'
import imgHeartAct from '@img/mines/heart-act.png'
import imgHeart from '@img/mines/heart.png'
import airplaneimg from '@/assets/img/crash/airplane.png'
import comet_red from '@/assets/img/crash/comet_red.png'
import comet_yellow from '@/assets/img/crash/comet_yellow.png'
import user_bg from '@/assets/img/crash/user_bg.png'
import robot from '@/assets/img/crash/robot.png'
import rocket_fire from '@/assets/img/crash/rocket_fire.png'
import rocket from '@/assets/img/crash/rocket.png'
import { ElMessage } from 'element-plus'
import { sendWebsocket, closeWebsocket, createWebSocket } from '@/utils/ws1.js'
import { randomNum } from '@utils/tool.js'
import { useSystemStore } from '@/stores/system'

const sysStore = useSystemStore()

const userNumber = ref(0)
const isColleced = ref(false)
const likeLists = ref([]) //收藏列表
const game_id = ref(1) //游戏id
const betSuccess = ref(false) //是否已经下注成功
const btnText = ref('bet')
const winPopUpTimer = ref(null) //弹窗显示计时器
const winAmount = ref('')
const winMultiplier = ref('')
const showWinPopup = ref(false)
const ableCancel = ref(false)
const isStopBet = ref(false) //停止投注
const currentBetAmount = ref('') //当前局下注金额
const nextBetAmount = ref('') //下一局下注金额
const myBetResults = ref([]) //我的输赢结果
const oldBetTimesRecords = ref([]) //历史爆炸倍数
const realWinTimes = ref('') //真实赢的倍数
const isBetNextRound = ref(false) //是否投注下一局
const ableEscapeStart = ref(false) //可以开始逃跑
const currentRound = ref('') //当前局数
const isCrash = ref(false) //是否已经爆炸
const isBoom = ref(false) //是否显示爆炸动画
const lottieDom = ref(null)
const isReadyBet = ref(false) //是否已经可以投注
const meteorShowerTimer = ref(null) //流行雨定时器
const airplaneData = ref(null)
const ctx = ref(null)
const canvas = ref(null)
const isStopClickBetBtn = ref(true)
const isShowNextRound = ref(false)
const stopBetTip = ref('stop bet')
const showStopBet = ref(false)
const stopBetTime = ref(2)
const betTip = ref('bet')
const isbetting = ref(false) //是否可以投注
const isGameStart = ref(false) //是否已经开始游戏
const isInitGame = ref(false) //是否初始化游戏
const animationBoom = ref(null) //爆炸动画
const animotionAirplane = ref(null) //飞机动画
const muted = ref(false)
const autoplay = ref(false)
const progressLineWidth = ref(100) //进度条的宽度
const min = ref(1)
const max = ref(1000)
const betAmount = ref(1) //下注金额
const times = ref(1) //倍数
const historyData = ref([
  {
    period: '1399348',
    cashout: '2x',
    bet: 1,
    betTime: '04-12-2023 01:18:57 PM',
    payout: 2,

    status: 'win',
    draw: 13.63
  },
  {
    period: '1399348',
    cashout: '2x',
    bet: 1,
    betTime: '04-12-2023 01:18:57 PM',
    payout: 2,

    status: 'lose',
    draw: 13.63
  }
])
const gameRulePopup = ref(false)
const state = ref('waiting')
const showProgressLine = ref(false)
const gameTimer = ref(null)
const raf = ref(null)
const tabIndex = ref(0)
const noData = ref(false)
const checked = ref(true)
const checked1 = ref(true)
const winTimesInt = ref(1)
const winTimes = ref(1)
const winTimesFloat = ref(0)
const winTimesFloatDisplay = ref('')
const showLottie = ref(true)
const rainTimer = ref(null)
const url = ref('')
const rianElement = ref([
  {
    src: comet_red,
    width: '50px',
    height: '89px',
    deg: 45,
    left: '120px',
    top: '-85px',
    className: 'comet_red'
  },
  {
    src: comet_yellow,
    width: '100px',
    height: '110px',
    deg: 45,
    left: '-83px',
    top: '-152px',
    className: 'comet_yellow'
  },
  {
    name: 'user_bg',
    src: user_bg,
    width: '86px',
    height: '110px',
    deg: 45,
    left: '345px',
    top: '45px',
    className: 'user_bg'
  },
  {
    src: robot,
    width: '25px',
    height: '110px',
    deg: 45,
    left: '-25px',
    top: '220px',
    className: 'comet_yellow',
    name: 'robot'
  },
  {
    src: rocket_fire,
    width: '46px',
    height: '110px',
    deg: 45,
    left: '-45px',
    top: '200px',
    className: 'comet_yellow',
    name: 'robot'
  },
  {
    src: rocket,
    width: '46px',
    height: '110px',
    deg: 45,
    left: '-45px',
    top: '220px',
    className: 'comet_yellow',
    name: 'robot'
  }
])

// 倒计时
const countDownvanref = ref(null)
const start = () => {
  console.log('progressLineWidth', progressLineWidth.value)
  countDownvanref.value.start()
}
const pause = () => {
  countDownvanref.value.pause()
}
const reset = () => {
  console.log('计时器重置', countDownvanref.value)
  countDownvanref.value.reset()
}

const onFinish = () => {
  showProgressLine.value = false
  stopBet()
}

const countdownref = ref(null)
//播放倒计时的声音
const countDownAudio = () => {
  console.log('播放', muted.value)
  if (muted.value) return
  nextTick(() => {
    console.log('ref', countdownref.value)
    if (countdownref.value) {
      countdownref.value.currentTime = 0
      countdownref.value.play()
    }
  })
}

const launchref = ref(null)
const launchAudio = () => {
  if (muted.value) return
  nextTick(() => {
    console.log('ref', launchref.value)
    if (launchref.value) {
      launchref.value.currentTime = 0
      launchref.value.play()
    }
  })
}

const stopBet = () => {
  isStopClickBetBtn.value = true
  showStopBet.value = true
  isStopBet.value = true
  if (isStopBet.value) {
    stopBetTime.value = 2
    stopBetTip.value = 'stop bet'
    countDownAudio()
  }
  let timer = setInterval(() => {
    stopBetTime.value--
    if (stopBetTime.value <= 0) {
      showStopBet.value = false
      isStopBet.value = false
      if (isReadyBet.value) {
        isStopClickBetBtn.value = false
        if (betSuccess.value) {
          btnText.value = 'escape'
        }
        if (!betSuccess.value) {
          isShowNextRound.value = true
        } else {
          isShowNextRound.value = false
        }
        if (isBetNextRound.value) {
          isBetNextRound.value = false
        }
      } else {
        gameStart()
      }
      clearInterval(timer)
    }
  }, 1000)
}

const gameStart = () => {
  console.log('倒计时结束', countDownvanref.value)
  launchAudio()
  winTimesInt.value = 1
  if (!isReadyBet.value) {
    gameTimer.value = setInterval(() => {
      winTimesFloat.value++

      if (winTimesFloat.value >= 99) {
        winTimesFloat.value = 0
        winTimesInt.value++
      }
      if (winTimesFloat.value < 10) {
        winTimesFloatDisplay.value = '.' + '0' + winTimesFloat.value
      } else {
        winTimesFloatDisplay.value = '.' + winTimesFloat.value
      }
    }, 50)
  }

  var ballArr = []
  let opt = 0

  const canvas = document.getElementById('crash_canvas')
  const ctx = canvas.getContext('2d')
  ctx.value = ctx
  canvas.value = canvas
  let img = new Image()
  img.src = airplaneimg
  img.onload = function () {
    requestAnimationFrame(draw)
  }

  let airplane = {
    x: 0,
    y: 0,
    oldx: 0,
    oldy: 0,
    vx: 5,
    vy: 2,
    radius: 25,
    color: 'rgba(255, 217, 145, 1)',
    draw() {
      // console.log(111)
      ctx.strokeStyle = 'red'
      ctx.lineWidth = 1
      ctx.lineJoin = 'round'
      ctx.lineCap = 'round'

      ctx.save()
      ctx.translate(0, canvas.height)
      ctx.rotate(Math.PI)
      ctx.scale(-1, 1)
      console.log('this.x', this.x)
      let offdeg = 90 - (60 / 280) * this.x
      if (offdeg < 0) {
        offdeg = 0
      }

      if (lottieDom.value) {
        lottieDom.value.style.transform = `translate(${this.x}px,-${this.y}px) rotate(${offdeg}deg)`
      }

      if (ballArr.length > 0) {
        for (var i = ballArr.length - 1; i >= 0; i--) {
          let ball = ballArr[i]
          let num = ballArr.length
          let cr = 4 / num
          let ballr = 4 - (num - i) * cr
          let aph = 1 - (1 / num) * (num - i)
          if (ballr >= 0) {
            ball.r = ballr
          } else {
            ball.r = 0.1
          }
          this.color = `rgba(255, 217, 145, ${aph})`
          ctx.beginPath()
          ctx.arc(ballArr[i].x + 40, ballArr[i].y + 23.5, ball.r, 0, Math.PI * 2, true)
          ctx.closePath()
          ctx.fillStyle = this.color
          ctx.fill()
        }
      }

      ctx.restore()
    }
  }

  airplaneData.value = airplane

  // createWebSocket(`crash`, onWebSocketMessage)

  function draw() {
    ctx.clearRect(0, 0, canvas.width, canvas.height)

    if (airplane.y - 27.5 >= canvas.height - 180) {
    } else {
      opt += 0.001
      let ball = {
        x: airplane.x,
        y: airplane.y,
        opc: opt
      }
      ballArr.push(ball)
      airplane.oldx = airplane.x
      airplane.oldy = airplane.y
      airplane.x += 2
      airplane.y = 0.0022 * airplane.x * airplane.x
    }
    // airplane.draw()

    raf.value = window.requestAnimationFrame(draw)
  }
}

const betTimesWrapref = ref(null)
const onWebSocketMessage = (data) => {
  console.log('airplane', airplaneData.value, data)
  if (data.code === -4) {
    ElMessage.error(data.msg)
  }
  if (data.balance) {
    sysStore.updateBalance(data.balance)
  }
  if (data.user_num) {
    userNumber.value = randomNum(100, 300)
  }
  if (data.cmd === 'bet' && data.code === 0) {
    //投注成功
    btnText.value = 'waiting'
    betSuccess.value = true
    // ableEscape = true;
    isStopClickBetBtn.value = true
    isBetNextRound.value = false
  }
  if (data.result) {
    let res = {}
    ableEscapeStart.value = false
    if (data.result === 'win') {
      showWinPopup.value = true
      res.m = data.m
      res.bonus = data.bonus
      res.result = data.result
      isShowNextRound.value = true
    } else {
      isShowNextRound.value = false
      res.m = -1.0
      res.bonus = -data.amount
      res.result = data.result
    }
    myBetResults.value.push(data)
  }
  if (data.cmd === 'escape' && data.code === 0) {
    // that.ableEscape = false;
    ableEscapeStart.value = false
    realWinTimes.value = data.m
    btnText.value = 'bet'
    isShowNextRound.value = true
  }

  state.value = data.state
  if (state.value === 'betting' && isReadyBet.value) {
    isbetting.value = true
    ableCancel.value = false
    if (isBetNextRound.value) {
      btnText.value = 'waiting'
      isStopClickBetBtn.value = true
      sendWebsocket({
        cmd: 'bet',
        amount: nextBetAmount.value
      })
      // that.isBetNextRound = false;
    }
    if (!isBetNextRound.value) {
      isStopClickBetBtn.value = false
    }

    if (!isInitGame.value) {
      isCrash.value = false
      currentRound.value = data.round
      // this.isStopClickBetBtn = true;
      gameInit()
      isInitGame.value = true
    }
  } else if (state.value === 'waiting' && isReadyBet.value) {
    isbetting.value = false
    stopBet()
  } else if (state.value === 'raising') {
    winTimes.value = data.m
    if (!isGameStart.value && isReadyBet.value) {
      if (betSuccess.value) {
        console.log(betSuccess.value, '333333')
        // that.ableEscape = true;
        ableEscapeStart.value = true
        btnText.value = 'escape'
      } else {
        btnText.value = 'bet'
        isShowNextRound.value = true
      }
      isStopClickBetBtn.value = false
      isGameStart.value = true

      gameStart()
    }
  } else if (state.value === 'crash') {
    ableCancel.value = false
    ableEscapeStart.value = false
    isShowNextRound.value = false
    if (isBetNextRound.value) {
      btnText.value = 'waiting'
      isStopClickBetBtn.value = true
    } else {
      btnText.value = 'bet'
      isStopClickBetBtn.value = false
    }
    if (!isCrash.value) {
      oldBetTimesRecords.value.push({
        times: data.n,
        id: currentRound.value
      })
      if (oldBetTimesRecords.value.length > 6) {
        betTimesWrapref.value.style.transform = 'translateX(-102px)'
      }
      isCrash.value = true
    }

    isReadyBet.value = true
    boom()

    isGameStart.value = false
    isInitGame.value = false
    isShowNextRound.value = false
    isStopClickBetBtn.value = true
  }
  // console.log(data)
}

//飞机坠毁爆炸
const boom = (top, left) => {
  rainTimer.value && clearInterval(rainTimer.value)
  gameTimer.value && clearInterval(gameTimer.value)
  nextTick(() => reset())
  meteorShowerTimer.value && clearInterval(meteorShowerTimer.value)
  winPopUpTimer.value && clearInterval(winPopUpTimer.value)

  showLottie.value = false
  window.cancelAnimationFrame(raf.value)
  ctx.value && ctx.value.clearRect(0, 0, canvas.value.width, canvas.value.height)
  console.log('飞机', airplaneData.value)
  boomDonghua(airplaneData.value.x * 3.3, airplaneData.value.y * 2.8)

  crashAudio()
}
//爆炸动画
const boomDonghua = (x, y) => {
  var canvas = document.getElementById('boom_canvas')
  canvas.width = window.innerWidth
  canvas.height = window.innerHeight
  var content2d = canvas.getContext('2d')
  var fireBalls = [] //存储小球对象
  //创建球球对象
  function fireBall() {
    this.color = null
    this.r = null
    this.Angle = null
    this.x = null
    this.y = null
    this.AngleX = null
    this.AngleY = null
    //创建小球的方法
    this.init = function (x, y) {
      this.color = this.randomColor()
      this.x = x //坐标
      this.y = y
      this.r = this.randomNum(5, 8)
      this.Angle = Math.random() * Math.PI * 2 //随机产生的角度
      this.AngleX = this.randomNum(6, 12) * Math.cos(this.Angle) //x坐标移动的距离
      this.AngleY = this.randomNum(6, 12) * Math.sin(this.Angle) //y坐标移动的距离
    }

    //小球移动
    this.move = function () {
      this.x += this.AngleX
      this.y += this.AngleY
      this.r -= 0.3
      this.AngleX *= 0.82 //控制扩散的距离
      this.AngleY *= 0.82
    }
    //创建小球随机颜色方法
    this.randomColor = function () {
      return '#ffd991'
    }
    //创建随机数的方法
    this.randomNum = function (min, max) {
      return Math.random() * max + min
    }
  }

  //实例化球球
  function createFireBall(x, y) {
    console.log(x, y)
    var count = parseInt(Math.random() * 40 + 10)
    for (var i = 0; i < count; i++) {
      var b = new fireBall()
      b.init(x, y)
      fireBalls.push(b)
    }
  }

  //在canvas上画球球
  function Draw() {
    for (var i = 0; i < fireBalls.length; i++) {
      var b = fireBalls[i]
      content2d.save()
      content2d.translate(0, canvas.height)
      content2d.rotate(Math.PI)
      content2d.scale(-1, 1)
      content2d.beginPath()
      content2d.fillStyle = b.color
      content2d.arc(b.x, b.y, b.r, 0, Math.PI * 2)
      content2d.fill()
      content2d.closePath()
      content2d.restore()
      b.move() //画好后要移动
    }
  }

  //小球消失
  function removeFireBall() {
    for (var i = 0; i < fireBalls.length; i++) {
      var b = fireBalls[i]
      if (b.r < 0.3) {
        fireBalls.splice(i, 1)
        i--
      }
    }
  }

  loop()
  function loop() {
    //清除整个画布
    content2d.clearRect(0, 0, canvas.width, canvas.height)
    Draw()
    removeFireBall()
    window.requestAnimationFrame(loop)
    /* 告诉浏览器您要执行的动画并且请求浏览器的在下一个动画帧重绘窗口,方法在浏览器重绘之前作为一个回调函数被调用,
         就是告诉浏览器在刷新屏幕的时候，调用这个方法*/
  }
  createFireBall(x, y)
}

const crashref = ref(null)
//播放坠毁的声音
const crashAudio = () => {
  if (muted.value) return
  if (crashref.value) {
    crashref.value.currentTime = 0
    crashref.value.play()
  }
}

const progressLineref = ref(null)
const timechange = (currentTime) => {
  progressLineWidth.value = currentTime.total / 100
}

const getLikeLists = async () => {
  const res = await ApiFavList()
  if (res.code == 0) {
    likeLists.value = res.data
    likeLists.value.forEach((like) => {
      if (like.id == game_id.value) {
        isColleced.value = true
      }
    })
  }
}
getLikeLists()

onMounted(() => {
  console.log('lottieDom', lottieDom.value)
  try {
    lottieDom.value.style.transform = `translate(${0}px,-${0}px) rotate(${90}deg)`
    lottieAni()
  } catch (err) {
    console.log(err)
  }
  gameInit()
})

const gameInit = async () => {
  nextTick(() => start())
  showWinPopup.value = false
  progressLineWidth.value = 100

  showLottie.value = true
  if (lottieDom.value) {
    lottieDom.value.style.transform = `translate(${0}px,-${0}px) rotate(${90}deg)`
  }

  isGameStart.value = false
  isInitGame.value = true
  isShowNextRound.value = false
  if (isReadyBet.value && !isBetNextRound.value) {
    isStopClickBetBtn.value = false
  }

  winTimes.value = 1
  if (!isReadyBet.value) {
    winTimesInt.value = 1
    winTimesFloat.value = ''
    winTimesFloatDisplay.value = ''
  }

  showProgressLine.value = true
  // 启动计时器
  console.log('count', countDownvanref)

  // var timeleft = 10000
  // this.countDownTimer = setInterval(function () {
  //   if (timeleft <= 0) {
  //     clearInterval(that.countDownTimer)
  //     that.showProgressLine = false
  //     that.stopBet()
  //     return
  //   }
  //   timeleft -= 100
  //   var seconds = Math.floor(timeleft / 1000)
  //   var milliseconds = (timeleft - seconds * 1000) / 10
  //   that.countDown1 = seconds + ':' + milliseconds

  //   that.progressLineWidth = that.progressLineWidth - 1
  //   if (that.$refs.progressLine) {
  //     that.$refs.progressLine.style.width = that.progressLineWidth + '%'
  //   }
  //   var progress = timeleft / 10000
  // }, 100)
}

//飞机动画
const lottieAni = async () => {
  console.log('初始化飞机动画')
  if (!animotionAirplane.value) {
    animotionAirplane.value = lottie.loadAnimation({
      container: document.getElementById('imgWrapper'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      animationData: AstronautJSON
    })
  }
  console.log(animotionAirplane.value)

  try {
    if (animotionAirplane.value) {
      animotionAirplane.value.addEventListener('complete', () => {
        //结束动画
        console.log('动画结束')
      })
    }
  } catch (err) {
    console.log(err)
  }
}
</script>

<style lang="scss" scoped>
.comet_red {
  position: absolute;
  width: 22px;
  height: 180px;
  top: 0;
  left: 0;
}
.comet_yellow {
  position: absolute;
  width: 22px;
  height: 180px;
  top: 0;
  left: 0;
}
#crash {
  padding-bottom: 200px;

  .body {
    box-sizing: border-box;
    .crash_title {
      text-align: center;
      margin-top: 0;
      font-size: 32px;
      font-weight: 600;
    }
    .nav {
      height: 77px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      > span {
        cursor: pointer;
        width: 77px;
        height: 77px;
        background: #49515b;
        border-radius: 50%;
        align-items: center;

        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 50px;
          height: 50px;
        }
      }
      > div {
        width: 115px;
        height: 77px;
        background: #49515b;
        border-radius: 75px;
        display: flex;
        align-items: center;
        padding: 24px;
        box-sizing: border-box;
        > img {
          width: 50px;
          height: 50px;
        }
        > span {
          flex: 1;
          text-align: center;
        }
      }
    }
    .canvas_container {
      height: 626px;
      width: 690px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      .win_popup {
        position: absolute;
        z-index: 99999;
        width: 468px;
        height: 236px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.45);
        mix-blend-mode: normal;
        border: 1px solid #ffffff;
        backdrop-filter: blur(13px);

        padding: 2px 25px;
        border-radius: 20px;
        .win_amount {
          text-align: center;
          margin-top: 70px;
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 28px;
        }
        .multiplier {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .win_popup_img {
          width: 470px;
          position: absolute;
          top: -240px;
          left: 0;
        }
      }
      #boom {
        position: absolute;
        width: 200px;
        // height: ;
      }
      .win_times {
        position: absolute;
        font-size: 96px;
        font-weight: 600;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      .progress_line {
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        > p {
          text-align: center;
          font-size: 24px;
        }
      }
      .stopBet {
        text-align: center;
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        > p {
          text-align: center;
          font-size: 24px;
        }
      }
      .loading_speed {
        width: 202px;
        height: 20px;
        border-radius: 20px;
        background: #2c3143;

        margin: 0px auto;
        overflow: hidden;
        position: relative;
        .inner_line {
          width: 100%;
          height: 100%;

          background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
          border-radius: 20px;
        }
        // &:after {
        //   content: "";
        //   width: 100%;
        //   height: 100%;

        //   background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
        //   border-radius: 10px;
        //   animation: sped 10s linear forwards;
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   animation-play-state: paused;
        // }
      }
      .running {
        &:after {
          animation-play-state: running;
        }
      }
      .bet_times {
        width: 690px;
        position: absolute;
        height: 84px;
        padding: 0 26px;
        box-sizing: border-box;
        overflow: hidden;
        > div {
          height: 84px;
          min-width: 690px;
          display: flex;
          align-items: center;
          position: absolute;
          > span {
            width: 96px;
            height: 43.2px;
            background: #e75b20;
            border-radius: 24px;
            text-align: center;
            line-height: 43.2px;
            font-size: 24px;
            transform: translate(0.83);
            margin-right: 12px;
          }
        }
      }
      .lottieMain {
        position: absolute;
        transform: rotate(90deg);
        bottom: -40px;
        left: 30px;
        z-index: 3;
        // transform: translateX(-47.5px);
      }
    }
    #crash_canvas {
      width: 100%;
      background: #161a2b;
      border-radius: 20px;
      background-image: url('../assets/img/crash/bg.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    #boom_canvas {
      top: 0;
      left: 0;
      position: absolute;
      width: 690px;
      height: 626px;
    }
    .cash_in_box {
      height: 100px;
      padding: 12px 20px;
      box-sizing: border-box;
      border-radius: 20px;
      border: 2px solid #5a5e6d;
      background: #1e242c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .minus,
      .add {
        cursor: pointer;
        width: 82px;
        height: 50px;
        background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
        border: 2px solid #474d5c;
        box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.159212);
        border-radius: 80px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
      }
      .times {
        > span {
          color: #585f71;
          font-size: 24px;
        }
        > p {
          margin: 4px 0;
          text-align: center;
          font-weight: 600;
        }
      }
    }
    .amount_box {
      height: 158px;
      display: flex;
      margin: 20px 0;
      justify-content: space-between;
      .bet_amount {
        width: 496px;
        height: 100%;
        background: #1e242c;
        border: 2px solid #5a5e6d;
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        color: #7b8398;
        > .bet_amount_inputbox {
          margin: 0 20px;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 104px;
          margin: 0;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: #ffd991;
          > p {
            margin: 0;
            margin-left: 40px;
          }
          > input {
            text-align: center;
            min-width: 200px;
            background: transparent;
            border: none;
            outline: none;
          }
        }
        > div {
          width: 84px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          > span {
            cursor: pointer;
            width: 100%;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
            border: 2px solid #474d5c;
            box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.159212);
            border-radius: 80px;
            box-sizing: border-box;
            font-size: 24px;
          }
          .active {
            background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
            border: 2px solid #ffe4b0;
            border-radius: 60px;
            color: #724003;
          }
        }
      }
      .bet_btn {
        width: 174px;
        height: 100%;
        background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
        border: 2px solid #ffe4b0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #724003;
        box-sizing: border-box;
        > p {
          margin: 4px;
          font-size: 30px;
          font-weight: 600;
        }
      }
      .stop_status {
        opacity: 0.7;
        cursor: not-allowed;
      }
      .escape_status {
        opacity: 1;
        cursor: pointer;
        background: #7ebf12;
        color: #fff;
      }
    }
    .bet_content {
      padding: 30px 20px;
      box-sizing: border-box;
      background: #1a1f25;
      border-radius: 20px;
      min-height: 480px;
      .tabs {
        display: flex;
        margin-bottom: 50px;
        > span {
          flex: 1;
          height: 40px;
          text-align: center;
          position: relative;
        }
        > .tab_active {
          font-weight: 600;
          color: #ffd991;
        }
        > .tab_active::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 54px;
          background-image: url('../assets/img/arrow_top.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          top: 24px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .bet_data_box {
        .rank_box {
          // display: none;
          width: 100%;
          height: 1048px;
          background: #1a1f25;
          border-radius: 10px;

          .title {
            padding: 0 48px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            background: #272d35;
            color: #7b8398;
          }
          > ul {
            padding: 34px 48px;
            box-sizing: border-box;
            > li {
              height: 90px;
              display: flex;
              align-items: center;
              > span {
                flex: 1;
                text-align: center;
                display: flex;
                justify-content: center;
                > span {
                  padding: 10px;
                  font-size: 24px;
                  background: #7ebf12;
                  border-radius: 40px;
                  display: block;
                  text-align: center;
                  line-height: 34px;
                }
                .fail {
                  background: #fc5252 !important;
                }
              }
              .bet {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-weight: 600;
                color: #32d850;
                font-size: 26px;
              }
              .user {
                flex: 1;
                display: flex;
                align-items: center;
                font-weight: 600;
                > img {
                  width: 38px;
                  height: 38px;
                  margin-right: 16px;
                }
              }
            }
          }
        }
        .list {
          margin-top: 30px;

          ul {
            padding: 20px 30px;
            box-sizing: border-box;
            border-radius: 20px;
            background: #2f3a47;
            margin-bottom: 20px;
          }
          .list_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > p {
              color: #7b8398;
              margin: 10px 0;
            }
            > span {
              // color: #ffd991;
              font-size: 28px;
            }
          }
        }
        > ul {
          > li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            > div {
              > p {
                margin: 0px 0 16px 0;
              }
            }
            .switch_box {
              display: flex;
              align-items: center;
              font-size: 24px;
              margin-bottom: 20px;
              .van-switch {
                margin: 0 16px;
                // width: 38px;
                // height: 18px;
              }
              // justify-content: space-between;
            }
            .bet_data_input {
              width: 210px;
              height: 90px;
              background: #272c31;
              border-radius: 70px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 24px;
              box-sizing: border-box;
              font-weight: 600;
              input {
                border: none;
                outline: none;
                background: transparent;
                width: 180px;
                // flex: 1;
              }
            }
          }
        }
        .nodata {
          margin: 44px auto;
          width: 224px;
          > img {
            width: 224px;
            height: 204px;
          }
          > p {
            text-align: center;
            font-size: 24px;
            color: #7b8398;
          }
        }
      }
    }
  }
  @keyframes sped {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
}
@media (min-width: 1000px) {
  #crash {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    // display: flex;
    margin-top: 60px;
    margin-left: calc(50vw - 629px);
    .public_header_box {
      display: none;
    }
    .content_wrap {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      .rank_box {
        display: block;
      }
    }

    .header {
      display: block !important;
    }

    .body {
      width: 790px;
      background: #1a1f25;
      margin-bottom: 20px;
      border: 5px;
      margin-top: 70px;
      // margin-left: 30px;
      .cash_in_box_wrap {
        margin-top: 15px;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        .cash_in_box {
          height: 79px;
          width: 297px;
          margin: 0;
          margin-right: 10px;
        }
        .amount_box {
          flex: 1;
          margin: 0;
          .bet_amount {
            width: 330px;
          }
        }
      }
      .bet_data_box {
        li {
          > div {
            width: 334px;
            .bet_data_input {
              width: 334px !important;
            }
          }
        }
      }
      .top_box {
        top: 0px;
        width: 1200px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        background: #1a1f25;
        align-items: center;
        padding: 10px 15px;
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        .crash_title {
          margin: 0;
        }
        .nav {
          width: 300px;
          // margin-left: 400px;
          margin: 0;
        }
      }
    }
  }
}
</style>
