<template>
  <div id="dice" pt-20px px-20px>
    <div flex justify-between items-center text-white text-center>
      <div flex items-center>
        <div w-158px h-60px bg-tay-bg-17 leading-60px rounded-10px>Dice</div>
        <div ml-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center>
          <img mr-10px w-26px h-26px src="@/assets/img/mines/user.png" alt="" />
          <span>{{ userNumber }}</span>
        </div>
      </div>
      <div flex items-center>
        <div @click="addLike" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-22px h-20px :src="isColleced ? imgHeartAct : imgHeart" alt="" />
        </div>
        <div @click="muted = !muted" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-25px h-23px :src="muted ? imgBear : imgBearNo" alt="" />
        </div>
        <div h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center justify-center>
          <img w-31px h-31px src="@/assets/img/mines/time.png" alt="" />
        </div>
      </div>
    </div>
    <div class="content_wrap">
      <div class="body">
        <div class="game_box">
          <div class="game_top">
            <div>LUCKY NUMBER</div>
            <div style="justify-content: end">PREDICTION</div>
          </div>
          <div class="game_content">
            <div class="run_left">
              <span>{{ luckNumber }}</span>
            </div>
            <div class="run_center">
              <div class="dice-center">
                <div class="sc-dec8dca7-0 kPjWIa">
                  <div class="cube" ref="dice_cube">
                    <div class="sc-43e22213-0 sc-506a577e-0 iLuqkx kTiYfD cube__face cube__face--1">
                      <span class="point item1"></span>
                    </div>
                    <div class="inner cube__face--1--inner"></div>
                    <div class="sc-43e22213-0 sc-506a577e-0 iLuqkx kTiYfD cube__face cube__face--2">
                      <span class="point"></span><span class="point item2"></span>
                    </div>
                    <div class="inner cube__face--2--inner"></div>
                    <div class="sc-43e22213-0 sc-506a577e-0 iLuqkx kTiYfD cube__face cube__face--3">
                      <span class="point item1"></span><span class="point item2"></span
                      ><span class="point item3"></span>
                    </div>
                    <div class="inner cube__face--3--inner"></div>
                    <div class="sc-43e22213-0 sc-506a577e-0 iLuqkx kTiYfD cube__face cube__face--4">
                      <div><span class="point"></span><span class="point"></span></div>
                      <div><span class="point"></span><span class="point"></span></div>
                    </div>
                    <div class="inner cube__face--4--inner"></div>
                    <div class="sc-43e22213-0 sc-506a577e-0 iLuqkx kTiYfD cube__face cube__face--5">
                      <div><span class="point"></span><span class="point"></span></div>
                      <div class="column">
                        <span class="point"></span>
                      </div>
                      <div><span class="point"></span><span class="point"></span></div>
                    </div>
                    <div class="inner cube__face--5--inner"></div>
                    <div class="sc-43e22213-0 sc-506a577e-0 iLuqkx kTiYfD cube__face cube__face--6">
                      <div>
                        <span class="point"></span><span class="point"></span
                        ><span class="point"></span>
                      </div>
                      <div>
                        <span class="point"></span><span class="point"></span
                        ><span class="point"></span>
                      </div>
                    </div>
                    <div class="inner cube__face--6--inner"></div>
                  </div>
                </div>
              </div>
              <!-- <img src="@/assets/img/dice/dice.png" alt=""> -->
            </div>
            <div class="run_right">
              <span>{{ isGreater ? '>' : '<' }}{{ lineNumber }}</span>
            </div>
          </div>
          <div class="win_chance">
            <div class="win_chance_name">
              <span>Multiplier</span>
              <span>Chance to win</span>
            </div>
            <div class="win_chance_nums">
              <span>x{{ multiplier }}</span>
              <span>{{ type === 2 ? 100 - lineNumber : lineNumber }}%</span>
            </div>
            <img class="dice_run_line" src="@/assets/img/dice/dice_run_line.png" alt="" />
          </div>
          <div class="win_popup" v-if="showWinPopup">
            <div class="win_amount">{{ currencySymbol }} {{ winAmount }}</div>
            <div class="multiplier">
              <span>Multiplier</span>
              <span>{{ winMultiplier }}x</span>
            </div>
            <img class="win_popup_img" src="@/assets/img/mines/win_popup.png" alt="" />
          </div>
        </div>

        <div class="scroll_btns">
          <span :class="isGreater ? 'scroll_on' : ''" @click="change(1)">SCROLL UNDER</span>
          <span :class="!isGreater ? 'scroll_on' : ''" @click="change(2)">SCROLL ON</span>
        </div>
        <div class="progress_box">
          <van-progress
            :percentage="linePercent"
            :color="progressColor"
            :pivot-color="pivotColor"
            :show-pivot="true"
            :pivot-text="lineNumber"
            :track-color="trackColor"
            stroke-width="8"
          />
          <div class="progress_nums">
            <span>0</span>
            <span>25</span>
            <span>50</span>
            <span>75</span>
            <span>100</span>
          </div>
        </div>
        <div class="amount_box">
          <div class="bet_amount">
            <div>
              <span @click="betAmount = min">MIN</span>
              <span @click="half">1/2</span>
            </div>
            <div class="bet_amount_inputbox">
              <p>R$</p>
              <input type="number" pattern="[0-9]*" v-model="betAmount" />
            </div>
            <div>
              <span
                @click="
                  () => {
                    if (balance > 1) {
                      betAmount = balance
                    } else {
                      ElMessage.error(t('common.moneyNoEnough'))
                    }
                  }
                "
                >MAX</span
              >
              <span @click="betAmount = betAmount * 2">2X</span>
            </div>
          </div>
          <div class="bet_btn" @click="bet" :class="isBtnDisabled ? 'btn_disable' : ''">
            <p>bet</p>
            <span>Profit on win</span>

            <span>{{ profit }}</span>
          </div>
        </div>
        <div class="bet_content">
          <!-- <div class="tabs">
            <span :class="tabIndex === 0 ? 'tab_active' : ''" @click="tabIndex = 0"
              >MY HISTORY</span
            >
            <span :class="tabIndex === 1 ? 'tab_active' : ''" @click="tabIndex = 1"
              >ALL PLAYERS</span
            >
          </div> -->
          <!-- {{ tabIndex }} -->
          <el-menu
            style="margin-bottom: 10px"
            :default-active="tabIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
          >
            <el-menu-item index="HISTORY">MY HISTORY</el-menu-item>
            <el-menu-item index="PLAYERS">ALL PLAYERS</el-menu-item>
          </el-menu>

          <div class="bet_data_box">
            <div class="list" v-if="tabIndex === 'HISTORY'">
              <ul v-if="myBetResults.length > 0">
                <li class="list_item">
                  <p>Period</p>
                  <p>Guess</p>
                  <p>Bet</p>
                  <p>Payout</p>
                </li>
                <div v-for="(historyList, index) in myBetResults" :key="index">
                  <li class="list_item" style="margin-top: 10px">
                    <span class="span1">{{ historyList.round }}</span>
                    <span class="span2">{{ historyList.point }}</span>
                    <span class="span2">{{ historyList.amount }}</span>
                    <div style="flex: 1; display: flex; justify-content: center">
                      <div class="span3">{{ historyList.bonus }}</div>
                    </div>
                  </li>
                  <div
                    style="display: flex; flex-direction: column; align-items: center; width: 100%"
                  >
                    <div class="line"></div>
                  </div>
                </div>
              </ul>
              <div class="nodata" v-else>
                <img src="@/assets/img/nodata.png" alt="" />
                <p>No Data</p>
              </div>
            </div>
            <ul v-if="tabIndex === 'PLAYERS'">
              <div class="rank_box">
                <div class="title">
                  <span>User</span>
                  <span>Prediction</span>
                  <span>Bet</span>
                </div>
                <ul v-if="myBetResults.length">
                  <div v-for="item in myBetResults" :key="item.round">
                    <li class="lilili">
                      <div class="user">
                        <img src="@/assets/img/pc/avatar.png" alt="" />
                        <span> Hidden </span>
                      </div>
                      <div class="times">x{{ item.odd }}</div>
                      <div class="bet">
                        {{ item.bonus }}
                      </div>
                    </li>
                    <div
                      style="
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                      "
                    >
                      <div class="line"></div>
                    </div>
                  </div>
                </ul>
                <div class="nodata" v-else>
                  <img src="@/assets/img/nodata.png" alt="" />
                  <p>No Data</p>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <Rank :myBetResults="myBetResults" />
    </div>

    <!-- <GameRule @closePopup="gameRulePopup = false" v-if="gameRulePopup" /> -->
    <audio ref="dice" :src="Dice" preload="none" id="dice" hidden></audio>
    <audio ref="win" :src="Win" preload="none" id="win" hidden></audio>
  </div>
</template>
<script setup>
import { useI18n } from 'vue-i18n'
import Dice from '@/assets/audio/dice.mp3'
import Win from '@/assets/audio/win.mp3'

import imgBear from '@img/mines/bear.png'
import imgBearNo from '@img/mines/bear-not.png'
import imgHeartAct from '@img/mines/heart-act.png'
import imgHeart from '@img/mines/heart.png'
const { t } = useI18n()
</script>
<script>
import { ApiFavList, ApiAddFavour, ApiRemoveFavour } from '@api/request.js'
import { add, minus } from '@/utils/math'
// import GameRule from '@/components/GameRule'
// import Rank from '@/components/Rank'
import { mapActions, mapState } from 'pinia'
import { useSystemStore } from '@/stores/system'
import { sendWebsocket, closeWebsocket, createWebSocket } from '@/utils/ws1.js'
import { ElMessage } from 'element-plus'
export default {
  name: 'Dice',
  data() {
    return {
      userNumber: 0,
      isColleced: false, //该游戏是否收藏
      likeLists: [], //收藏列表、
      game_id: 3, //游戏id
      url: '',
      diceTimer: null,
      myBetResults: [
        // {
        //   round: 543,
        //   point: 54,
        //   amount: 878,
        //   bonus: 54
        // },
        // {
        //   round: 543,
        //   point: 54,
        //   amount: 878,
        //   bonus: 54
        // }
      ],
      muted: false,
      winAmount: '',
      winMultiplier: '',
      showWinPopup: false,
      isBtnDisabled: false,
      odds: [], //赔率
      betAmount: 1, //投注金额
      min: 1, //最小投注额
      max: 1000, //最大投注额
      multiplier: 1,
      pivotColor: '#286AF9',
      progressColor: '#286AF9', //进度颜色
      trackColor: '#F93434', //进度条轨道颜色
      lineNumber: '50',
      type: 1, //1表示小于，2表示大于
      luckNumber: '?',
      isGreater: false,
      space: 0,
      lastPageX: '',
      linePercent: 50,
      options: [],
      tabIndex: 'HISTORY',
      noData: true,
      checked: true,
      checked1: true,
      value: 1,
      gameRulePopup: false
    }
  },
  computed: {
    ...mapState(useSystemStore, ['balance', 'currencySymbol']),
    profit() {
      let data = this.multiplier * this.betAmount
      return Number(data) ? Number(data) : this.betAmount ? this.betAmount : 0
    }
  },
  created() {
    this.getLikeLists()
    createWebSocket('dice', this.onWebSocketMessage)
  },
  mounted() {
    this.getProfile()
    this.initProgress()
    this.initPcProgress()

    this.diceAudio()
    this.winAudio()
  },
  methods: {
    ...mapActions(useSystemStore, ['getProfile', 'updateBalance']),
    async getLikeLists() {
      const res = await ApiFavList()
      if (res.code == 0) {
        this.likeLists = res.data
        this.likeLists.forEach((like) => {
          if (like.id == this.game_id) {
            this.isColleced = true
          }
        })
      }
    },
    async addLike() {
      // this.isColleced=!this.isColleced

      if (!this.isColleced) {
        const res = await ApiAddFavour({
          game_id: this.game_id
        })
        if (res.code === 0) {
          this.isColleced = true
          ElMessage.success(res.msg)
          this.getLikeLists()
        } else {
          ElMessage.error(res.msg)
        }
      } else {
        const res = await ApiRemoveFavour({
          fav_id: this.game_id
        })
        if (res.code === 0) {
          ElMessage.success(res.msg)
          this.isColleced = false
        } else {
          ElMessage.error(res.msg)
        }
      }
    },
    diceAnimation() {
      this.diceTimer = setInterval(() => {
        this.luckNumber = Math.floor(Math.random() * 100) + 1

        // that.$refs['dice_cube'].style.animation='50s linear 0s infinite normal none running fGtWtc'
        // clearTimeout(this.diceTimer)
      }, 30)
      this.diceAudio()
      this.$refs['dice_cube'].style.animation = '1.5s linear 0s infinite normal none running fGtWtc'
    },

    getAssetsImages(name) {
      return new URL('../assets/audio/' + name, import.meta.url).href
    },
    //播放赢的声音
    diceAudio() {
      if (this.muted) return
      nextTick(() => {
        if (this.$refs.dice) {
          // console.log('+++++++++++')
          // this.$refs.dice.src = require('../assets/audio/dice.mp3')
          this.$refs.dice.currentTime = 0
          console.log(this.$refs.dice)
          this.$refs.dice.play()
        }
      })
    },
    //播放赢的声音
    winAudio() {
      if (this.muted) return
      if (this.$refs.win) {
        // this.$refs.win.src = require('../assets/audio/dice.mp3')
        this.$refs.win.currentTime = 0
        this.$refs.win.play()
      }
    },
    isShowWinPopup(data) {
      this.showWinPopup = true
      if (data) {
        this.winAmount = data.bonus
        this.winMultiplier = data.odd
      }

      let timer = setTimeout(() => {
        this.showWinPopup = false
        this.isBtnDisabled = false
        clearInterval(timer)
      }, 3000)
    },
    bet() {
      if (this.isBtnDisabled) {
        return
      }
      this.diceAnimation()
      let data = {
        cmd: 'bet',
        amount: this.betAmount,
        type: this.type,
        point: this.lineNumber
      }
      sendWebsocket(data)
      this.isBtnDisabled = true
    },
    //投注金额减半
    half() {
      if (this.betAmount > this.min) {
        this.betAmount = this.betAmount / 2
      }
    },

    //生成从minNum到maxNum的随机数
    randomNum(minNum, maxNum) {
      switch (arguments.length) {
        case 1:
          return parseInt(Math.random() * minNum + 1, 10)
        case 2:
          return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10)
        default:
          return 0
      }
    },
    change(type) {
      this.type = type

      if (this.type === 2) {
        if (this.lineNumber <= 4) {
          this.lineNumber = 4
        }
        if (this.lineNumber >= 98) {
          this.lineNumber = 98
        }
        this.trackColor = '#286AF9'
        this.progressColor = '#F93434'
        this.isGreater = true
        this.multiplier = this.odds[98 - Number(this.lineNumber)]
      } else {
        if (this.lineNumber >= 95) {
          this.lineNumber = 95
        }
        if (this.lineNumber <= 1) {
          this.lineNumber = 1
        }
        this.isGreater = false
        this.trackColor = '#F93434'
        this.progressColor = '#286AF9'
        this.multiplier = this.odds[Number(this.lineNumber - 1)]
      }
    },
    onWebSocketMessage(data) {
      var that = this
      console.log(data)
      if (data.code === -4) {
        clearInterval(this.diceTimer)
        that.$refs['dice_cube'].style.animation =
          '50s linear 0s infinite normal none running fGtWtc'
        ElMessage.error(data.msg)
      }
      if (data.balance) {
        this.updateBalance(data.balance)
      }
      if (data.user_num) {
        //this.userNumber = data.user_num
        this.userNumber = this.randomNum(100, 300)
      }
      if (data.odds && data.odds.length > 0) {
        this.odds = data.odds
        if (this.type === 2) {
          this.multiplier = this.odds[98 - Number(this.lineNumber)]
        } else {
          this.multiplier = this.odds[Number(this.lineNumber - 1)]
        }
      }
      console.log(data)
      console.log(data.balance, data.point_result)
      console.log(data['point_result'])
      if (data.cmd === 'bet' && data.code === 0 && data.result === 'win') {
        clearInterval(this.diceTimer)
        that.$refs['dice_cube'].style.animation =
          '50s linear 0s infinite normal none running fGtWtc'
        this.luckNumber = data['point_result']
        this.myBetResults.push(data)

        this.winAudio()
        that.isShowWinPopup(data)
      } else if (data.cmd === 'bet' && data.code === 0 && data.result === 'lose') {
        clearInterval(this.diceTimer)
        that.$refs['dice_cube'].style.animation =
          '50s linear 0s infinite normal none running fGtWtc'
        this.luckNumber = data['point_result']
        console.log(that.luckNumber)
        this.myBetResults.push(data)
        that.isBtnDisabled = false
      }
      console.log(this.luckNumber)
    },
    initPcProgress() {
      var that = this
      var dom = document.getElementsByClassName('van-progress__pivot')[0]
      var lineDom = document.getElementsByClassName('van-progress')[0]
      var width = lineDom.offsetWidth
      dom.onmousedown = (event) => {
        event.preventDefault()
        // console.log("鼠标按下！")
        console.log(event.clientX)
        document.onmousemove = function (e) {
          event.preventDefault()
          // console.log("正在滑动！",e.clientX)
          if (that.lastPageX) {
            let move = e.clientX - that.lastPageX
            that.space += move
          }

          var movePercent = (that.space / width) * 100

          movePercent = parseInt(movePercent)

          that.linePercent = 50 + movePercent

          if (that.linePercent >= 100) {
            that.linePercent = 100
          }
          if (that.linePercent <= 0) {
            that.linePercent = 0
          }
          that.lineNumber = that.linePercent
          if (that.lineNumber <= 4 && that.type === 2) {
            that.lineNumber = 4
          }
          if (that.lineNumber >= 98 && that.type === 2) {
            that.lineNumber = 98
          }
          if (that.lineNumber >= 95 && that.type === 1) {
            that.lineNumber = 95
          }
          if (that.lineNumber <= 1 && that.type === 1) {
            that.lineNumber = 1
          }
          that.lineNumber = that.lineNumber + ''
          if (that.odds && that.odds.length > 0) {
            if (that.type === 2) {
              if (that.odds[Number(98 - that.lineNumber)]) {
                that.multiplier = that.odds[Number(98 - that.lineNumber)]
              }
            } else {
              if (that.odds[Number(that.lineNumber - 1)]) {
                that.multiplier = that.odds[Number(that.lineNumber - 1)]
              }
            }
          }
          that.lastPageX = e.clientX
        }
      }
      document.onmouseup = function () {
        console.log('鼠标放开！')
        document.onmousemove = null
      }
    },

    handleSelect(key) {
      this.tabIndex = key
    },
    //初始化滚动条，并且添加监听事件
    initProgress() {
      var that = this
      var dom = document.getElementsByClassName('van-progress__pivot')[0]
      var lineDom = document.getElementsByClassName('van-progress')[0]

      var width = lineDom.offsetWidth

      dom.addEventListener('touchmove', function (event) {
        event.preventDefault()

        // console.log(event.targetTouches);
        if (event.targetTouches.length == 1) {
          var touch = event.targetTouches[0]
          if (that.lastPageX) {
            let move = touch.pageX - that.lastPageX
            that.space += move
          }

          var movePercent = (that.space / width) * 100

          movePercent = parseInt(movePercent)

          that.linePercent = 50 + movePercent

          if (that.linePercent >= 100) {
            that.linePercent = 100
          }
          if (that.linePercent <= 0) {
            that.linePercent = 0
          }
          that.lineNumber = that.linePercent
          if (that.lineNumber <= 4 && that.type === 2) {
            that.lineNumber = 4
          }
          if (that.lineNumber >= 98 && that.type === 2) {
            that.lineNumber = 98
          }
          if (that.lineNumber >= 95 && that.type === 1) {
            that.lineNumber = 95
          }
          if (that.lineNumber <= 1 && that.type === 1) {
            that.lineNumber = 1
          }
          that.lineNumber = that.lineNumber + ''
          if (that.odds && that.odds.length > 0) {
            if (that.type === 2) {
              if (that.odds[Number(98 - that.lineNumber)]) {
                that.multiplier = that.odds[Number(98 - that.lineNumber)]
              }
            } else {
              if (that.odds[Number(that.lineNumber - 1)]) {
                that.multiplier = that.odds[Number(that.lineNumber - 1)]
              }
            }
          }
        }
        that.lastPageX = touch.pageX
      })
    }
  },
  beforeUnmount() {
    // 清理数据和事件监听器
    console.log('销毁')

    closeWebsocket(false)
  }
}
</script>
<style>
.van-progress__pivot {
  cursor: pointer;
}
</style>
<style lang="scss" scoped>
#dice {
  padding-bottom: 100px;

  .body {
    box-sizing: border-box;
    .game_title {
      text-align: center;
      margin-top: 0;
      font-size: 16px;
      font-weight: 600;
    }
    .nav {
      height: 38.5px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      > span {
        width: 38.5px;
        height: 38.5px;
        background: #49515b;
        border-radius: 50%;
        align-items: center;

        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 25px;
          height: 25px;
        }
      }
      > div {
        width: 115px;
        height: 38.5px;
        background: #49515b;
        border-radius: 75px;
        display: flex;
        align-items: center;
        padding: 12px;
        box-sizing: border-box;
        > img {
          width: 25px;
          height: 25px;
        }
        > span {
          flex: 1;
          text-align: center;
        }
      }
    }
    .game_box {
      height: 443px;
      width: 695px;
      margin: 40px auto;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      .win_popup {
        position: absolute;
        z-index: 99999;
        width: 234px;
        // height: 118px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0);
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.45);
        mix-blend-mode: normal;
        border: 1px solid #ffffff;
        backdrop-filter: blur(6.5px);
        z-index: 9999;
        padding: 1px 25px;
        border-radius: 10px;
        .win_amount {
          text-align: center;
          margin-top: 35px;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 14px;
          color: #ffd991;
        }
        .multiplier {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .win_popup_img {
          width: 235px;
          position: absolute;
          top: -120px;
          left: 0;
        }
      }
      .game_top {
        height: 22px;
        display: flex;
        // padding-right: 15px;
        box-sizing: border-box;

        > div {
          flex: 1;

          display: flex;
          align-items: center;
          // justify-content: center;
        }
      }
      .game_content {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .run_center {
          > img {
            width: 74px;
          }
        }
        .run_left,
        .run_right {
          width: 228px;
          height: 210px;
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          align-items: center;
          justify-content: center;
          > span {
            font-size: 80px;
            font-weight: 600;
          }
        }
        .run_left {
          background-image: url('@/assets/img/dice/run_left_bg.png');
        }
        .run_right {
          background-image: url('@/assets/img/dice/run_right_bg.png');
        }
      }
      .win_chance {
        position: absolute;
        top: 236px;
        width: 690px;
        height: 194px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('@/assets/img/dice/win_chance_bg.png');
        .win_chance_name {
          display: flex;
          justify-content: space-between;
          padding: 0 30px;
          margin: 60px 0 30px 0;
          color: #585f71;
        }
        .win_chance_nums {
          display: flex;
          justify-content: space-between;
          padding: 0 30px;
          font-size: 36px;
          font-weight: 600;
        }
        .dice_run_line {
          top: 92px;
          left: 50%;
          position: absolute;
          width: 2px;
          height: 70px;
        }
      }
    }
    .scroll_btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      > span {
        min-width: 236px;
        max-width: 320px;
        overflow: hidden;
        white-space: nowrap;
        height: 72px;
        font-weight: 600;
        background: linear-gradient(180deg, #588cff 0%, #165fff 100%);
        box-shadow: 0px 6px 0px #0049e9, inset 0px 0px 7px rgba(255, 255, 255, 0.37);
        border-radius: 20px;
        line-height: 72px;
        text-align: center;
      }
      .scroll_on {
        background: linear-gradient(180deg, #f85656 0%, #f01d1d 100%);
        box-shadow: 0px 6px 0px #d30000, inset 0px 0px 7px rgba(255, 255, 255, 0.37);
      }
    }
    .progress_box {
      .progress_nums {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        > span {
          // text-align: center;
          // flex: 1;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
    .cash_in_box {
      height: 100px;
      padding: 12px 20px;
      box-sizing: border-box;
      border-radius: 20px;
      border: 2px solid #5a5e6d;
      background: #1e242c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      .minus,
      .add {
        width: 82px;
        height: 50px;
        background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
        border: 2px solid #474d5c;
        box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.159212);
        border-radius: 80px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
      }
      .times {
        > span {
          color: #585f71;
          font-size: 24px;
        }
        > p {
          margin: 4px 0;
          text-align: center;
          font-weight: 600;
        }
      }
    }
    .amount_box {
      height: 160px;
      display: flex;
      margin: 20px 0;
      justify-content: space-between;
      .bet_amount {
        width: 500px;
        height: 100%;
        background: #1e242c;
        border: 2px solid #5a5e6d;
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        color: #7b8398;
        > .bet_amount_inputbox {
          margin: 0 20px;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 120px;
          margin: 0;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: #ffd991;
          > p {
            margin: 0;
            margin-left: 40px;
          }
          > input {
            text-align: center;
            min-width: 200px;
            background: transparent;
            border: none;
            outline: none;
          }
        }
        > div {
          width: 82px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          > span {
            width: 100%;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
            border: 2px solid #474d5c;
            box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.159212);
            border-radius: 40px;
            box-sizing: border-box;
            font-size: 24px;
          }
          .active {
            background: linear-gradient(180deg, #ffdfa4 0%, #f79d3b 98.19%);
            border: 2px solid #ffe4b0;
            border-radius: 60px;
            color: #724003;
          }
        }
      }
      .bet_btn {
        font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial,
          Roboto, 'PingFang SC', miui, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
        cursor: pointer;
        width: 174px;
        line-height: 1.3;
        height: 100%;
        background: #ff3040;
        border: 2px solid #ff3040;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        box-sizing: border-box;
        white-space: nowrap;
        > p {
          margin: 4px;
          font-size: 28px;
          font-weight: 600;
        }
      }
      .btn_disable {
        opacity: 0.7 !important;
        cursor: not-allowed !important;
      }
    }
    .bet_content {
      /* padding: 30px 20px; */
      box-sizing: border-box;
      background: #1a1f25;
      border-radius: 20px;
      min-height: 480px;

      :deep(.el-menu--horizontal) {
        display: flex;
        justify-content: center !important;
        align-items: center;
      }
      .tabs {
        display: flex;
        margin-bottom: 50px;
        > span {
          flex: 1;
          height: 40px;
          text-align: center;
          position: relative;
        }
        > .tab_active {
          font-weight: 600;
          color: #ffd991;
        }
        > .tab_active::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 54px;
          background-image: url('@/assets/img/arrow_top.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          top: 24px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .bet_data_box {
        .line {
          width: 90%;
          height: 1px;
          flex-shrink: 0;
          background: #2d3035;
          margin-top: 27px;
        }
        .rank_box {
          // display: none;
          width: 100%;
          height: 1048px;
          /* background: #1a1f25;
          border-radius: 10px; */

          .title {
            padding: 0 20px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            /* background: #272d35; */
            color: #55657d;
            text-align: center;
            font-family: PingFang HK;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          > ul {
            padding: 0 20px;
            box-sizing: border-box;
            .line {
              width: 100%;
              height: 1px;
              flex-shrink: 0;
              background: #2d3035;
              margin-top: 0;
            }

            .lilili {
              height: 90px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .times {
                color: #32d850;
                font-family: Microsoft YaHei;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              .bet {
                width: 89px;
                height: 42px;
                flex-shrink: 0;
                border-radius: 16px;
                color: #32d850;
                text-align: center;
              }
              .user {
                /* flex: 1; */
                display: flex;
                align-items: center;
                font-weight: 600;
                > img {
                  width: 38px;
                  height: 38px;
                  margin-right: 16px;
                }
              }
            }
          }
        }
        .list {
          margin-top: 30px;

          ul {
            /* padding: 20px 30px; */
            box-sizing: border-box;
            /* border-radius: 20px;
            background: #2f3a47; */
            margin-bottom: 20px;
          }
          .list_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            > p {
              color: #55657d;
              text-align: center;
              font-family: PingFang HK;
              font-size: 28px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin: 10px 0;
              flex: 1;
            }
            .span1 {
              flex: 1;
              color: #fff;
              font-family: Microsoft YaHei;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .span2 {
              flex: 1;
              color: #32d850;
              font-family: Microsoft YaHei;
              font-size: 26px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .span3 {
              width: 89px;
              height: 42px;
              flex-shrink: 0;
              border-radius: 16px;
              background: #1b3c31;
              color: #32d850;
              font-family: Microsoft YaHei;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 42px;
            }

            /* > span {
              font-size: 28px;
              margin: 10px 0;
              width: 25%;
            } */
          }
        }
        > ul {
          > li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            > div {
              > p {
                margin: 0px 0 16px 0;
              }
            }
            .switch_box {
              display: flex;
              align-items: center;
              font-size: 24px;
              margin-bottom: 20px;
              .van-switch {
                margin: 0 16px;
                // width: 38px;
                // height: 18px;
              }
              // justify-content: space-between;
            }
            .bet_data_input {
              width: 210px;
              height: 90px;
              background: #272c31;
              border-radius: 70px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 24px;
              box-sizing: border-box;
              font-weight: 600;
              input {
                border: none;
                outline: none;
                background: transparent;
                width: 180px;
                // flex: 1;
              }
            }
          }
        }
        .nodata {
          margin: 44px auto;
          width: 240px;
          > img {
            width: 240px;
            height: 204px;
          }
          > p {
            text-align: center;
            font-size: 24px;
            color: #7b8398;
          }
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  #dice {
    position: relative;
    // width: 1200px;
    // margin: 0 auto;
    // display: flex;
    margin-top: 60px;
    margin-left: 106px;
    .public_header_box {
      display: none;
    }
    .content_wrap {
      width: 1200px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      .rank_box {
        display: block;
        width: 706px;
        height: 1048px;
        background: #1a1f25;
        border-radius: 10px;
        margin-left: 40px;
        margin-top: 140px;
        .title {
          padding: 0 48px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          background: #272d35;
          color: #7b8398;
        }
        > ul {
          padding: 34px 48px;
          box-sizing: border-box;
          > li {
            height: 90px;
            display: flex;
            align-items: center;
            > span {
              flex: 1;
              text-align: center;
              display: flex;
              justify-content: center;
              > span {
                width: 90px;
                height: 34px;
                font-size: 24px;
                background: #7ebf12;
                border-radius: 40px;
                display: block;
                text-align: center;
                line-height: 34px;
              }
            }
            .bet {
              width: 89px;
              height: 42px;
              flex-shrink: 0;
              border-radius: 16px;
              background: #1b3c31;
              color: #32d850;
              font-family: Microsoft YaHei;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 42px;
              text-align: center;
              /* > img {
                width: 24px;
                margin-right: 14px;
              } */
            }
            .user {
              flex: 1;
              display: flex;
              align-items: center;
              font-weight: 600;
              > img {
                width: 40px;
                height: 40px;
                margin-right: 16px;
              }
            }
          }
        }
      }
    }

    .header {
      display: block !important;
    }

    .body {
      width: 790px;
      background: #1a1f25;
      margin-bottom: 20px;
      border: 5px;
      margin-top: 70px;
      // margin-left: 30px;
      .cash_in_box_wrap {
        margin-top: 15px;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        .cash_in_box {
          height: 79px;
          width: 297px;
          margin: 0;
          margin-right: 10px;
        }
        .amount_box {
          flex: 1;
          margin: 0;
          .bet_amount {
            width: 330px;
          }
        }
      }
      .bet_data_box {
        li {
          > div {
            width: 334px;
            .bet_data_input {
              width: 334px !important;
            }
          }
        }
      }
      .top_box {
        top: 0px;
        width: 1200px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        background: #1a1f25;
        align-items: center;
        padding: 10px 15px;
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        .crash_title {
          margin: 0;
        }
        .nav {
          width: 300px;
          // margin-left: 400px;
          margin: 0;
        }
      }
    }
  }
}
</style>
<style rc-util-key="@ant-design-icons">
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}

.anticon::before {
  display: none;
}

.anticon .anticon-icon {
  display: block;
}

.anticon[tabindex] {
  cursor: pointer;
}

.anticon-spin::before,
.anticon-spin {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
}

@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
<style>
@keyframes fGtWtc {
  0% {
    transform: translateZ(100px) rotateX(0deg) rotateY(0deg) rotate(0deg);
  }

  16% {
    transform: translateZ(100px) rotateX(180deg) rotateY(180deg) rotate(0deg);
  }

  33% {
    transform: translateZ(100px) rotateX(1turn) rotateY(90deg) rotate(180deg);
  }

  50% {
    transform: translateZ(100px) rotateX(1turn) rotateY(1turn) rotate(1turn);
  }

  66% {
    transform: translateZ(100px) rotateX(180deg) rotateY(1turn) rotate(270deg);
  }

  83% {
    transform: translateZ(100px) rotateX(270deg) rotateY(180deg) rotate(180deg);
  }

  100% {
    transform: translateZ(100px) rotateX(1turn) rotateY(1turn) rotate(1turn);
  }
}

.kPjWIa {
  width: 120px;
  height: 120px;
}
.kPjWIa .cube {
  width: 120px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  animation: 50s linear 0s infinite normal none running fGtWtc;
}
.kPjWIa .cube__face--1 {
  transform: rotateY(0deg) translateZ(60px);
}

.kPjWIa .cube__face--1 {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.kPjWIa .cube__face {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background-color: rgb(248, 251, 232);
  box-shadow: rgb(204, 204, 204) 0px 0px 16px inset;
  padding: 4px;
}
.kTiYfD {
  display: flex;
}
.kPjWIa .cube__face--1 .point {
  background-color: red !important;
}

.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--1--inner {
  transform: rotateY(0deg) translateZ(56px);
}

/* .kPjWIa .inner {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: rgb(224, 224, 224);
} */
.kPjWIa .cube__face--2 {
  transform: rotateY(180deg) translateZ(60px);
}

.kPjWIa .cube__face--2 {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.kTiYfD {
  display: flex;
}
.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--2 .item2 {
  align-self: flex-end;
}

.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--2--inner {
  transform: rotateY(180deg) translateZ(56px);
}

/* .kPjWIa .inner {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: rgb(224, 224, 224);
} */
.kPjWIa .cube__face--3 {
  transform: rotateY(90deg) translateZ(60px);
}

.kPjWIa .cube__face--3 {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
/* .kPjWIa .cube__face {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(248, 251, 232);
  box-shadow: rgb(204, 204, 204) 0px 0px 8px inset;
  padding: 4px;
} */

.kTiYfD {
  display: flex;
}
.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--3 .item2 {
  align-self: center;
}

.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--3 .item3 {
  align-self: flex-end;
}

.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--3--inner {
  transform: rotateY(90deg) translateZ(56px);
}

/* .kPjWIa .inner {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: rgb(224, 224, 224);
} */
.kPjWIa .cube__face--4 {
  transform: rotateY(-90deg) translateZ(60px);
  /* background: transparent !important; */
}

.kPjWIa .cube__face--4 {
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* .kPjWIa .cube__face {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(248, 251, 232);
  box-shadow: rgb(204, 204, 204) 0px 0px 8px inset;
  padding: 4px;
} */
.kTiYfD {
  display: flex;
}
.kPjWIa .cube__face--4 div {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  /* background-color: rgb(248, 251, 232); */
}
.kPjWIa .cube__face--4 .point {
  background-color: red !important;
}

.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}

.kPjWIa .cube__face--4--inner {
  transform: rotateY(-90deg) translateZ(56px);
  background-color: transparent !important;
}

/* .kPjWIa .inner {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: rgb(224, 224, 224);
} */
.kPjWIa .cube__face--5 {
  transform: rotateX(90deg) translateZ(62px);
}

.kPjWIa .cube__face--5 {
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* .kPjWIa .cube__face {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(248, 251, 232);
  box-shadow: rgb(204, 204, 204) 0px 0px 8px inset;
  padding: 4px;
} */

.kTiYfD {
  display: flex;
}
.kPjWIa .cube__face--5 div {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--5 .column {
  -webkit-box-pack: center;
  justify-content: center;
}

.kPjWIa .cube__face--5 div {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--5--inner {
  transform: rotateX(90deg) translateZ(56px);
  background-color: transparent !important;
}

/* .kPjWIa .inner {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: rgb(224, 224, 224);
} */
.kPjWIa .cube__face--6 {
  transform: rotateX(-90deg) translateZ(60px);
}

.kPjWIa .cube__face--6 {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* .kPjWIa .cube__face {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(248, 251, 232);
  box-shadow: rgb(204, 204, 204) 0px 0px 8px inset;
  padding: 4px;
} */
.kPjWIa .cube__face--6 div {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.kPjWIa .cube__face--6 .point {
  background-color: red !important;
}

.kPjWIa .cube .point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
}
.kPjWIa .cube__face--6--inner {
  transform: rotateX(-90deg) translateZ(56px);
}

/* .kPjWIa .inner {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: rgb(224, 224, 224);
} */
</style>
