<script setup>
import { useImg } from '@utils/useImg'
import { judgeClient } from '@utils/tool'

const { logo } = useImg()

const showBottom = ref(false)
</script>

<template>
  <div py-80px px-16px>
    <img mx-auto block w-150px h-150px :src="logo" alt="" />
    <div mt-20px text-40px text-white text-center>BBRGOL</div>
    <div
      mt-20px
      mx-auto
      w-300px
      h-80px
      rounded-20px
      bg-tay-active1
      flex
      items-center
      justify-center
      @click="showBottom = true"
    >
      <span
        v-if="judgeClient() === 'Android'"
        role="img"
        aria-label="android"
        class="anticon anticon-android"
      >
        <svg
          viewBox="64 64 896 896"
          focusable="false"
          data-icon="android"
          width="1em"
          height="1em"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M448.3 225.2c-18.6 0-32 13.4-32 31.9s13.5 31.9 32 31.9c18.6 0 32-13.4 32-31.9.1-18.4-13.4-31.9-32-31.9zm393.9 96.4c-13.8-13.8-32.7-21.5-53.2-21.5-3.9 0-7.4.4-10.7 1v-1h-3.6c-5.5-30.6-18.6-60.5-38.1-87.4-18.7-25.7-43-47.9-70.8-64.9l25.1-35.8v-3.3c0-.8.4-2.3.7-3.8.6-2.4 1.4-5.5 1.4-8.9 0-18.5-13.5-31.9-32-31.9-9.8 0-19.5 5.7-25.9 15.4l-29.3 42.1c-30-9.8-62.4-15-93.8-15-31.3 0-63.7 5.2-93.8 15L389 79.4c-6.6-9.6-16.1-15.4-26-15.4-18.6 0-32 13.4-32 31.9 0 6.2 2.5 12.8 6.7 17.4l22.6 32.3c-28.7 17-53.5 39.4-72.2 65.1-19.4 26.9-32 56.8-36.7 87.4h-5.5v1c-3.2-.6-6.7-1-10.7-1-20.3 0-39.2 7.5-53.1 21.3-13.8 13.8-21.5 32.6-21.5 53v235c0 20.3 7.5 39.1 21.4 52.9 13.8 13.8 32.8 21.5 53.2 21.5 3.9 0 7.4-.4 10.7-1v93.5c0 29.2 23.9 53.1 53.2 53.1H331v58.3c0 20.3 7.5 39.1 21.4 52.9 13.8 13.8 32.8 21.5 53.2 21.5 20.3 0 39.2-7.5 53.1-21.3 13.8-13.8 21.5-32.6 21.5-53v-58.2H544v58.1c0 20.3 7.5 39.1 21.4 52.9 13.8 13.8 32.8 21.5 53.2 21.5 20.4 0 39.2-7.5 53.1-21.6 13.8-13.8 21.5-32.6 21.5-53v-58.2h31.9c29.3 0 53.2-23.8 53.2-53.1v-91.4c3.2.6 6.7 1 10.7 1 20.3 0 39.2-7.5 53.1-21.3 13.8-13.8 21.5-32.6 21.5-53v-235c-.1-20.3-7.6-39-21.4-52.9zM246 609.6c0 6.8-3.9 10.6-10.7 10.6-6.8 0-10.7-3.8-10.7-10.6V374.5c0-6.8 3.9-10.6 10.7-10.6 6.8 0 10.7 3.8 10.7 10.6v235.1zm131.1-396.8c37.5-27.3 85.3-42.3 135-42.3s97.5 15.1 135 42.5c32.4 23.7 54.2 54.2 62.7 87.5H314.4c8.5-33.4 30.5-64 62.7-87.7zm39.3 674.7c-.6 5.6-4.4 8.7-10.5 8.7-6.8 0-10.7-3.8-10.7-10.6v-58.2h21.2v60.1zm202.3 8.7c-6.8 0-10.7-3.8-10.7-10.6v-58.2h21.2v60.1c-.6 5.6-4.3 8.7-10.5 8.7zm95.8-132.6H309.9V364h404.6v399.6zm85.2-154c0 6.8-3.9 10.6-10.7 10.6-6.8 0-10.7-3.8-10.7-10.6V374.5c0-6.8 3.9-10.6 10.7-10.6 6.8 0 10.7 3.8 10.7 10.6v235.1zM576.1 225.2c-18.6 0-32 13.4-32 31.9s13.5 31.9 32 31.9c18.6 0 32.1-13.4 32.1-32-.1-18.6-13.4-31.8-32.1-31.8z"
          ></path>
        </svg>
      </span>
      <span
        v-if="judgeClient() === 'IOS'"
        role="img"
        aria-label="apple"
        class="anticon anticon-apple"
      >
        <svg
          viewBox="64 64 896 896"
          focusable="false"
          data-icon="apple"
          width="1em"
          height="1em"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M747.4 535.7c-.4-68.2 30.5-119.6 92.9-157.5-34.9-50-87.7-77.5-157.3-82.8-65.9-5.2-138 38.4-164.4 38.4-27.9 0-91.7-36.6-141.9-36.6C273.1 298.8 163 379.8 163 544.6c0 48.7 8.9 99 26.7 150.8 23.8 68.2 109.6 235.3 199.1 232.6 46.8-1.1 79.9-33.2 140.8-33.2 59.1 0 89.7 33.2 141.9 33.2 90.3-1.3 167.9-153.2 190.5-221.6-121.1-57.1-114.6-167.2-114.6-170.7zm-10.6 267c-14.3 19.9-28.7 35.6-41.9 45.7-10.5 8-18.6 11.4-24 11.6-9-.1-17.7-2.3-34.7-8.8-1.2-.5-2.5-1-4.2-1.6l-4.4-1.7c-17.4-6.7-27.8-10.3-41.1-13.8-18.6-4.8-37.1-7.4-56.9-7.4-20.2 0-39.2 2.5-58.1 7.2-13.9 3.5-25.6 7.4-42.7 13.8-.7.3-8.1 3.1-10.2 3.9-3.5 1.3-6.2 2.3-8.7 3.2-10.4 3.6-17 5.1-22.9 5.2-.7 0-1.3-.1-1.8-.2-1.1-.2-2.5-.6-4.1-1.3-4.5-1.8-9.9-5.1-16-9.8-14-10.9-29.4-28-45.1-49.9-27.5-38.6-53.5-89.8-66-125.7-15.4-44.8-23-87.7-23-128.6 0-60.2 17.8-106 48.4-137.1 26.3-26.6 61.7-41.5 97.8-42.3 5.9.1 14.5 1.5 25.4 4.5 8.6 2.3 18 5.4 30.7 9.9 3.8 1.4 16.9 6.1 18.5 6.7 7.7 2.8 13.5 4.8 19.2 6.6 18.2 5.8 32.3 9 47.6 9 15.5 0 28.8-3.3 47.7-9.8 7.1-2.4 32.9-12 37.5-13.6 25.6-9.1 44.5-14 60.8-15.2 4.8-.4 9.1-.4 13.2-.1 22.7 1.8 42.1 6.3 58.6 13.8-37.6 43.4-57 96.5-56.9 158.4-.3 14.7.9 31.7 5.1 51.8 6.4 30.5 18.6 60.7 37.9 89 14.7 21.5 32.9 40.9 54.7 57.8-11.5 23.7-25.6 48.2-40.4 68.8zm-94.5-572c50.7-60.2 46.1-115 44.6-134.7-44.8 2.6-96.6 30.5-126.1 64.8-32.5 36.8-51.6 82.3-47.5 133.6 48.4 3.7 92.6-21.2 129-63.7z"
          ></path>
        </svg>
      </span>
      <span ml-20px>{{ judgeClient() }}</span>
    </div>

    <!-- 底部弹出 -->
    <van-popup
      class="downpop"
      v-model:show="showBottom"
      position="bottom"
      :style="{ height: '45%' }"
    >
      <div class="wrapper">
        <div class="top">
          <div class="top-title">Add to Home Screen</div>
          <el-button @click="showBottom = false" class="text-tay-active-1!" text>OK</el-button>
        </div>
        <div class="center">
          <p class="desc">
            This website has app functionality. Add it to your home screen to use it in fullscreen
            and while offline.
          </p>
        </div>
        <div class="bottom">
          <div class="step">
            <svg
              class="GbDownloadPopup_stepItemIcon__h9zz+"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 566 670"
            >
              <path
                d="M255 12c4-4 10-8 16-8s12 3 16 8l94 89c3 4 6 7 8 12 2 6 0 14-5 19-7 8-20 9-28 2l-7-7-57-60 2 54v276c0 12-10 22-22 22-12 1-24-10-23-22V110l1-43-60 65c-5 5-13 8-21 6a19 19 0 0 1-16-17c-1-7 2-13 7-18l95-91z"
              ></path>
              <path
                d="M43 207c16-17 40-23 63-23h83v46h-79c-12 0-25 3-33 13-8 9-10 21-10 33v260c0 13 0 27 6 38 5 12 18 18 30 19l14 1h302c14 0 28 0 40-8 11-7 16-21 16-34V276c0-11-2-24-9-33-8-10-22-13-34-13h-78v-46h75c13 0 25 1 37 4 16 4 31 13 41 27 11 17 14 37 14 57v280c0 20-3 41-15 58a71 71 0 0 1-45 27c-11 2-23 3-34 3H109c-19-1-40-4-56-15-14-9-23-23-27-38-4-12-5-25-5-38V270c1-22 6-47 22-63z"
              ></path>
            </svg>
            <p>1) Press the 'Share' button on the menu bar below.</p>
          </div>
          <div class="step">
            <svg
              class="GbDownloadPopup_stepItemIcon__h9zz+"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 578 584"
              style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255)"
            >
              <path
                d="M101 35l19-1h333c12 0 23 0 35 3 17 3 34 12 44 27 13 16 16 38 16 58v329c0 19 0 39-8 57a65 65 0 0 1-37 37c-18 7-38 7-57 7H130c-21 1-44 0-63-10-14-7-25-20-30-34-6-15-8-30-8-45V121c1-21 5-44 19-61 13-16 33-23 53-25m7 46c-10 1-19 6-24 14-7 8-9 20-9 31v334c0 12 2 25 10 34 9 10 23 12 35 12h336c14 1 30-3 38-15 6-9 8-20 8-31V125c0-12-2-24-10-33-9-9-22-12-35-12H121l-13 1z"
              ></path>
              <path
                d="M271 161c9-11 31-10 38 4 3 5 3 11 3 17v87h88c7 0 16 1 21 7 6 6 7 14 6 22a21 21 0 0 1-10 14c-5 4-11 5-17 5h-88v82c0 7-1 15-6 20-10 10-29 10-37-2-3-6-4-13-4-19v-81h-87c-8-1-17-3-23-9-5-6-6-15-4-22a21 21 0 0 1 11-14c6-3 13-3 19-3h84v-88c0-7 1-14 6-20z"
              ></path>
            </svg>
            <p>2) Press 'Add to Home Screen'.</p>
          </div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<style lang="scss">
.downpop.van-popup {
  background: transparent;
  padding: 0 16px 20px;
  .wrapper {
    background: rgba(65, 65, 65, 0.7);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    .bottom {
      margin: 0 32px;
      padding: 32px;
      .step {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 16px;
        text-align: left;
        svg {
          fill: #0984ff;
          color: #0984ff;
          flex: 0 0 auto;
          height: 60px;
          margin-right: 64px;
          width: 50px;
        }
        p {
          color: rgba(235, 235, 245, 0.6);
          font-size: 26px;
          font-weight: 600;
          line-height: 34px;
          margin-bottom: 0;
        }
      }
    }
    .center {
      display: flex;
      width: 100%;
      .desc {
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
        color: rgba(235, 235, 245, 0.6);
        font-size: 26px;
        line-height: 34px;
        margin: 0 32px;
        padding: 32px;
        width: 100%;
      }
    }
    .top {
      align-items: center;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 26px 32px;
      .top-title {
        color: #fff;
        font-size: 36px;
        font-weight: 500;
        line-height: 2.25;
        margin: 0;
        padding: 0;
      }
    }
  }
}
</style>
