<script setup>
import { useRouter } from 'vue-router'
const router = useRouter()
</script>
<!-- 首页 -->
<template>
  <main pt-20px px-16px pb-10px>
    <!-- 走马灯图片 -->
    <img @click="router.push('/bonus')" w-full h-440px src="@/assets/img/banner.png" alt="" />
    <home-swiper />

    <home-game />
  </main>
</template>
