<template>
  <div
    class="i-mdi:keyboard-return"
    fixed
    top-10px
    text-white
    z-999
    left-100px
    text-60px
    @click.stop="
      () => {
        destroyIframe(sysStore.iframeid)
        sysStore.showiframe = false
        sysStore.iframeid = 0
        sysStore.getProfile()
      }
    "
    v-if="sysStore.showiframe"
  ></div>
  <div class="fili" :class="`${temp}_temp`">
    <van-config-provider :theme-vars="themeVars" theme="dark">
      <!-- 头部栏 -->
      <public-header />
      <RouterView />
      <!-- 底部栏 -->
      <public-footer />
      <pc-footer />
      <service-float />
      <recharge-pop v-if="sysStore.showRechagePop.show" />
      <login-pop v-if="sysStore.loginPop.show" />
    </van-config-provider>
  </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { RouterView, useRouter } from 'vue-router'
import { useSystemStore } from '@/stores/system'
import { destroyIframe } from '@/utils/tool.js'
const sysStore = useSystemStore()
const router = useRouter()

sysStore.getProfile()

const temp = ref('tay')

const themeVars = reactive({
  toastDefaultWith: '120px',
  tabbarBackground: '#16202d',
  tabbarHeight: '64px',
  tabbarItemActiveBackground: 'transparent'
})
</script>

<style lang="scss">
.fili.tay_temp {
  line-height: 1.5715;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
</style>
