<script setup>
import { ApiMessage } from '@api/request'

const list = ref([])
const getMessage = async () => {
  const res = await ApiMessage({
    limit: 20,
    page: 1
  })
  console.log('消息', res)
  list.value = res.data
}

getMessage()

const deleteMess = async () => {
  console.log()
}
</script>

<template>
  <div p-30px>
    <div text-white text-48px font-bold mb-20px>Messages</div>
    <div>
      <div text-tay-text-14 p-40px w-690px mx-auto h-356px bg-tay-bg-4 round-20px>
        <div class="title">
          <img mr-20px w-42px h-32px src="@/assets/img/common/message.png" alt="" />
          <span>time</span>
        </div>
        <div class="content">
          Real-time calculation of block node revenue. Use the on-chain USDT mining node to gain
          benefits for users, become a virtual miner and let Miners' powerful computer start working
          for you.
        </div>
        <!-- <div>
          <el-button
            @click="deleteMess"
            class="font-bold! bg-tay-active-3!"
            w-109px
            h-50px
            block
            type="danger"
            size="mini"
            >Delete</el-button
          >
        </div> -->
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.title {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.content {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: solid 2px #3a4653;
}
</style>
