<template>
  <div id="mines" pt-20px px-20px>
    <div flex justify-between items-center text-white text-center>
      <div flex items-center>
        <div w-158px h-60px bg-tay-bg-17 leading-60px rounded-10px>Mines</div>
        <div ml-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center>
          <img mr-10px w-26px h-26px src="@/assets/img/mines/user.png" alt="" />
          <span>{{ userNumber }}</span>
        </div>
      </div>
      <div flex items-center>
        <div @click="addLike" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-22px h-20px :src="isColleced ? imgHeartAct : imgHeart" alt="" />
        </div>
        <div @click="muted = !muted" mr-20px h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px>
          <img w-25px h-23px :src="!muted ? imgBear : imgBearNo" alt="" />
        </div>
        <div h-60px bg-tay-bg-17 rounded-10px px-20px leading-60px flex items-center justify-center>
          <img w-31px h-31px src="@/assets/img/mines/time.png" alt="" />
        </div>
      </div>
    </div>

    <div class="content_wrap">
      <div class="body">
        <div class="game_box">
          <div class="game_top">
            <div>
              <img src="@/assets/img/mines/diamond.png" alt="" />
              <span>X {{ 25 - valueRisk }}</span>
            </div>
            <div>
              <img src="@/assets/img/mines/bomb.png" alt="" />
              <span>X {{ valueRisk }}</span>
            </div>
          </div>
          <ul class="game_content">
            <li
              class="game_item"
              :class="{
                click: alreadyBet,
                diamon_bg: chooseCardIds.includes(i),
                boom_bg: boomIds.includes(i)
              }"
              :id="`treasurebox${i}`"
              @click="digDiamond(i)"
              v-for="i in 25"
              :key="i"
            >
              <img
                class="animate__animated animate__bounceIn animate__faster"
                v-show="chooseCardIds.includes(i)"
                width="27px"
                src="@/assets/img/mines/diamond.png"
              />
              <img
                class="animate__animated animate__bounceIn animate__faster"
                v-show="boomIds.includes(i)"
                width="43px"
                src="@/assets/img/mines/bomb.png"
              />
              <!-- <img :src="require('@/assets/img/mines/game_normal.png')" alt=""> -->
            </li>
          </ul>
          <div class="win_popup" v-if="showWinPopup">
            <div class="win_amount">₱ {{ winAmount }}</div>
            <div class="multiplier">
              <span>Multiplier</span>
              <span>{{ winMultiplier }}x</span>
            </div>
            <img class="win_popup_img" src="@/assets/img/mines/win_popup.png" alt="" />
          </div>
        </div>
        <div class="history_times_box">
          <div class="i-ep:arrow-left-bold text-tay-text-2 text-33px" @click="moveLeft"></div>
          <div class="bet_times_box">
            <ul ref="bet_times_wrap">
              <li
                class="bet_times_item"
                :class="{
                  item_hit: index === winPosition - 1
                }"
                v-for="(item, index) in betTimesArr"
                :key="index"
                :id="`bettimes${index + 1}`"
              >
                <p>{{ item }}x</p>
                <span>{{ index + 1 }} hits</span>
              </li>
            </ul>
          </div>

          <div class="i-ep:arrow-right-bold text-tay-text-2 text-33px" @click="moveRight"></div>
        </div>
        <div class="autoPick_box">
          <div class="game_type" @click.self="showSelect">
            <div class="icon_box">
              <!-- <img :src="gameTypeIcon" alt=""> -->
              <span>{{ valueRisk }}</span>
            </div>
            <img class="arrow" src="@/assets/img/arrow_down.png" alt="" />
            <div class="popup" v-if="isShowtype">
              <div
                class="list"
                v-for="(item, index) in optionsRisk"
                :key="index"
                @click.stop="selectType(item)"
              >
                <span>{{ item }}</span>
              </div>
            </div>
          </div>

          <!-- <el-select
            :disabled="alreadyBet"
            @change="changeRisk"
            v-model="valueRisk"
            :no-data-text="$t('commom.noData')"
            :placeholder="$t('commom.pleaseSelect')"
          >
            <el-option
              v-for="item in optionsRisk"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select> -->

          <div class="risk_label">Risk</div>
        </div>

        <div class="amount_box">
          <div class="bet_amount">
            <div>
              <span @click="betAmount = min">MIN</span>
              <span @click="half">1/2</span>
            </div>
            <div class="bet_amount_inputbox">
              <p>R$</p>
              <input :readonly="alreadyBet" type="number" pattern="[0-9]*" v-model="betAmount" />
            </div>

            <div>
              <span
                @click="
                  () => {
                    if (balance > 1) {
                      betAmount = balance
                    } else {
                      ElMessage.error(t('common.moneyNoEnough'))
                    }
                  }
                "
                >MAX</span
              >
              <span @click="betAmount = betAmount * 2">2X</span>
            </div>
          </div>
          <div @click="playgame" :class="{ unable: isBetBtnGrey }" class="bet_btn">
            <p>{{ alreadyBet ? 'Cashout' : 'bet' }}</p>
            <template v-if="alreadyBet && betTimesArr.length && !isBetBtnGrey">
              <span>Profit on win</span>

              <span>{{ betTimesArr[winPosition - 1] }}x</span>
            </template>
          </div>
        </div>
        <div class="bet_content">
          <div class="tabs">
            <span :class="tabIndex === 0 ? 'tab_active' : ''" @click="tabIndex = 0"
              >MY HISTORY</span
            >
            <span :class="tabIndex === 1 ? 'tab_active' : ''" @click="tabIndex = 1"
              >ALL PLAYERS</span
            >
          </div>

          <div class="bet_data_box">
            <div class="list" v-if="tabIndex === 0">
              <ul v-if="myBetResults.length">
                <li class="list_item">
                  <p>Period</p>
                  <p>Risk</p>
                  <p>Bet</p>
                  <p>Payout</p>
                </li>
                <li
                  class="list_item"
                  style="margin-top: 10px"
                  v-for="(historyList, index) in myBetResults"
                  :key="index"
                >
                  <span>{{ historyList.round }}</span>
                  <span style="color: #fff">{{ historyList.risk }}</span>
                  <span>{{ historyList.amount }}</span>
                  <span>{{ historyList.bonus }}</span>
                </li>
              </ul>
              <div class="nodata" v-else>
                <img src="@/assets/img/nodata.png" alt="" />
                <p>No Data</p>
              </div>
            </div>
            <ul v-if="tabIndex === 1">
              <div class="rank_box">
                <div class="title">
                  <span>User</span>
                  <span>Multiplier</span>
                  <span>Bet</span>
                </div>
                <ul>
                  <li v-for="item in myBetResults" :key="item.round">
                    <div class="user">
                      <img src="@/assets/img/pc/avatar.png" alt="" />
                      <span> Hidden </span>
                    </div>
                    <span class="times"
                      ><span :class="item.result == 'fail' || item.result == 'lose' ? 'fail' : ''"
                        >x{{ item.m }}</span
                      ></span
                    >
                    <div class="bet">
                      <span>{{ currencySymbol }} {{ item.bonus }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <Rank :myBetResults="myBetResults" />
    </div>
    <audio ref="click" :src="clickwav" preload id="click" hidden :muted="muted"></audio>
    <audio ref="lose" :src="losemp3" preload id="lose" hidden :muted="muted"></audio>
    <audio ref="win" :src="winmp3" preload id="win" :muted="muted" hidden></audio>
  </div>
</template>
<script setup>
import { useI18n } from 'vue-i18n'
import clickwav from '@/assets/audio/click.wav'
import losemp3 from '@/assets/audio/lose.mp3'
import winmp3 from '@/assets/audio/win.mp3'
import imgBear from '@img/mines/bear.png'
import imgBearNo from '@img/mines/bear-not.png'
import imgHeartAct from '@img/mines/heart-act.png'
import imgHeart from '@img/mines/heart.png'
const { t } = useI18n()
</script>
<script>
import { ApiFavList, ApiAddFavour, ApiRemoveFavour } from '@api/request.js'
import { mapActions, mapState } from 'pinia'
import { useSystemStore } from '@/stores/system'
import { sendWebsocket, closeWebsocket, createWebSocket } from '@/utils/ws1.js'
import { ElMessage } from 'element-plus'
export default {
  name: 'Mines',
  data() {
    return {
      userNumber: 0,
      chooseCardIds: [],
      boomIds: [],
      isShowtype: false,
      isColleced: false, //该游戏是否收藏
      likeLists: [], //收藏列表、
      game_id: 2, //游戏id
      muted: false,
      map: null,
      winAmount: '',
      winMultiplier: '',
      showWinPopup: false, //是否显示win的弹窗
      myBetResults: [], //我的输赢结果

      min: 1, //最小投注额
      winPosition: 0,
      currentSelectedTreasureBoxIndex: 0,
      alreadyBet: false, //是否已经投注
      left: 0,
      betTimesArr: Array.from({ length: 24 }),
      betAmount: 1, //投注金额
      diamondAccount: 24,
      optionsRisk: [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
      ],
      tabIndex: 0,
      noData: false,
      checked: true,
      checked1: true,
      valueRisk: 1
    }
  },
  computed: {
    ...mapState(useSystemStore, ['balance', 'currencySymbol']),
    // bet按钮是否置灰
    isBetBtnGrey() {
      return !this.chooseCardIds.length && this.alreadyBet
    }
  },
  created() {
    this.getLikeLists()
    // let auth = window.localStorage.getItem("Authentication");
    createWebSocket(`mine`, this.onWebSocketMessage)
  },
  mounted() {
    this.getProfile()
  },
  beforeUnmount() {
    console.log('mines销毁')
    // 清理数据和事件监听器
    sendWebsocket({
      cmd: 'quit'
    })
    const timer = setTimeout(() => {
      clearTimeout(timer)
      closeWebsocket()
    }, 1500)
  },
  methods: {
    ...mapActions(useSystemStore, ['getProfile', 'updateBalance']),
    tranformArr(data) {
      const [x, y] = data
      return y * 5 + x + 1
    },
    tranformIndex(index) {
      const real = index - 1
      if (real == 0) {
        return [0, 0]
      }
      const x = real % 5
      const y = Math.floor(real / 5)
      return [x, y]
    },
    showSelect() {
      if (this.alreadyBet) return
      this.isShowtype = !this.isShowtype
    },
    selectType(item) {
      this.valueRisk = item
      this.isShowtype = false
      sendWebsocket({
        cmd: 'risk',
        risk: item
      })
    },
    async getLikeLists() {
      const res = await ApiFavList()
      if (res.code == 0) {
        this.likeLists = res.data
        this.likeLists.forEach((like) => {
          if (like.id == this.game_id) {
            this.isColleced = true
          }
        })
      }
    },
    async addLike() {
      // this.isColleced=!this.isColleced

      if (!this.isColleced) {
        const res = await ApiAddFavour({
          game_id: this.game_id
        })
        if (res.code === 0) {
          this.isColleced = true
          ElMessage.success(res.msg)
          this.getLikeLists()
        } else {
          ElMessage.error(res.msg)
        }
      } else {
        const res = await ApiRemoveFavour({
          fav_id: this.game_id
        })
        if (res.code === 0) {
          ElMessage.success(res.msg)
          this.isColleced = false
        } else {
          ElMessage.error(res.msg)
        }
      }
    },
    //播放赢的声音
    winAudio() {
      if (this.muted) return
      if (this.$refs.win) {
        this.$refs.win.currentTime = 0
        this.$refs.win.play()
      }
    },
    //播放点击的声音
    clickAudio() {
      if (this.muted) return
      console.log('点击了', this.$refs.click)
      if (this.$refs.click) {
        this.$refs.click.currentTime = 0
        this.$refs.click.play()
        console.log('播放声音完毕')
      }
    },
    //播放输的声音
    loseAudio() {
      if (this.muted) return
      if (this.$refs.lose) {
        this.$refs.lose.currentTime = 0
        this.$refs.lose.play()
      }
    },
    //投注金额减半
    half() {
      if (this.betAmount > this.min) {
        this.betAmount = this.betAmount / 2
      }
    },
    isShowWinPopup(data) {
      if (data) {
        this.winAmount = data.bonus
        this.winMultiplier = data.m
      }
      this.showWinPopup = true
      let timer = setTimeout(() => {
        this.showWinPopup = false
        clearInterval(timer)
      }, 1500)
    },
    //跳转历史页面
    history() {
      var deviceHeight = window.screen.width
      if (deviceHeight >= 1000) {
        this.$historyPopup()
        return
      }
      this.$router.push('/history')
    },
    digDiamond(i) {
      console.log('dianji', i)
      if (!this.alreadyBet) {
        return ElMessage.error('please click bet first!')
      }
      if (this.chooseCardIds.includes(i)) return
      this.currentSelectedTreasureBoxIndex = i

      let data = {
        cmd: 'dig',
        position: this.tranformIndex(i)
      }
      this.clickAudio()
      console.log('send ws', data)
      sendWebsocket(data)
    },
    playgame() {
      if (this.isBetBtnGrey) {
        return
      }
      if (this.alreadyBet) {
        let data = {
          cmd: 'cashout'
        }
        sendWebsocket(data)
      } else {
        this.$refs.bet_times_wrap.style.left = 0
        this.chooseCardIds = []
        this.boomIds = []
        let data = {
          cmd: 'bet',
          amount: this.betAmount
        }
        sendWebsocket(data)
      }
      this.clickAudio()
    },
    changeRisk(val) {
      console.log(val)
      this.clickAudio()
      let data = {
        cmd: 'risk',
        risk: val
      }
      sendWebsocket(data)
    },

    //生成从minNum到maxNum的随机数
    randomNum(minNum, maxNum) {
      switch (arguments.length) {
        case 1:
          return parseInt(Math.random() * minNum + 1, 10)
        case 2:
          return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10)
        default:
          return 0
      }
    },

    onWebSocketMessage(data) {
      console.log('ws返回的data', data, typeof data)
      if (data.code === -4) {
        ElMessage.error(data.msg)
      }
      if (data.balance) {
        this.updateBalance(data.balance)
      }
      if (data.hits) {
        this.betTimesArr = data.hits
      }
      if (data.user_num) {
        //    this.userNumber = data.user_num
        this.userNumber = this.randomNum(100, 300)
      }
      if (data.risk) {
        this.valueRisk = data.risk
      }
      if (data.mined) {
        if (data.mined.length) {
          this.winPosition = data.mined.length
          this.alreadyBet = true
          data.mined.forEach((arr) => {
            const index = this.tranformArr(arr)
            this.chooseCardIds.push(index)
          })
          this.chooseCardIds.sort()
        }
      }
      // 初始化投注倍数
      if (data.cmd === 'risk' && data.code === 0) {
        this.betTimesArr = data.hits
      }
      if (data.cmd === 'bet' && (data.code === 0 || data.msg === 'repeat bet')) {
        this.alreadyBet = true
      }
      if (data.cmd === 'dig') {
        if (data.code != 0) {
          ElMessage.error(data.msg)
        } else {
          const { result } = data
          switch (result) {
            case 'fail':
              // 点击了炸弹
              this.loseAudio()
              this.myBetResults.push(data)
              this.alreadyBet = false

              this.boomIds.push(this.currentSelectedTreasureBoxIndex)

              if (data.map) {
                // 摊平数组
                if (Array.isArray(data.map)) {
                  const res = data.map
                    .toString()
                    .split(',')
                    .map((val) => parseInt(val))
                  console.log('摊平', res)
                  const boomarr = []
                  const choosearr = []
                  res.forEach((num, index) => {
                    if (num === 1) {
                      boomarr.push(index + 1)
                    } else {
                      choosearr.push(index + 1)
                    }
                  })
                  this.chooseCardIds = choosearr
                  this.boomIds = boomarr
                }
              }
              break
            case 'success':
              // 点击翻牌子
              this.$refs.bet_times_wrap.style.left = 0
              // 投注倍数高亮
              if (data.opened) {
                this.winPosition = Number(data.opened)
              }
              // 选中成功的牌子
              if (data.position && Array.isArray(data.position)) {
                const index = this.tranformArr(data.position)
                this.chooseCardIds.push(index)
              } else {
                this.chooseCardIds.push(this.currentSelectedTreasureBoxIndex)
              }
              this.chooseCardIds = [...new Set([...this.chooseCardIds])].sort()
              if (window.screen.width >= 1000) {
                if (this.winPosition > 9) {
                  let originleft = (this.winPosition - 9) * 75
                  this.$refs.bet_times_wrap.style.left = -originleft + 'px'
                }
              } else {
                if (this.winPosition > 4) {
                  let originleft = (this.winPosition - 4) * 75
                  this.$refs.bet_times_wrap.style.left = -originleft + 'px'
                }
              }
              break
            case 'win':
              // 硬点点赢了，没被炸死
              this.myBetResults.push(data)
              this.winPosition = data.opened
              if (window.screen.width >= 1000) {
                if (this.winPosition > 9) {
                  let originleft = (this.winPosition - 9) * 75
                  this.$refs.bet_times_wrap.style.left = -originleft + 'px'
                }
              } else {
                if (this.winPosition > 4) {
                  let originleft = (this.winPosition - 4) * 75
                  this.$refs.bet_times_wrap.style.left = -originleft + 'px'
                }
              }
              this.alreadyBet = false
              this.isShowWinPopup(data)
              break
            default:
              break
          }
        }
      }

      if (data.cmd === 'cashout' && data.code === 0) {
        this.winAudio()
        this.myBetResults.push(data)
        if (data.map) {
          // 摊平数组
          if (Array.isArray(data.map)) {
            const res = data.map
              .toString()
              .split(',')
              .map((val) => parseInt(val))
            console.log('摊平', res)
            const boomarr = []
            const choosearr = []
            res.forEach((num, index) => {
              if (num === 1) {
                boomarr.push(index + 1)
              } else {
                choosearr.push(index + 1)
              }
            })
            this.chooseCardIds = choosearr
            this.boomIds = boomarr
          }
        }
        this.alreadyBet = false
        this.isShowWinPopup(data)
      }
    },
    moveLeft() {
      let dom = this.$refs.bet_times_wrap
      console.log(this.left)
      console.log(dom)
      console.log(dom.style.x)

      if (this.left >= 0) {
        return
      }

      this.left += 62

      dom.style.left = this.left + 'PX'
    },
    moveRight() {
      let dom = this.$refs.bet_times_wrap
      console.log(dom)
      console.log(dom.style.x)
      if (window.screen.width < 1000) {
        if (this.left < -1425) {
          return
        }
      } else {
        if (this.left < -1050) {
          return
        }
      }

      this.left -= 62

      dom.style.left = this.left + 'PX'
      console.log(this.left)
    }
  }
}
</script>

<style lang="scss" scoped>
#mines {
  padding-bottom: 100px;

  .body {
    box-sizing: border-box;
    .crash_title {
      text-align: center;
      margin-top: 0;
      font-size: 16px;
      font-weight: 600;
    }
    .nav {
      height: 38.5px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      > span {
        width: 38.5px;
        height: 38.5px;
        background: #49515b;
        border-radius: 50%;
        align-items: center;

        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 25px;
          height: 25px;
        }
      }
      > div {
        width: 115px;
        height: 38.5px;
        background: #49515b;
        border-radius: 75px;
        display: flex;
        align-items: center;
        padding: 12px;
        box-sizing: border-box;
        > img {
          width: 25px;
          height: 25px;
        }
        > span {
          flex: 1;
          text-align: center;
        }
      }
    }
    .game_box {
      width: 690px;
      height: 771px;
      box-sizing: border-box;
      position: relative;
      background-image: url('../assets/img/mines/bg.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
      .win_popup {
        position: absolute;
        z-index: 99999;
        width: 234px;
        height: 118px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.45);
        mix-blend-mode: normal;
        border: 1px solid #ffffff;
        backdrop-filter: blur(6.5px);

        padding: 1px 25px;
        border-radius: 10px;
        .win_amount {
          text-align: center;
          margin-top: 35px;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 14px;
        }
        .multiplier {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .win_popup_img {
          width: 235px;
          position: absolute;
          top: -120px;
          left: 0;
        }
      }
      .game_top {
        margin-top: 50px;
        margin-bottom: 30px;
        height: 50px;
        display: flex;
        padding-right: 15px;
        box-sizing: border-box;

        > div {
          flex: 1;

          display: flex;
          align-items: center;
          justify-content: center;
          > img {
            height: 50px;
            margin-right: 5px;
          }
        }
      }
      .game_content {
        margin-top: 15px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > .game_item {
          width: 100px;
          height: 100px;
          margin-right: 32px;
          margin-bottom: 32px;
          background-image: url('@/assets/img/mines/game_normal.png');
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          align-items: center;
          justify-content: center;
          &:nth-child(5n) {
            margin-right: 0;
          }
          &.diamon_bg {
            background-image: url('@/assets/img/mines/diamond_bg.png');
            img {
              width: 78px;
              height: 64px;
            }
          }
          &.boom_bg {
            background-image: url('@/assets/img/mines/boom_bg.png');
            img {
              width: 87px;
              height: 73px;
            }
          }
        }
        .click {
          cursor: pointer;
        }
      }
    }
    .history_times_box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 110px;
      margin-bottom: 20px;
      .bet_times_box {
        flex: 1;
        overflow: hidden;
        position: relative;
        margin: 0 6px;
        height: 100%;
      }

      ul {
        position: absolute;
        left: 0;
        top: 0;
        // width: 293px;
        justify-content: space-between;
        display: flex;
        // flex: 1;
        // overflow: hidden;
        > .bet_times_item {
          width: 124px;
          height: 110px;
          background: #0c131d;
          border: 2px solid #5a5e6d;
          border-radius: 20px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 6px;
          text-align: center;
          overflow: hidden;
          &.item_hit {
            background: #ffd991;
            p {
              background: #ffd991;
            }
          }
          > p {
            background: #1b2234;
            width: 100%;
            height: 100%;
            line-height: 55px;
            margin: 0 0 12px 0;
            font-weight: 600;
          }
          > span {
            font-size: 24px;
            color: #585f71;
          }
        }
      }
    }
    .autoPick_box {
      display: flex;
      height: 72px;
      justify-content: space-between;
      position: relative;
      .game_type {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        height: 72px;
        border-radius: 30px;
        background: #1f2833;
        display: flex;
        align-items: center;
        padding: 0 24px;
        box-sizing: border-box;
        justify-content: space-between;
        .icon_box {
          display: flex;
          align-items: center;
          > img {
            width: 50px;
            margin-right: 12px;
          }
        }
        .arrow {
          width: 30px;
        }
        .popup {
          height: 550px;
          overflow-y: auto;
          position: absolute;
          // width: 305px;
          width: 100%;
          padding: 15px;
          background: #1f2833;
          top: 80px;
          left: 50%;
          transform: translate(-50%);
          z-index: 3;
          border-radius: 5px;
          .list {
            height: 72px;
            display: flex;
            align-items: center;
            > img {
              width: 24px;
              margin-right: 6px;
            }
          }
        }
      }
      .risk_label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .autoPick {
        width: 87px;
        height: 100%;
        background: linear-gradient(180deg, #3e4452 0%, #2a2e3b 98.19%);
        border: 1px solid #474d5c;
        border-radius: 10px;
        text-align: center;
        line-height: 36px;
      }
    }
    .cash_in_box {
      height: 50px;
      padding: 6px 10px;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #5a5e6d;
      background: #1e242c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .minus,
      .add {
        width: 41px;
        height: 25px;
        background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
        border: 1px solid #474d5c;
        box-shadow: inset 0px 1px 2.5px rgba(255, 255, 255, 0.159212);
        border-radius: 40px;
        line-height: 25px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
      }
      .times {
        > span {
          color: #585f71;
          font-size: 12px;
        }
        > p {
          margin: 2px 0;
          text-align: center;
          font-weight: 600;
        }
      }
    }
    .amount_box {
      height: 162px;
      display: flex;
      margin: 20px 0;
      justify-content: space-between;
      .bet_amount {
        flex: 1;
        margin-right: 20px;
        width: 492px;
        height: 100%;
        background: #1e242c;
        border: 1px solid #5a5e6d;
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        color: #7b8398;
        > .bet_amount_inputbox {
          // flex: 1;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 57px;
          margin: 0;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: #ffd991;
          > p {
            margin: 0;
          }
          > input {
            text-align: center;
            background: transparent;
            border: none;
            outline: none;
          }
        }
        > div {
          width: 42px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          > span {
            cursor: pointer;
            width: 100%;
            height: 25px;
            text-align: center;
            line-height: 25px;
            // background: linear-gradient(180deg, #3f4553 0%, #242a39 100%);
            // border: 1px solid #474d5c;
            // box-shadow: inset 0px 1px 2.5px rgba(255, 255, 255, 0.159212);
            border-radius: 40px;
            box-sizing: border-box;
            font-size: 12px;
          }
          .active {
            background: #ff3040;
            border: 1px solid #ff3040;
            border-radius: 30px;
            color: #724003;
          }
        }
      }
      .bet_btn {
        cursor: pointer;
        width: 184px;
        height: 100%;
        background: #ff3040;
        border: 2px solid #ff3040;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        box-sizing: border-box;
        > p {
          margin: 4px;
          font-size: 30px;
          font-weight: 600;
        }
      }
      .unable {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
    .bet_content {
      padding: 15px 10px;
      box-sizing: border-box;
      background: #1a1f25;
      border-radius: 10px;
      min-height: 480px;
      .tabs {
        display: flex;
        margin-bottom: 50px;
        > span {
          flex: 1;
          height: 50px;
          text-align: center;
          position: relative;
        }
        > .tab_active {
          font-weight: 600;
          color: #ffd991;
        }
        > .tab_active::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 60px;
          background-image: url('../assets/img/arrow_top.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          top: 40px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .bet_data_box {
        .rank_box {
          // display: none;
          width: 100%;
          height: 524px;
          background: #1a1f25;
          border-radius: 5px;

          .title {
            padding: 0 24px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            background: #272d35;
            color: #7b8398;
          }
          > ul {
            padding: 17px 24px;
            box-sizing: border-box;
            > li {
              height: 45px;
              display: flex;
              align-items: center;
              > span {
                flex: 1;
                text-align: center;
                display: flex;
                justify-content: center;
                > span {
                  padding: 10px;
                  font-size: 24px;
                  background: #7ebf12;
                  border-radius: 40px;
                  display: block;
                  text-align: center;
                  line-height: 34px;
                }
                .fail {
                  background: #fc5252 !important;
                }
              }
              .bet {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-weight: 600;
                color: #32d850;
                font-size: 26px;
              }
              .user {
                flex: 1;
                display: flex;
                align-items: center;
                font-weight: 600;
                > img {
                  width: 38px;
                  height: 38px;
                  margin-right: 16px;
                }
              }
            }
          }
        }
        .list {
          margin-top: 15px;

          ul {
            padding: 10px 15px;
            box-sizing: border-box;
            border-radius: 10px;
            background: #2f3a47;
            margin-bottom: 10px;
          }
          .list_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > p {
              color: #7b8398;
              margin: 5px 0;
            }
            > span {
              // color: #ffd991;
              font-size: 14px;
            }
          }
        }
        > ul {
          > li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            > div {
              > p {
                margin: 0px 0 8px 0;
              }
            }
            .switch_box {
              display: flex;
              align-items: center;
              font-size: 12px;
              margin-bottom: 10px;
              .van-switch {
                margin: 0 8px;
                // width: 38px;
                // height: 18px;
              }
              // justify-content: space-between;
            }
            .bet_data_input {
              width: 155px;
              height: 45px;
              background: #272c31;
              border-radius: 35px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 12px;
              box-sizing: border-box;
              font-weight: 600;
              input {
                border: none;
                outline: none;
                background: transparent;
                width: 90px;
                // flex: 1;
              }
            }
          }
        }
        .nodata {
          margin: 22px auto;
          width: 117px;
          > img {
            width: 117px;
            height: 102px;
          }
          > p {
            text-align: center;
            font-size: 12px;
            color: #7b8398;
          }
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  #mines {
    position: relative;
    // width: 1200px;
    // margin: 0 auto;
    // display: flex;
    margin-top: 30px;
    margin-left: 58px;
    .public_header_box {
      display: none;
    }
    .content_wrap {
      width: 1200px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      .rank_box {
        display: block;
        width: 398px;
        height: 524px;
        background: #1a1f25;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 70px;
        .title {
          padding: 0 24px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          background: #272d35;
          color: #7b8398;
        }
        > ul {
          padding: 17px 24px;
          box-sizing: border-box;
          > li {
            height: 45px;
            display: flex;
            align-items: center;
            > span {
              flex: 1;
              text-align: center;
              display: flex;
              justify-content: center;
              > span {
                width: 45px;
                height: 17px;
                font-size: 12px;
                background: #7ebf12;
                border-radius: 20px;
                display: block;
                text-align: center;
                line-height: 17px;
              }
            }
            .bet {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-weight: 600;
              color: #ffd991;
            }
            .user {
              flex: 1;
              display: flex;
              align-items: center;
              font-weight: 600;
              > img {
                width: 38px;
                height: 38px;
                margin-right: 16px;
              }
            }
          }
        }
      }
    }

    .header {
      display: block !important;
    }

    .body {
      width: 790px;
      background: #1a1f25;
      margin-bottom: 20px;
      border: 5px;
      margin-top: 70px;
      // margin-left: 30px;
      .cash_in_box_wrap {
        margin-top: 15px;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        .cash_in_box {
          height: 79px;
          width: 297px;
          margin: 0;
          margin-right: 10px;
        }
        .amount_box {
          flex: 1;
          margin: 0;
          .bet_amount {
            width: 330px;
          }
        }
      }
      .bet_data_box {
        li {
          > div {
            width: 334px;
            .bet_data_input {
              width: 334px !important;
            }
          }
        }
      }
      .top_box {
        top: 0px;
        width: 1200px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        background: #1a1f25;
        align-items: center;
        padding: 10px 15px;
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        .crash_title {
          margin: 0;
        }
        .nav {
          width: 300px;
          // margin-left: 400px;
          margin: 0;
        }
      }
    }
  }
}
</style>
