<script setup>
import { computed, ref } from 'vue'
import { useClickAway } from '@vant/use'
import { ApiGetInvite } from '@api/request'
import iconinvite from '@img/share/invite.png'
import iconinvited from '@img/share/invited.png'
import iconstatis from '@img/share/statistics.png'
import iconbonus from '@img/share/bonus.png'
import icontime from '@img/common/time.png'
import img1 from '@img/share/1.png'
import { useI18n } from 'vue-i18n'
import { useSystemStore } from '@/stores/system.js'
import { useMediaQuery } from '@vueuse/core'
import { useWindowScroll } from '@vueuse/core'
import SwiperData from '@/components/share/swiper.vue'

const { y } = useWindowScroll()

const sysStore = useSystemStore()
const { t } = useI18n()
const isLargeScreen = useMediaQuery('(min-width: 740px)')

const active = ref('invite')
const show = ref(false)
const countreypopref = ref(null)

useClickAway(countreypopref, () => {
  if (show.value) {
    show.value = false
  }
})

const showNum = ref(false)
const num1 = ref(215345124)
const num2 = ref(618000)
const num3 = ref(638277.36)

setInterval(() => {
  num1.value = parseInt(num1.value) + 10
  num2.value = parseInt(num2.value) + 15
  num3.value = parseInt(num3.value) + 12
}, 1000)

watch(y, (val) => {
  if (val > 880) {
    showNum.value = true
  }
})

const options = ref([
  { key: 'invite', name: 'Invite', icon: iconinvite },
  { key: 'statis', name: 'Statistics', icon: iconstatis },
  { key: 'invited', name: 'Invited Person', icon: iconinvited },
  { key: 'bonus', name: 'Bonus', icon: iconbonus }
])
const curr = computed(() => options.value.find((item) => item.key === active.value))
// 统计数据
const statisData = ref(null)
//下级存款和投注额
const childlogData = ref({
  tabelData: [],
  pagesize: 10,
  currentpage: 1,
  total: 20
})
//下级奖励
const bonusData = ref({
  tabelData: [],
  pagesize: 10,
  currentpage: 1,
  total: 20
})

//实例
const mydatepick = ref(null)
//日期筛选
const changedate = async (item) => {
  console.log(item)
}

const change = async (item) => {
  active.value = item.key
  show.value = false

  switch (item.key) {
    case 'invite':
      //邀请数据
      getinvite()
      break
    case 'statis':
      //统计数据
      const res = await api.APIPostWay('share/statistics')
      // console.log('统计数据', res.data)
      statisData.value = res.data
      break
    case 'invited':
      //下级存款和投注额
      getinvited()
      break
    case 'bonus':
      //下级奖励
      getbonus()
      break

    default:
      break
  }
}

// 邀请数据
const inviteData = ref({})
const getinvite = async () => {
  const res = await ApiGetInvite()
  // console.log('邀请数据', res)
  if (res.code == 0) {
    inviteData.value = res.data
  }
}
//下级存款和投注额
const getinvited = async (num = null) => {
  if (num) {
    childlogData.value.currentpage = num
  }
  let res = await api.APIPostWay('share/childlog', {
    page: childlogData.value.currentpage, // 第一页
    limit: childlogData.value.pagesize // 每页20条数据
  })
  // console.log('下级存款和投注额', res2)
  childlogData.value.total = res.count
  childlogData.value.tabelData = res.data
}

//下级奖励
const getbonus = async (num = null) => {
  if (num) {
    bonusData.value.currentpage = num
  }
  let res = await api.APIPostWay('share/bonus', {
    page: bonusData.value.currentpage, // 第一页
    limit: bonusData.value.pagesize, // 每页20条数据
    type: 'all'
  })
  // console.log('下级奖励', res2)
  bonusData.value.total = res.count
  bonusData.value.tabelData = res.data
}

getinvite()

const value1 = ref('')

const list = ref([
  {
    key: 0,
    img: '',
    username: 'User02**61',
    amount: '5000'
  },
  {
    key: 1,
    img: '',
    username: 'User02**34',
    amount: '234'
  },
  {
    key: 2,
    img: '',
    username: 'User02**34',
    amount: '212'
  },
  {
    key: 3,
    img: '',
    username: 'User02**23',
    amount: '324'
  },
  {
    key: 4,
    img: '',
    username: 'User02**12',
    amount: '123'
  },
  {
    key: 5,
    img: '',
    username: 'User02**56',
    amount: '453'
  },
  {
    key: 6,
    img: '',
    username: 'User02**00',
    amount: '234'
  },
  {
    key: 7,
    img: '',
    username: 'User02**67',
    amount: '578'
  },
  {
    key: 8,
    img: '',
    username: 'User02**35',
    amount: '575'
  }
])
</script>

<template>
  <div px-20px py-30px>
    <div w-710px mx-auto ref="countreypopref" relative>
      <div
        mx-auto
        relative
        w-710px
        h-119px
        bg-tay-bg-7
        rounded-20px
        flex
        items-center
        px-20px
        @click="show = !show"
      >
        <img mr-30px w-50px h-50px :src="curr.icon" alt="" />
        <span>{{ curr.name }}</span>
        <div
          absolute
          right-20px
          class="i-ep:arrow-down text-#D9D9D9 text-20px"
          :class="{
            rota180: show
          }"
        ></div>
      </div>
      <div
        v-motion-slide-top
        v-show="show"
        z-5
        absolute
        left-0
        top-130px
        w-710px
        py-12px
        rounded-20px
        bg-tay-bg-0
      >
        <div
          :class="{
            'bg-tay-bg-2': active === item.key
          }"
          class="flex items-center py-10px rounded-10px px-20px cursor-pointer"
          @click="change(item)"
          v-for="item in options"
          :key="item.key"
        >
          <img mr-30px w-50px h-50px :src="item.icon" alt="" />
          <span>{{ item.name }}</span>
        </div>
      </div>
    </div>
    <template v-if="active === 'invite'">
      <div p-12px mt-40px w-full rounded-20px bg-tay-bg-4>
        <div relative class="wrapper" mx-auto w-full h-902px rounded-20px px-30px pt-36px>
          <div text-48px font-bold text-tay-text-5 text-center>INVITE A PARTNER</div>
          <div mt-50px>
            <div>{{ t('share.invitationUrl') }}:</div>
            <div
              relative
              mt-10px
              w-606px
              h-60px
              rounded-10px
              leading-60px
              pl-20px
              text-tay-text-6
              bg-tay-bg-8
              text-24px
            >
              {{ sysStore.inviteLink }}
              <copy
                :text="decodeURIComponent(sysStore.inviteLink)"
                w-60px
                h-60px
                absolute
                right-0
                top-0
              />
            </div>
          </div>
          <div mt-50px>
            <div>{{ t('share.invitationCode') }}:</div>
            <div
              relative
              mt-10px
              w-606px
              h-60px
              rounded-10px
              leading-60px
              pl-20px
              text-tay-text-6
              bg-tay-bg-8
              text-24px
            >
              {{ sysStore.refercode }}
              <copy :text="sysStore.refercode" w-60px h-60px absolute right-0 top-0 />
            </div>
          </div>
          <img w-675px h-422px absolute left-0 bottom-0 :src="img1" alt="" />
        </div>
        <div w-full h-706px bg-tay-bg-9 rounded-20px mt-20px>
          <div w-full h-67px bg-tay-bg-10 flex items-center px-40px>
            <img mr-20px w-28px h-28px :src="icontime" alt="" />
            <span>Updated hourly</span>
          </div>
          <div flex flex-wrap font-bold pt-40px>
            <div class="block" text-center>
              <div class="num">{{ inviteData?.total_invite || 0 }}</div>
              <div>{{ t('share.totalInvited') }}</div>
            </div>
            <div class="block" text-center>
              <div class="num">R$ {{ inviteData?.total_income || 0 }}</div>
              <div>{{ t('share.totalIncome') }}</div>
            </div>
            <div class="block" text-center>
              <div class="num">{{ inviteData?.invited_today || 0 }}</div>
              <div>{{ t('share.totalToday') }}</div>
            </div>
            <div class="block" text-center>
              <div class="num">R$ {{ inviteData?.income_today || 0 }}</div>
              <div>{{ t('share.incomeToday') }}</div>
            </div>
            <div class="block" text-center>
              <div class="num">R$ {{ inviteData?.salary_estimate || 0 }}</div>
              <div>{{ t('share.salaryEstimate') }}</div>
            </div>
            <div class="block" text-center>
              <div class="num">R$ {{ inviteData?.last_month_salary || 0 }}</div>
              <div>{{ t('share.lastMonthSalary') }}</div>
            </div>
            <div class="block" text-center>
              <div class="num">R$ {{ inviteData?.invited_bonus_month || 0 }}</div>
              <div>{{ t('share.invitedBonus') }}</div>
            </div>
            <div class="block" text-center>
              <div class="num">R$ {{ inviteData?.commission_month || 0 }}</div>
              <div>{{ t('share.commission') }}</div>
            </div>
          </div>
        </div>
        <img mt-20px w-full h-393px src="@/assets/img/share/2.jpg" alt="" />
      </div>

      <div text-center text-54px text-white font-bold my-40px>{{ t('share.issued') }}</div>
      <div w-690px mx-auto h-196px bg-tay-gary-1 rounded-20px mb-20px flex items-center px-40px>
        <img w-140px h-140px src="@/assets/img/share/3.png" alt="" />
        <div ml-40px>
          <div text-28px font-bold text-white>{{ t('share.InvitationBonus') }}</div>
          <div text-tay-text-7 text-36px font-bold>
            R$ <number-animation v-if="showNum" :value="num1" />
          </div>
          <div text-28px text-white font-bold>861,872 {{ t('share.peopleReceive') }}</div>
        </div>
      </div>
      <div w-690px mx-auto h-196px bg-tay-gary-1 rounded-20px mb-20px flex items-center px-40px>
        <img w-140px h-140px src="@/assets/img/share/4.png" alt="" />
        <div ml-40px>
          <div text-28px font-bold text-white>{{ t('share.AchievementBonus') }}</div>
          <div text-tay-text-7 text-36px font-bold>
            R$ <number-animation v-if="showNum" :value="num2" />
          </div>
          <div text-28px text-white font-bold>452 {{ t('share.peopleReceive') }}</div>
        </div>
      </div>
      <div w-690px mx-auto h-196px bg-tay-gary-1 rounded-20px mb-20px flex items-center px-40px>
        <img w-140px h-140px src="@/assets/img/share/5.png" alt="" />
        <div ml-40px>
          <div text-28px font-bold text-white>{{ t('share.AchievementBonus') }}</div>
          <div text-tay-text-7 text-36px font-bold>
            R$ <number-animation v-if="showNum" :value="num3" />
          </div>
          <div text-28px text-white font-bold>1561 {{ t('share.peopleReceive') }}</div>
        </div>
      </div>
      <div text-54px text-white font-bold text-center my-40px>
        Como funciona o bônus de indicação?
      </div>
      <div class="bg1">
        <div class="title-1">Desconto de recarga</div>
        <div class="desc">
          Cada usuário de depósito pode receber no mínimo R$ 50 de cada convite. Quanto mais pessoas
          você convidar, maior será o bônus de convite para o nível correspondente.
        </div>
        <img src="@/assets/img/share/bg2.png" />
      </div>
      <!-- <img block mx-auto w-690px h-617px src="@/assets/img/share/6.png" alt="" /> -->
      <!-- <div mx-auto w-690px mt-40px class="bonus_wrapper">
        <div
          text-center
          w-690px
          h-139px
          leading-139px
          text-48px
          font-bold
          text-tay-text-5
          class="title"
        >
          Achievement Bonus
        </div>
        <div mx-auto w-690px h-130px flex bg-tay-bg-11>
          <div flex-1 text-center flex justify-center items-center>Cumulative Deposit Users</div>
          <div flex-1 text-center leading-130px>Bonus</div>
        </div>
        <div mx-auto w-690px bg-tay-bg-12 py-20px>
          <div flex>
            <div leading-70px w-full text-center text-white>5.00</div>
            <div leading-70px w-full text-center text-tay-text-7>100.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>20.00</div>
            <div leading-70px w-full text-center text-tay-text-7>400.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>50.00</div>
            <div leading-70px w-full text-center text-tay-text-7>800.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>100.00</div>
            <div leading-70px w-full text-center text-tay-text-7>1600.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>200.00</div>
            <div leading-70px w-full text-center text-tay-text-7>3000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>500.00</div>
            <div leading-70px w-full text-center text-tay-text-7>10000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>1000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>20000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>2000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>40000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>5000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>100000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>10000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>2000000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>20000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>400000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>50000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>1400000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>100000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>2600000.00BRL</div>
          </div>
          <div flex>
            <div leading-70px w-full text-center text-white>200000.00</div>
            <div leading-70px w-full text-center text-tay-text-7>6000000.00BRL</div>
          </div>
        </div>
      </div> -->
      <div mt-40px text-54px text-center text-white font-bold>Como obter comissão de apostas</div>
      <div mt-40px w-full rounded-30px p-20px class="bets_wrapper">
        <div rounded-30px bg-tay-bg-13 text-white text-26px font-bold p-28px>
          Regras de bônus: Todos os jogadores convidados pelos "Promotores" receberão uma certa
          porcentagem de bônus de vantagem de plataforma para cada aposta. As proporções dos 3
          níveis são as seguintes.
          <br />- Nível 1: ganhe 0.3% de bônus de aposta <br />- Nível 2: ganhe 0.2% de bônus de
          aposta <br />- Nível 3: ganhe 0.1% de bônus de aposta
        </div>
        <div my-30px text-white text-28px font-bold px-10px>
          Esta será sua renda de longo prazo e você receberá uma porcentagem de comissão diferente
          cada vez que um jogador que você convida aposta.
        </div>
        <img block mx-auto w-582px h-582px src="@/assets/img/share/7.png" alt="" />
        <img mx-auto mt-40px w-647px h-330px src="@/assets/img/share/8.png" alt="" />
        <img mx-auto mt-8px w-647px h-330px src="@/assets/img/share/9.png" alt="" />
      </div>
      <!-- <img block mx-auto mt-20px w-690px h-582px src="@/assets/img/share/10.png" alt="" /> -->

      <div mx-auto class="iwurf">
        <div class="pp1">{{ t('share.leaderboard') }}</div>
        <div style="position: relative; margin-top: 10px" class="im1">
          <img w-116px src="@/assets/img/share/role3.png" alt="" />
          <div class="te1">TOP1</div>
          <div class="te2">{{ t('share.user') }}7846563</div>
          <div class="te3">R$ 285900.00</div>
        </div>
        <div style="right: 10px; bottom: 10px" class="im1">
          <img w-116px src="@/assets/img/share/role1.png" alt="" />
          <div class="te1">TOP3</div>
          <div class="te2">{{ t('share.user') }}90741900</div>
          <div class="te3">R$ 28020.00</div>
        </div>
        <div style="left: 10px; bottom: 10px" class="im1">
          <img w-116px src="@/assets/img/share/role2.png" alt="" />
          <div class="te1">TOP2</div>
          <div class="te2">{{ t('share.user') }}09741529</div>
          <div class="te3">R$ 284970.00</div>
        </div>
      </div>
      <div mt-30px mx-auto w-690px h-436px bg-tay-bg-15 py-40px rounded-20px>
        <div text-white text-42px text-center font-bold mb-36px>Quem recebeu o bônus</div>
        <swiper-data :list="list" />
        <!-- <div flex items-center justify-between px-60px>
          <div flex items-center mb-28px>
            <img mr-20px w-42px h-42px src="@/assets/img/share/avatar.png" alt="" />
            <span text-white text-26px>User02**61</span>
          </div>
          <div text-tay-text-9 text-26px>R$ 500</div>
        </div>
        <div flex items-center justify-between px-60px>
          <div flex items-center mb-28px>
            <img mr-20px w-42px h-42px src="@/assets/img/share/avatar.png" alt="" />
            <span text-white text-26px>User01**63</span>
          </div>
          <div text-tay-text-9 text-26px>R$ 420</div>
        </div>
        <div flex items-center justify-between px-60px>
          <div flex items-center mb-28px>
            <img mr-20px w-42px h-42px src="@/assets/img/share/avatar.png" alt="" />
            <span text-white text-26px>User02**23</span>
          </div>
          <div text-tay-text-9 text-26px>R$ 209</div>
        </div>
        <div flex items-center justify-between px-60px>
          <div flex items-center mb-28px>
            <img mr-20px w-42px h-42px src="@/assets/img/share/avatar.png" alt="" />
            <span text-white text-26px>User02**65</span>
          </div>
          <div text-tay-text-9 text-26px>R$ 198</div>
        </div> -->
      </div>
      <div class="bg-bottom">
        <div>
          Ao usar nossos serviços, você concorda com nossa privacidade política. Entre em contato
          com nosso gerente para discutir termos. NOTA IMPORTANTE: TODOS OS JOGADORES ACESSO A
          CONVITES
        </div>
        <img src="@/assets/img/share/bg3.png" />
      </div>
      <!-- <img w-690px h-612px block mx-auto mt-40px src="@/assets/img/share/11.png" alt="" /> -->
    </template>
    <template v-if="active === 'statis'">
      <!-- <div mt-30px mx-auto w-700px v-if="isLargeScreen"> -->
      <div mt-30px mx-auto w-700px>
        <!-- <el-date-picker
          mx-auto
          v-model="value1"
          type="daterange"
          range-separator="To"
          start-placeholder="Start date"
          end-placeholder="End date"
          size="small"
        /> -->

        <!-- 日期筛选组件引入 -->
        <date-picker ref="mydatepick" @change="changedate" />
      </div>
      <!-- <div
        text-white
        mx-auto
        w-710px
        text-center
        mt-30px
        h-70px
        cursor-pointer
        leading-70px
        rounded-20px
        bg-tay-bg-4
      >
        Confirm
      </div> -->
      <div mt-30px w-710px mx-auto p-20px rounded-20px bg-tay-bg-4>
        <div w-full bg-tay-bg-12>
          <div
            class="title-round-up"
            w-full
            h-76px
            px-20px
            bg-tay-bg-11
            leading-76px
            text-white
            text-36px
            font-bold
          >
            Grand Total
          </div>
          <div text-20px w-full h-60px flex items-center pl-20px pr-40px>
            <div style="width: 40%">Level</div>
            <div style="width: 20%" text-right text-tay-text-6>Level1</div>
            <div style="width: 20%" text-right text-tay-text-6>Level2</div>
            <div style="width: 20%" text-right text-tay-text-6>Level3</div>
          </div>
          <div text-20px bg-tay-bg-11 w-full h-60px flex items-center pl-20px pr-40px>
            <div style="width: 40%">Invited</div>
            <div v-for="(it, ind) in 3" style="width: 20%" text-right text-tay-text-6>
              {{ statisData?.invited[ind] || 0 }}
            </div>
          </div>
          <div text-20px w-full h-60px flex items-center pl-20px pr-40px>
            <div style="width: 40%">First Deposit</div>
            <div v-for="(it, ind) in 3" style="width: 20%" text-right text-tay-text-6>
              {{ statisData?.deposit[ind] || 0 }}
            </div>
          </div>
          <div text-20px bg-tay-bg-11 w-full h-60px flex items-center pl-20px pr-40px>
            <div style="width: 40%">Recharge</div>
            <div v-for="(it, ind) in 3" style="width: 20%" text-right text-tay-text-6>
              R$ {{ statisData?.recharge[ind] || 0 }}
            </div>
          </div>
          <div text-20px w-full h-60px flex items-center pl-20px pr-40px>
            <div style="width: 40%">Withdraw</div>
            <div v-for="(it, ind) in 3" style="width: 20%" text-right text-tay-text-6>
              R$ {{ statisData?.withdraw[ind] || 0 }}
            </div>
          </div>
          <div text-20px bg-tay-bg-11 w-full h-60px flex items-center pl-20px pr-40px>
            <div style="width: 40%">Bet Amount</div>
            <div v-for="(it, ind) in 3" style="width: 20%" text-right text-tay-text-6>
              R$ {{ statisData?.betAmount[ind] || 0 }}
            </div>
          </div>
          <div text-20px w-full h-60px flex items-center pl-20px pr-40px>
            <div style="width: 40%">Profits</div>
            <div v-for="(it, ind) in 3" style="width: 20%" text-right text-tay-text-6>
              R$ {{ statisData?.profits[ind] || 0 }}
            </div>
          </div>
          <div
            class="title-round-bottom"
            w-full
            h-76px
            px-20px
            bg-tay-bg-11
            leading-76px
            text-white
            text-right
            text-36px
            font-bold
          >
            Total R$ 0
          </div>
        </div>
      </div>
    </template>
    <template v-if="active === 'invited'">
      <div
        mt-30px
        mx-auto
        w-710px
        p-20px
        rounded-20px
        bg-tay-bg-4
        overflow-hidden
        overflow-x-scroll
      >
        <div
          w-full
          mb-20px
          rounded-20px
          p-20px
          bg-tay-bg-11
          v-for="(it, ind) in childlogData.tabelData"
          :key="ind"
        >
          <div flex justify-between>
            <span text-tay-text-16>Date:</span>
            <span>{{ it.date }}</span>
          </div>
          <div flex justify-between>
            <span text-tay-text-16>User:</span>
            <span>{{ it.user }}</span>
          </div>
          <div flex justify-between>
            <span text-tay-text-16>Deposit Amount:</span>
            <span>{{ it.deposit }}</span>
          </div>
          <div flex justify-between>
            <span text-tay-text-16>Bet Amount:</span>
            <span>{{ it.bet }}</span>
          </div>
        </div>
        <div class="pagination">
          <el-pagination
            :page-size="childlogData.pagesize"
            small
            background
            layout="prev, pager, next"
            :total="childlogData.total"
            v-model:current-page="childlogData.currentpage"
            class="mt-4"
            @current-change="getinvited"
          />
        </div>
      </div>
    </template>
    <template v-if="active === 'bonus'">
      <div
        mt-30px
        mx-auto
        w-710px
        p-20px
        rounded-20px
        bg-tay-bg-4
        overflow-hidden
        overflow-x-scroll
      >
        <div
          w-full
          mb-20px
          rounded-20px
          p-20px
          bg-tay-bg-11
          v-for="(it, ind) in bonusData.tabelData"
          :key="ind"
        >
          <div flex justify-between>
            <span text-tay-text-16>Date:</span>
            <span>{{ it.date }}</span>
          </div>
          <div flex justify-between>
            <span text-tay-text-16>User:</span>
            <span>{{ it.user }}</span>
          </div>
          <div flex justify-between>
            <span text-tay-text-16>Reward type:</span>
            <span>{{ it.deposit }}</span>
          </div>
          <div flex justify-between>
            <span text-tay-text-16>Bonus:</span>
            <span>{{ it.bet }}</span>
          </div>
        </div>

        <div class="pagination">
          <el-pagination
            :page-size="bonusData.pagesize"
            small
            background
            layout="prev, pager, next"
            :total="bonusData.total"
            class="mt-4"
            @current-change="getbonus"
          />
        </div>
      </div>
    </template>
  </div>
</template>

<style lang="scss" scoped>
.bg-bottom {
  width: 690px;
  height: 612px;
  margin: auto;
  margin-top: 40px;
  background: #0a1c33;
  padding: 30px;
  position: relative;
  img {
    width: 553px;
    height: 383px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.bg1 {
  width: 690px;
  height: 617px;
  margin: auto;
  background: url('@/assets/img/share/bg1.png') no-repeat center;
  background-size: 100% 100%;
  padding-top: 20px;
  padding-left: 30px;
  position: relative;
  padding-right: 30px;
  .title-1 {
    color: #ffe32a;
    font-size: 48px;
    font-weight: 700;
  }
  .desc {
    margin-top: 18px;
  }
  img {
    width: 498px;
    height: 282px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}
.wrapper {
  background: linear-gradient(180deg, #152a4b 0%, #0f3889 100%);
}
.block {
  width: 50%;
  margin-bottom: 34px;
  .num {
    font-size: 42px;
  }
}

.title-round-up {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.title-round-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.line {
  width: 25%;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 41px;
    width: 2px;
    color: #fff;
    background: #fff;
  }
  &:nth-child(3) {
    &::after {
      top: 22px;
    }
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.content-line {
  width: 25%;
}

.title {
  background: linear-gradient(180deg, #127cf2, #1377e6);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bets_wrapper {
  background: linear-gradient(180deg, #18365e, #184db4);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: -20px;

  :deep(.el-pagination.is-background .el-pager li:not(.is-disabled).is-active) {
    border: 1px solid #2283f6;
    background: #1c2632;
  }
}

.iwurf {
  width: 740px;
  height: 582px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, #18365e 0%, #184db4 100%);
  margin-top: 20px;
  padding: 33px 0;
  position: relative;

  .pp1 {
    color: #fff;
    text-align: center;
    font-family: Microsoft YaHei;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-top: 33px; */
  }

  .im1 {
    position: absolute;

    text-align: center;
    .te1 {
      color: #fbab1c;
      text-align: center;
      font-family: Microsoft YaHei;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 21px;
    }

    .te2 {
      color: #fff;
      text-align: center;
      font-family: Microsoft YaHei;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 14px;
    }

    .te3 {
      color: #fbab1c;
      text-align: center;
      font-family: Microsoft YaHei;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 14px;
    }
  }
}
</style>
