<script setup></script>

<template>
  <div id="terms_root" py-16px px-20px>
    <h1>Terms and Condition</h1>
    <div>
      <div class="wmde-markdown wmde-markdown-color" style="background: transparent">
        <p>Last updated: 2022.01.01</p>
        <h2 id="1-introduction">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#1-introduction"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >1. Introduction
        </h2>
        <p>
          These terms and conditions and the documents referred to below (the "Terms") apply to the
          use of the current website (the "Website") and its related or connected services
          (collectively, the "Service").
        </p>
        <p>
          You should carefully review these Terms as they contain important information concerning
          your rights and obligations concerning the use of the Website and form a binding legal
          agreement between you - our customer (the "Customer"), and us. By using this Website
          and/or accessing the Service, you, whether you are a guest or a registered user with an
          account (“Account”), agree to be bound by these Terms, together with any amendments, which
          may be published from time to time. If you do not accept these Terms, you should refrain
          from accessing the Service and using the Website.
        </p>
        <h2 id="2-general-terms">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#2-general-terms"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >2. General Terms
        </h2>
        <p>
          We reserve the right to revise and amend the Terms (including any documents referred to
          and linked to below) at any time. You should visit this page periodically to review the
          Terms and Conditions. Amendments will be binding and effective immediately upon
          publication on this Website. If you object to any such changes, you must immediately stop
          using the Service. Your continued use of the Website following such publication will
          indicate your agreement to be bound by the Terms as amended. Any bets not settled prior to
          the changed Terms taking effect will be subject to the pre-existing Terms.
        </p>
        <h2 id="3-your-obligations">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#3-your-obligations"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >3. Your Obligations
        </h2>
        <p>You acknowledge that at all times when accessing the Website and using the Service:</p>
        <p>
          3.1. You are is over 18, or the legal age at which gambling, or gaming activities are
          allowed under the law or jurisdiction that applies to you. We reserve the right to request
          proof of age documents from you at any time.
        </p>
        <p>
          3.2. You are of legal capacity and can enter into a binding legal agreement with us. You
          must not access the Website or utilize the Service if you are not of legal capacity.
        </p>
        <p>
          3.3. You are a resident in a jurisdiction that allows gambling. You are not a resident of
          any country in which access to online gambling to its residents or to any person within
          such country is prohibited. It is your sole responsibility to ensure that your use of the
          service is legal.
        </p>
        <p>
          3.4. You may not use a VPN, proxy or similar services or devices that mask or manipulate
          the identification of your real location.
        </p>
        <p>3.5. You are the authorized user of the payment method you use.</p>
        <p>
          3.6. You must make all payments to us in good faith and not attempt to reverse a payment
          made or take any action which will cause such payment to be reversed by a third party.
        </p>
        <p>
          3.7. When placing bets you may lose some or all of your money deposited to the Service in
          accordance with these Terms and you will be fully responsible for that loss.
        </p>
        <p>
          3.8. When placing bets you must not use any information obtained in breach of any
          legislation in force in the country in which you were when the bet was placed.
        </p>
        <p>
          3.9. You are not acting on behalf of another party or for any commercial purposes, but
          solely on your own behalf as a private individual in a personal capacity.
        </p>
        <p>
          3.10. You must not either attempt to manipulate any market or element within the Service
          in bad faith nor in a manner that adversely affects the integrity of the Service or us.
        </p>
        <p>
          3.11. You must generally act in good faith in relation to us of the Service at all times
          and for all bets made using the Service.
        </p>
        <p>
          3.12. You, or, if applicable, your employees, employers, agents, or family members, are
          not registered as an Affiliate in our Affiliate program.
        </p>
        <h2 id="4-restricted-use">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#4-restricted-use"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >4. Restricted use
        </h2>
        <p>4.1. You must not use the Service:</p>
        <p>
          4.1.1. If you are under the age of 18 years (or below the age of majority as stipulated in
          the laws of the jurisdiction applicable to you) or if you are not legally able to enter
          into a binding legal agreement with us or you acting as an agent for, or otherwise on
          behalf, of a person under 18 years (or below the age of majority as stipulated in the laws
          of the jurisdiction applicable to you);
        </p>
        <p>
          4.1.2. If you reside in a country in which access to online gambling to its residents or
          to any person within such country is prohibited.
        </p>
        <p>
          4.1.3. If you are a resident of one of the following countries, or accessing the Website
          from one of the following countries:
        </p>
        <p>United States of America and its territories,</p>
        <p>France and its territories,</p>
        <p>
          Netherlands and its territories and countries that form the Kingdom of Netherlands,
          including Bonaire, Sint Eustatius, Saba, Aruba, Curaçao and Sint Maarten,
        </p>
        <p>Australia and its territories,</p>
        <p>United Kingdom of Great Britain and Northern Ireland,</p>
        <p>Spain</p>
        <p>Cyprus.</p>
        <p>
          4.1.4. To collect nicknames, e-mail addresses and/or other information of other Customers
          by any means (for example, by sending spam, other types of unsolicited emails or the
          unauthorised framing of, or linking to, the Service);
        </p>
        <p>
          4.1.5. to disrupt or unduly affect or influence the activities of other Customers or the
          operation of the Service generally;
        </p>
        <p>
          4.1.6. to promote unsolicited commercial advertisements, affiliate links, and other forms
          of solicitation which may be removed from the Service without notice;
        </p>
        <p>
          4.1.7. in any way which, in our reasonable opinion, could be considered as an attempt to:
          (i) cheat the Service or another Customer using the Service; or (ii) collude with any
          other Customer using the Service in order to obtain a dishonest advantage;
        </p>
        <p>4.1.8. to scrape our odds or violate any of our Intellectual Property Rights; or</p>
        <p>4.1.9. for any unlawful activity whatsoever.</p>
        <p>
          4.2. You cannot sell or transfer your account to third parties, nor can you acquire a
          player account from a third party.
        </p>
        <p>4.3. You may not, in any manner, transfer funds between player accounts.</p>
        <p>
          4.4. We may immediately terminate your Account upon written notice to you if you use the
          Service for unauthorised purposes. We may also take legal action against you for doing so
          in certain circumstances.
        </p>
        <p>
          4.5. Employees of Company, its licensees, distributors, wholesalers, subsidiaries,
          advertising, promotional or other agencies, media partners, contractors, retailers and
          members of the immediate families of each are NOT allowed to use the Service for real
          money without prior consent from the Company Director or CEO. Should such activity be
          discovered, the account(s) will be immediately terminated and all bonuses/winnings will be
          forfeited.
        </p>
        <h2 id="5-registration">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#5-registration"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >5. Registration
        </h2>
        <p>You agree that at all times when using the Service:</p>
        <p>
          5.1. We reserve the right to refuse to accept a registration application from any
          applicant at our sole discretion and without any obligation to communicate a specific
          reason.
        </p>
        <p>
          5.2. Before using the Service, you must personally complete the registration form and read
          and accept these Terms. In order to start betting on the Service or withdraw your
          winnings, we may require you to become a verified Customer which includes passing certain
          checks. You may be required to provide a valid proof of identification and any other
          document as it may be deemed necessary. This includes but is not limited to, a picture ID
          (copy of passport, driver's licence or national ID card) and a recent utility bill listing
          your name and address as proof of residence. We reserve the right to suspend wagering or
          restrict Account options on any Account until the required information is received. This
          procedure is done in accordance with the applicable gaming regulation and the anti-money
          laundering legal requirements. Additionally, you will need to fund your Service Account
          using the payment methods set out on the payment section of our Website.
        </p>
        <p>
          5.3. You have to provide accurate contact information, inclusive of a valid email address
          (“Registered Email Address”), and update such information in the future to keep it
          accurate. It is your responsibility to keep your contact details up to date on your
          Account. Failure to do so may result in you failing to receive important Account related
          notifications and information from us, including changes we make to these Terms. We
          identify and communicate with our Customers via their Registered Email Address. It is the
          responsibility of the Customer to maintain an active and unique email account, to provide
          us with the correct email address and to advise Company of any changes in their email
          address. Each Customer is wholly responsible for maintaining the security of his
          Registered Email Address to prevent the use of his Registered Email Address by any third
          party. Company shall not be responsible for any damages or losses deemed or alleged to
          have resulted from communications between Company and the Customer using the Registered
          Email Address. Any Customer not having an email address reachable by Company will have his
          Account suspended until such an address is provided to us. We will immediately suspend
          your Account upon written notice to you to this effect if you intentionally provide false
          or inaccurate personal information. We may also take legal action against you for doing so
          in certain circumstances and/or contact the relevant authorities who may also take action
          against you.
        </p>
        <p>
          5.4. You are only allowed to register one Account with the Service. Accounts are subject
          to immediate closure if it is found that you have multiple Accounts registered with us.
          This includes the use of representatives, relatives, associates, affiliates, related
          parties, connected persons and/or third parties operating on your behalf.
        </p>
        <p>
          5.5. In order to ensure your financial worthiness and to confirm your identity, we may ask
          you to provide us with additional personal information, such as your name and surname, or
          use any third-party information providers we consider necessary. Should any additional
          personal information be obtained via third-party sources, we will inform you about the
          data obtained.
        </p>
        <p>
          5.6. You must keep your password for the Service confidential. Provided that the Account
          information requested has been correctly supplied, we are entitled to assume that bets,
          deposits and withdrawals have been made by you. We advise you to change your password on a
          regular basis and never disclose it to any third party. It is your responsibility to
          protect your password and any failure to do so shall be at your sole risk and expense. You
          may log out of the Service at the end of each session. If you believe any of your Account
          information is being misused by a third party, or your Account has been hacked into, or
          your password has been discovered by a third party, you must notify us immediately. You
          must notify us if your Registered Email Address has been hacked into, we may, however,
          require you to provide additional information/ documentation so that we can verify your
          identity. We will immediately suspend your Account once we are aware of such an incident.
          In the meantime you are responsible for all activity on your Account including third party
          access, regardless of whether or not their access was authorised by you.
        </p>
        <p>
          5.7. You must not at any time transmit any content or other information on the Service to
          another Customer or any other party by way of a screen capture (or other similar method),
          nor display any such information or content in a frame or in any other manner that is
          different from how it would appear if such Customer or third party had typed the URL for
          the Service into the browser line.
        </p>
        <p>
          5.8. When registering, you will receive possibility to use all currencies available on the
          website. Those will be the currencies of your deposits, withdrawals and bets placed and
          matched into the Service as set out in these Terms. Some payment methods do not process in
          all currencies. In such cases a processing currency will be displayed, along with a
          conversion calculator available on the page.
        </p>
        <p>
          5.9. We are under no obligation to open an Account for you and our website sign-up page is
          merely an invitation to treat. It is entirely within our sole discretion whether or not to
          proceed with the opening of an Account for you and, should we refuse to open an Account
          for you, we are under no obligation to provide you with a reason for the refusal.
        </p>
        <p>
          5.10. Upon receipt of your application, we may be in touch to request further information
          and/ or documentation from you in order for us to comply with our regulatory and legal
          obligations.
        </p>
        <h2 id="6-your-account">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#6-your-account"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >6. Your Account
        </h2>
        <p>
          6.1. Accounts could use several currencies, in this case all Account balances and
          transactions appear in the currency used for the transaction.
        </p>
        <p>6.2. We do not give credit for the use of the Service.</p>
        <p>
          6.3. We may close or suspend an Account if you are not or we reasonably believe that you
          are not complying with these Terms, or to ensure the integrity or fairness of the Service
          or if we have other reasonable grounds to do so. We may not always be able to give you
          prior notice. If we close or suspend your Account due to you not complying with these
          Terms, we may cancel and/or void any of your bets and withhold any money in your account
          (including the deposit).
        </p>
        <p>
          6.4. We reserve the right to close or suspend any Account without prior notice and return
          all funds. Contractual obligations already matured will however be honoured.
        </p>
        <p>
          6.5. We reserve the right to refuse, restrict, cancel or limit any wager at any time for
          whatever reason, including any bet perceived to be placed in a fraudulent manner in order
          to circumvent our betting limits and/ or our system regulations.
        </p>
        <p>
          6.6. If any amount is mistakenly credited to your Account it remains our property and when
          we become aware of any such mistake, we shall notify you and the amount will be withdrawn
          from your Account.
        </p>
        <p>
          6.7. If, for any reason, your Account goes overdrawn, you shall be in debt to us for the
          amount overdrawn.
        </p>
        <p>
          6.8. You must inform us as soon as you become aware of any errors with respect to your
          Account.
        </p>
        <p>
          6.9. Please remember that betting is purely for entertainment and pleasure and you should
          stop as soon as it stops being fun. Absolutely do not bet anything you can’t afford to
          lose. If you feel that you may have lost control of your gambling, we offer a
          self-exclusion option. Just send a message to our Customer Support Department using your
          Registered Email Address that you wish to SELF-EXCLUDE and this request will take effect
          within 24 hours from the moment of its receipt. In this case your account will be disabled
          until your further notice, and you won’t be able to login to it.
        </p>
        <p>
          6.10. You cannot transfer, sell, or pledge Your Account to another person. This
          prohibition includes the transfer of any assets of value of any kind, including but not
          limited to ownership of accounts, winnings, deposits, bets, rights and/or claims in
          connection with these assets, legal, commercial or otherwise. The prohibition on said
          transfers also includes however is not limited to the encumbrance, pledging, assigning,
          usufruct, trading, brokering, hypothecation and/or gifting in cooperation with a fiduciary
          or any other third party, company, natural or legal individual, foundation and/or
          association in any way shape or form
        </p>
        <p>
          6.11. Should you wish to close your account with us, please send an email from your
          Registered Email Address to our Customer Support Department via the links on the Website.
        </p>
        <h2 id="7-inactive-accounts">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#7-inactive-accounts"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >7. Inactive Accounts
        </h2>
        <p>
          7.1. We will charge you a fee of €5 (or currency equivalent) per calendar month (Inactive
          Account Fee) if:
        </p>
        <p>
          you have not logged into your Account or logged out from your Account, or used the
          Service, or made any bet in any section of the Service for twelve consecutive months or
          more (Account Activity);
        </p>
        <p>and your Account is in credit.</p>
        <p>
          7.2. You will be notified that we will start charging you the fees on the eleventh month
          of inactivity and you will always have the option to log in and withdraw your funds.
        </p>
        <p>
          7.3. The Inactive Account Fee will be withdrawn from your Account on a monthly basis to
          the extent that your Account remains in credit and only for the period during which there
          remains no Account Activity after the initial twelve month period has passed. If the
          Inactive Account Fee is due to be withdrawn from your Account and the balance of your
          Account is less than €5 (or equivalent currency), the Inactive Account Fee shall comprise
          the remaining funds in your Account.
        </p>
        <h2 id="8-deposit-of-funds">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#8-deposit-of-funds"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >8. Deposit of Funds
        </h2>
        <p>
          8.1. All deposits should be made from an account or payment system or credit card that is
          registered in your own name, and any deposits made in any other currency will be converted
          using the daily exchange rate obtained from <a href="http://oanda.com">oanda.com</a>, or
          at our own bank's or our payment processor’s prevailing rate of exchange following which
          your Account will be deposited accordingly. Note that some payment systems may apply
          additional currency exchange fees which will be deducted from the sum of your deposit.
        </p>
        <p>
          8.2. Fees and charges may apply to customer deposits and withdrawals, which can be found
          on the Website. In most cases we absorb transaction fees for deposits to your
          <a href="https://tayabet.com/">tayabet.com</a> Account. You are responsible for your own
          bank charges that you may incur due to depositing funds with us.
        </p>
        <p>
          8.3. Company is not a financial institution and uses a third party electronic payment
          processors to process credit and debit card deposits; they are not processed directly by
          us. If you deposit funds by either a credit card or a debit card, your Account will only
          be credited if we receive an approval and authorisation code from the payment issuing
          institution. If your card issuer gives no such authorisation, your Account will not be
          credited with those funds.
        </p>
        <p>
          8.4. You agree to fully pay any and all payments and charges due to us or to payment
          providers in connection with your use of the Service. You further agree not to make any
          charge-backs or renounce or cancel or otherwise reverse any of your deposits, and in any
          such event you will refund and compensate us for such unpaid deposits including any
          expenses incurred by us in the process of collecting your deposit, and you agree that any
          winnings from wagers utilising those charged back funds will be forfeited. You acknowledge
          and agree that your player account is not a bank account and is therefore not guaranteed,
          insured or otherwise protected by any deposit or banking insurance system or by any other
          similar insurance system of any other jurisdiction, including but not limited to your
          local jurisdiction. Furthermore, the player account does not bear interest on any of the
          funds held in it.
        </p>
        <p>
          8.5. If you decide to accept any of our promotional or bonus offer by entering a bonus
          code during deposit, you agree to the Terms of Bonuses and terms of each specific bonus.
        </p>
        <p>
          8.6. Funds originating from criminal and/or illegal and/or unauthorized activities must
          not be deposited with us.
        </p>
        <p>
          8.7. If you deposit using your credit card, it is recommended that you retain a copy of
          Transaction Records and a copy of these Terms.
        </p>
        <p>
          8.8. Internet Gambling may be illegal in the jurisdiction in which you are located; if so,
          you are not authorized to use your payment card to deposit on this site. It is your
          responsibility to know the laws concerning online gambling in your country of domicile.
        </p>
        <h2 id="9-withdrawal-of-funds">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#9-withdrawal-of-funds"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >9. Withdrawal of Funds
        </h2>
        <p>
          9.1. You may withdraw any unutilized and cleared funds held in your player account by
          submitting a withdrawal request in accordance with our withdrawal conditions. The minimum
          withdrawal amount per transaction is € 10 (or equivalent in other currency) with the
          exception of an account closure in which case you may withdraw the full balance.
        </p>
        <p>
          9.2. There are no withdrawal commissions if you roll over (wager) the deposit at least 1
          time. Otherwise we are entitled to deduct a 8% fee with minimum sum of 4 euro (or
          equivalent in your account currency) in order to combat money laundering.
        </p>
        <p>
          9.3. We reserve the right to request photo ID, address confirmation or perform additional
          verification procedures (request your selfie, arrange a verification call etc.) for the
          purpose of identity verification prior to granting any withdrawals from your Account. We
          also reserve our rights to perform identity verification at any time during the lifetime
          of your relationship with us.
        </p>
        <p>
          9.4. All withdrawals must be made to the original debit, credit card, bank account, method
          of payment used to make the payment to your Account. We may, and always at our own
          discretion, allow you to withdraw to a payment method from which your original deposit did
          not originate. This will always be subject to additional security checks.
        </p>
        <p>
          9.5. Should you wish to withdraw funds but your account is either inaccessible, dormant,
          locked or closed, please contact our Customer Service Department.
        </p>
        <p>
          9.6. In cases when your balance is at least 10 times larger than the total sum of your
          deposits, you will be limited to € 5,000 (or currency equivalent) for withdrawal per
          month. In other cases the maximum withdrawal amount per month is € 10,000.
        </p>
        <p>
          9.7. Please note that we cannot guarantee successful processing of withdrawals or refunds
          in the event if you breach the Restricted use policy stated in Clauses 3.3 and 4.
        </p>
        <h2 id="10-payment-transactions-and-processors">
          <a
            class="anchor"
            aria-hidden="true"
            tabindex="-1"
            href="#10-payment-transactions-and-processors"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >10. Payment Transactions and Processors
        </h2>
        <p>
          10.1. You are fully responsible for paying all monies owed to us. You must make all
          payments to us in good faith and not attempt to reverse a payment made or take any action
          which will cause such payment to be reversed by a third party in order to avoid a
          liability legitimately incurred. You will reimburse us for any charge-backs, denial or
          reversal of payment you make and any loss suffered by us as a consequence thereof. We
          reserve the right to also impose an administration fee of €50, or currency equivalent per
          charge-back, denial or reversal of payment you make.
        </p>
        <p>
          10.2. We reserve the right to use third party electronic payment processors and or
          merchant banks to process payments made by you and you agree to be bound by their terms
          and conditions providing they are made aware to you and those terms do not conflict with
          these Terms.
        </p>
        <p>
          10.3. All transactions made on our site might be checked to prevent money laundering or
          terrorism financing activity. Suspicious transactions will be reported to the relevant
          authority.
        </p>
        <h2 id="11-errors">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#11-errors"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >11. Errors
        </h2>
        <p>
          11.1. In the event of an error or malfunction of our system or processes, all bets are
          rendered void. You are under an obligation to inform us immediately as soon as you become
          aware of any error with the Service. In the event of communication or system errors or
          bugs or viruses occurring in connection with the Service and/or payments made to you as a
          result of a defect or error in the Service, we will not be liable to you or to any third
          party for any direct or indirect costs, expenses, losses or claims arising or resulting
          from such errors, and we reserve the right to void all games/bets in question and take any
          other action to correct such errors.
        </p>
        <p>
          11.2. We make every effort to ensure that we do not make errors in posting bookmaker
          lines. However, if as a result of human error or system problems a bet is accepted at an
          odd that is: materially different from those available in the general market at the time
          the bet was made; or clearly incorrect given the chance of the event occurring at the time
          the bet was made then we reserve the right to cancel or void that wager, or to cancel or
          void a wager made after an event has started.
        </p>
        <p>
          11.3. We have the right to recover from you any amount overpaid and to adjust your Account
          to rectify any mistake. An example of such a mistake might be where a price is incorrect
          or where we enter a result of an event incorrectly. If there are insufficient funds in
          your Account, we may demand that you pay us the relevant outstanding amount relating to
          any erroneous bets or wagers. Accordingly, we reserve the right to cancel, reduce or
          delete any pending plays, whether placed with funds resulting from the error or not.
        </p>
        <h2 id="12-rules-of-play-refunds-and-cancellations">
          <a
            class="anchor"
            aria-hidden="true"
            tabindex="-1"
            href="#12-rules-of-play-refunds-and-cancellations"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >12. Rules of Play, refunds and cancellations
        </h2>
        <p>
          12.1. The winner of an event will be determined on the date of the event's settlement, and
          we will not recognize protested or overturned decisions for wagering purposes.
        </p>
        <p>
          12.2. All results posted shall be final after 72 hours and no queries will be entertained
          after that period of time. Within 72 hours after results are posted, we will only
          reset/correct the results due to human error, system error or mistakes made by the
          referring results source.
        </p>
        <p>
          12.3. If a match result is overturned for any reason by the governing body of the match
          within the payout period then all money will be refunded.
        </p>
        <p>
          12.4. If a draw occurs in a game where a draw option is offered all stakes on a team win
          or lose will be lost. If a draw option is not offered then everyone receives a refund in
          the outcome of a draw on the match. And if a draw option has not been made available, then
          extra time will count, if played.
        </p>
        <p>
          12.5. If a result cannot be validated by us, for instance if the feed broadcasting the
          event is interrupted (and cannot be verified by another source) then at our election, the
          wagers on that event will be deemed invalid and wagers refunded.
        </p>
        <p>
          12.6. Minimum and maximum wager amounts on all events will be determined by us and are
          subject to change without prior written notice. We also reserve the right to adjust limits
          on individual Accounts as well.
        </p>
        <p>
          12.7. Customers are solely responsible for their own Account transactions. Once a
          transaction is complete, it cannot be changed. We do not take responsibility for missing
          or duplicate wagers made by the Customer and will not entertain discrepancy requests
          because a play is missing or duplicated. Customers may review their transactions in the My
          Account section of the site after each session to ensure all requested wagers were
          accepted.
        </p>
        <p>
          12.8. A matchup will have action as long as the two teams are correct, and regardless of
          the League header in which it is placed on our Website.
        </p>
        <p>
          12.9. The start dates and times displayed on the Website for eSport matches are an
          indication only and are not guaranteed to be correct. If a match is suspended or
          postponed, and not resumed within 72 hours from the actual scheduled start time, the match
          will have no action and wagers will be refunded. The exception being any wager on whether
          a team/player advances in a tournament, or wins the tournament, will have action
          regardless of a suspended or postponed match.
        </p>
        <p>
          12.10. If an event is posted by us with an incorrect date, all wagers have action based on
          the date announced by the governing body.
        </p>
        <p>
          12.11. If a team is using stand-ins, the result is still valid as it was the team's choice
          to use the stand-ins.
        </p>
        <p>
          12.12. Company reserves the right to remove events, markets and any other products from
          the Website.
        </p>
        <p>
          12.13. In-depth explanation of our sports betting rules is on the separate page: SPORTS
          BETTING RULES.
        </p>
        <h2 id="13-communications-and-notices">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#13-communications-and-notices"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >13. Communications and Notices
        </h2>
        <p>
          13.1. All communications and notices to be given under these Terms by you to us shall be
          sent using a Customer Support form on the Website.
        </p>
        <p>
          13.2. All communications and notices to be given under these Terms by us to you shall,
          unless otherwise specified in these Terms, be either posted on the Website and/or sent to
          the Registered Email Address we hold on our system for the relevant Customer. The method
          of such communication shall be in our sole and exclusive discretion.
        </p>
        <p>
          13.3. All communications and notices to be given under these Terms by either you or us
          shall be in writing in the English language and must be given to and from the Registered
          Email Address in your Account.
        </p>
        <p>
          13.4. From time to time, we may contact you by email for the purpose of offering you
          information about betting, unique promotional offerings, and other information from
          <a href="https://tayabet.com/">tayabet.com</a>. You agree to receive such emails when you
          agree to these Terms when registering at the Website. You can choose to opt out of
          receiving such promotional offerings from us at any time by submitting a request to the
          Customer Support.
        </p>
        <h2 id="14-matters-beyond-our-control">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#14-matters-beyond-our-control"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >14. Matters Beyond Our Control
        </h2>
        <p>
          We cannot be held liable for any failure or delay in providing the Service due to an event
          of Force Majeure which could reasonably be considered to be outside our control despite
          our execution of reasonable preventative measures such as: an act of God; trade or labour
          dispute; power cut; act, failure or omission of any government or authority; obstruction
          or failure of telecommunication services; or any other delay or failure caused by a third
          party, and we will not be liable for any resulting loss or damage that you may suffer. In
          such an event, we reserve the right to cancel or suspend the Service without incurring any
          liability.
        </p>
        <h2 id="15-liability">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#15-liability"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >15. Liability
        </h2>
        <p>
          15.1. TO THE EXTENT PERMITTED BY APPLICABLE LAW, WE WILL NOT COMPENSATE YOU FOR ANY
          REASONABLY FORESEEABLE LOSS OR DAMAGE (EITHER DIRECT OR INDIRECT) YOU MAY SUFFER IF WE
          FAIL TO CARRY OUT OUR OBLIGATIONS UNDER THESE TERMS UNLESS WE BREACH ANY DUTIES IMPOSED ON
          US BY LAW (INCLUDING IF WE CAUSE DEATH OR PERSONAL INJURY BY OUR NEGLIGENCE) IN WHICH CASE
          WE SHALL NOT BE LIABLE TO YOU IF THAT FAILURE IS ATTRIBUTED TO: (I) YOUR OWN FAULT; (II) A
          THIRD PARTY UNCONNECTED WITH OUR PERFORMANCE OF THESE TERMS (FOR INSTANCE PROBLEMS DUE TO
          COMMUNICATIONS NETWORK PERFORMANCE, CONGESTION, AND CONNECTIVITY OR THE PERFORMANCE OF
          YOUR COMPUTER EQUIPMENT); OR (III) ANY OTHER EVENTS WHICH NEITHER WE NOR OUR SUPPLIERS
          COULD HAVE FORESEEN OR FORESTALLED EVEN IF WE OR THEY HAD TAKEN REASONABLE CARE. AS THIS
          SERVICE IS FOR CONSUMER USE ONLY WE WILL NOT BE LIABLE FOR ANY BUSINESS LOSSES OF ANY
          KIND.
        </p>
        <p>
          15.2. IN THE EVENT THAT WE ARE HELD LIABLE FOR ANY EVENT UNDER THESE TERMS, OUR TOTAL
          AGGREGATE LIABILITY TO YOU UNDER OR IN CONNECTION WITH THESE TERMS SHALL NOT EXCEED (A)
          THE VALUE OF THE BETS AND OR WAGERS YOU PLACED VIA YOUR ACCOUNT IN RESPECT OF THE RELEVANT
          BET/WAGER OR PRODUCT THAT GAVE RISE TO THE RELEVANT LIABILITY, OR (B) EUR €500 IN
          AGGREGATE, WHICHEVER IS LOWER.
        </p>
        <p>
          15.3. WE STRONGLY RECOMMEND THAT YOU (I) TAKE CARE TO VERIFY THE SUITABILITY AND
          COMPATIBILITY OF THE SERVICE WITH YOUR OWN COMPUTER EQUIPMENT PRIOR TO USE; AND (II) TAKE
          REASONABLE PRECAUTIONS TO PROTECT YOURSELF AGAINST HARMFUL PROGRAMS OR DEVICES INCLUDING
          THROUGH INSTALLATION OF ANTI-VIRUS SOFTWARE.
        </p>
        <h2 id="16-gambling-by-those-under-age">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#16-gambling-by-those-under-age"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >16. Gambling By Those Under Age
        </h2>
        <p>
          16.1. If we suspect that you are or receive notification that you are currently under 18
          years or were under 18 years (or below the age of majority as stipulated in the laws of
          the jurisdiction applicable to you) when you placed any bets through the Service your
          Account will be suspended (locked) to prevent you placing any further bets or making any
          withdrawals from your Account. We will then investigate the matter, including whether you
          have been betting as an agent for, or otherwise on behalf, of a person under 18 years (or
          below the age of majority as stipulated in the laws of the jurisdiction applicable to
          you). If having found that you: (a) are currently; (b) were under 18 years or below the
          majority age which applies to you at the relevant time; or (c) have been betting as an
          agent for or at the behest of a person under 18 years or below the majority age which
          applies:
        </p>
        <p>all winnings currently or due to be credited to your Account will be retained;</p>
        <p>
          all winnings gained from betting through the Service whilst under age must be paid to us
          on demand (if you fail to comply with this provision we will seek to recover all costs
          associated with recovery of such sums); and/or
        </p>
        <p>
          any monies deposited in your Account which are not winnings will be returned to you OR
          retained until you turn 18 years old at our sole discretion. We reserve the right to
          deduct payment transaction fees from the amount to return, including transaction fees for
          deposits to your <a href="https://tayabet.com/">tayabet.com</a> account which we covered.
        </p>
        <p>
          16.2. This condition also applies to you if you are over the age of 18 years but you are
          placing your bets within a jurisdiction which specifies a higher age than 18 years for
          legal betting and you are below that legal minimum age in that jurisdiction.
        </p>
        <p>
          16.3. In the event we suspect you are in breach of the provisions of this Clause or are
          attempting to rely on them for a fraudulent purpose, we reserve the right to take any
          action necessary in order to investigate the matter, including informing the relevant law
          enforcement agencies.
        </p>
        <h2 id="17-fraud">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#17-fraud"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >17. Fraud
        </h2>
        <p>
          We will seek criminal and contractual sanctions against any Customer involved in fraud,
          dishonesty or criminal acts. We will withhold payment to any Customer where any of these
          are suspected. The Customer shall indemnify and shall be liable to pay to us on demand all
          costs, charges or losses sustained or incurred by us (including any direct, indirect or
          consequential losses, loss of profit, loss of business and loss of reputation) arising
          directly or indirectly from the Customer’s fraud, dishonesty or criminal act.
        </p>
        <h2 id="18-intellectual-property">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#18-intellectual-property"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >18. Intellectual Property
        </h2>
        <p>
          18.1. Any unauthorised use of our name and logo may result in legal action being taken
          against you.
        </p>
        <p>
          18.2. As between us and you, we are the sole owners of the rights in and to the Service,
          our technology, software and business systems (the "Systems") as well as our odds. you
          must not use your personal profile for your own commercial gain (such as selling your
          status update to an advertiser); and when selecting a nickname for your Account we reserve
          the right to remove or reclaim it if we believe it appropriate.
        </p>
        <p>
          18.3. You may not use our URL, trademarks, trade names and/or trade dress, logos ("Marks")
          and/or our odds in connection with any product or service that is not ours, that in any
          manner is likely to cause confusion among Customers or in the public or that in any manner
          disparages us.
        </p>
        <p>
          18.4. Except as expressly provided in these Terms, we and our licensors do not grant you
          any express or implied rights, license, title or interest in or to the Systems or the
          Marks and all such rights, license, title and interest specifically retained by us and our
          licensors. You agree not to use any automatic or manual device to monitor or copy web
          pages or content within the Service. Any unauthorized use or reproduction may result in
          legal action being taken against you.
        </p>
        <h2 id="19-your-license">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#19-your-license"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >19. Your License
        </h2>
        <p>
          19.1. Subject to these Terms and your compliance with them, we grant to you a
          non-exclusive, limited, non transferable and non sub-licensable license to access and use
          the Service for your personal non-commercial purposes only. Our license to you terminates
          if our agreement with you under these Terms ends.
        </p>
        <p>
          19.2. Save in respect of your own content, you may not under any circumstances modify,
          publish, transmit, transfer, sell, reproduce, upload, post, distribute, perform, display,
          create derivative works from, or in any other manner exploit, the Service and/or any of
          the content thereon or the software contained therein, except as we expressly permit in
          these Terms or otherwise on the Website. No information or content on the Service or made
          available to you in connection with the Service may be modified or altered, merged with
          other data or published in any form including for example screen or database scraping and
          any other activity intended to collect, store, reorganise or manipulate such information
          or content.
        </p>
        <p>
          19.3. Any non-compliance by you with this Clause may also be a violation of our or third
          parties' intellectual property and other proprietary rights which may subject you to civil
          liability and/or criminal prosecution.
        </p>
        <h2 id="20-your-conduct-and-safety">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#20-your-conduct-and-safety"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >20. Your Conduct and Safety
        </h2>
        <p>
          20.1. For your protection and protection of all our Customers, the posting of any content
          on the Service, as well as conduct in connection therewith and/or the Service, which is in
          any way unlawful, inappropriate or undesirable is strictly prohibited (“Prohibited
          Behaviour”).
        </p>
        <p>
          20.2. If you engage in Prohibited Behaviour, or we determine in our sole discretion that
          you are engaging in Prohibited Behaviour, your Account and/or your access to or use of the
          Service may be terminated immediately without notice to you. Legal action may be taken
          against you by another Customer, other third party, enforcement authorities and/or us with
          respect to you having engaged in Prohibited Behaviour.
        </p>
        <p>
          20.3. Prohibited Behaviour includes, but is not limited to, accessing or using the Service
          to: promote or share information that you know is false, misleading or unlawful; conduct
          any unlawful or illegal activity, such as, but not limited to, any activity that furthers
          or promotes any criminal activity or enterprise, violates another Customer's or any other
          third party’s privacy or other rights or that creates or spreads computer viruses; harm
          minors in any way;
        </p>
        <p>
          transmit or make available any content that is unlawful, harmful, threatening, abusive,
          tortuous, defamatory, vulgar, obscene, lewd, violent, hateful, or racially or ethnically
          or otherwise objectionable;
        </p>
        <p>
          transmit or make available any content that the user does not have a right to make
          available under any law or contractual or fiduciary relationship, including without
          limitation, any content that infringes a third party’s copyright, trademark or other
          intellectual property and proprietary rights;
        </p>
        <p>
          transmit or make available any content or material that contains any software virus or
          other computer or programming code (including HTML) designed to interrupt, destroy or
          alter the functionality of the Service, its presentation or any other website, computer
          software or hardware;
        </p>
        <p>
          interfere with, disrupt or reverse engineer the Service in any manner, including, without
          limitation, intercepting, emulating or redirecting the communication protocols used by us,
          creating or using cheats, mods or hacks or any other software designed to modify the
          Service, or using any software that intercepts or collects information from or through the
          Service;
        </p>
        <p>
          retrieve or index any information from the Service using any robot, spider or other
          automated mechanism;
        </p>
        <p>
          participate in any activity or action that, in the sole and entire unfettered discretion
          of us results or may result in another Customer being defrauded or scammed;
        </p>
        <p>
          transmit or make available any unsolicited or unauthorised advertising or mass mailing
          such as, but not limited to, junk mail, instant messaging, "spim", "spam", chain letters,
          pyramid schemes or other forms of solicitations;
        </p>
        <p>
          create Accounts on the Website by automated means or under false or fraudulent pretences;
          impersonate another Customer or any other third party, or any other act or thing done that
          we reasonably consider to be contrary to our business principles.
        </p>
        <p>
          The above list of Prohibited Behaviour is not exhaustive and may be modified by us at any
          time or from time to time. We reserve the right to investigate and to take all such
          actions as we in our sole discretion deem appropriate or necessary under the
          circumstances, including without limitation deleting the Customer’s posting(s) from the
          Service and/or terminating their Account, and take any action against any Customer or
          third party who directly or indirectly in, or knowingly permits any third party to
          directly or indirectly engage in Prohibited Behaviour, with or without notice to such
          Customer or third party.
        </p>
        <h2 id="21-links-to-other-websites">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#21-links-to-other-websites"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >21. Links to Other Websites
        </h2>
        <p>
          The Service may contain links to third party websites that are not maintained by, or
          related to, us, and over which we have no control. Links to such websites are provided
          solely as a convenience to Customers,and are in no way investigated, monitored or checked
          for accuracy or completeness by us. Links to such websites do not imply any endorsement by
          us of, and/or any affiliation with, the linked websites or their content or their
          owner(s). We have no control over or responsibility for the availability nor their
          accuracy, completeness, accessibility and usefulness. Accordingly when accessing such
          websites we recommend that you should take the usual precautions when visiting a new
          website including reviewing their privacy policy and terms of use.
        </p>
        <h2 id="22-complaints">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#22-complaints"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >22. Complaints
        </h2>
        <p>
          22.1. If you have any concerns or questions regarding these Terms you should contact our
          Customer Service Department via the links on the Website and use your Registered Email
          Address in all communication with us.
        </p>
        <p>
          22.2. NOTWITHSTANDING THE FOREGOING, WE TAKE NO LIABILITY WHATSOEVER TO YOU OR TO ANY
          THIRD PARTY WHEN RESPONDING TO ANY COMPLAINT THAT WE RECEIVED OR TOOK ACTION IN CONNECTION
          THEREWITH.
        </p>
        <p>
          22.3. If a Customer is not satisfied with how a bet has been settled then the Customer
          should provide details of their grievance to our Customer Service Department. We shall use
          our reasonable endeavours to respond to queries of this nature within a few days (and in
          any event we intend to respond to all such queries within 28 days of receipt).
        </p>
        <p>
          22.4. Disputes must be lodged within three (3) days from the date the wager in question
          has been decided. No claims will be honoured after this period. The Customer is solely
          responsible for their Account transactions.
        </p>
        <p>
          22.5. In the event of a dispute arising between you and us our Customer Service Department
          will attempt to reach an agreed solution. Should our Customer Service Department be unable
          to reach an agreed solution with you, the matter will be escalated to our management.
        </p>
        <p>
          22.6. Should all efforts to resolve a dispute to the Customer's satisfaction have failed,
          the Customer has the right to lodge a complaint with our licensing body Gaming Services
          Provider N.V.
        </p>
        <h2 id="23-assignment">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#23-assignment"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >23. Assignment
        </h2>
        <p>
          Neither these Terms nor any of the rights or obligations hereunder may be assigned by you
          without the prior written consent of us, which consent will not be unreasonably withheld.
          We may, without your consent, assign all or any portion of our rights and obligations
          hereunder to any third party provided such third party is able to provide a service of
          substantially similar quality to the Service by posting written notice to this effect on
          the Service.
        </p>
        <h2 id="24-severability">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#24-severability"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >24. Severability
        </h2>
        <p>
          In the event that any provision of these Terms is deemed by any competent authority to be
          unenforceable or invalid, the relevant provision shall be modified to allow it to be
          enforced in line with the intention of the original text to the fullest extent permitted
          by applicable law. The validity and enforceability of the remaining provisions of these
          Terms shall not be affected.
        </p>
        <h2 id="25-breach-of-these-terms">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#25-breach-of-these-terms"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >25. Breach of These Terms
        </h2>
        <p>
          Without limiting our other remedies, we may suspend or terminate your Account and refuse
          to continue to provide you with the Service, in either case without giving you prior
          notice, if, in our reasonable opinion, you breach any material term of these Terms. Notice
          of any such action taken will, however, be promptly provided to you.
        </p>
        <h2 id="26-general-provisions">
          <a class="anchor" aria-hidden="true" tabindex="-1" href="#26-general-provisions"
            ><svg
              class="octicon octicon-link"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
              ></path></svg></a
          >26. General Provisions
        </h2>
        <p>
          26.1. Term of agreement. These Terms shall remain in full force and effect while you
          access or use the Service or are a Customer or visitor of the Website. These Terms will
          survive the termination of your Account for any reason.
        </p>
        <p>
          26.2. Gender. Words importing the singular number shall include the plural and vice versa,
          words importing the masculine gender shall include the feminine and neuter genders and
          vice versa and words importing persons shall include individuals, partnerships,
          associations, trusts, unincorporated organisations and corporations.
        </p>
        <p>
          26.3. Waiver. No waiver by us, whether by conduct or otherwise, of a breach or threatened
          breach by you of any term or condition of these Terms shall be effective against, or
          binding upon, us unless made in writing and duly signed by us, and, unless otherwise
          provided in the written waiver, shall be limited to the specific breach waived. The
          failure of us to enforce at any time any term or condition of these Terms shall not be
          construed to be a waiver of such provision or of the right of us to enforce such provision
          at any other time.
        </p>
        <p>
          26.4. Acknowledgement. By hereafter accessing or using the Service, you acknowledge having
          read, understood and agreed to each and every paragraph of these Terms. As a result, you
          hereby irrevocably waive any future argument, claim, demand or proceeding to the contrary
          of anything contained in these Terms.
        </p>
        <p>
          26.5. Language. In the event of there being a discrepancy between the English language
          version of these rules and any other language version, the English language version will
          be deemed to be correct.
        </p>
        <p>26.6. Governing Law. These Terms are governed by the law in force in Curaçao.</p>
        <p>
          26.7. Entire agreement. These Terms constitute the entire agreement between you and us
          with respect to your access to and use of the Service, and supersedes all other prior
          agreements and communications, whether oral or written with respect to the subject matter
          hereof.
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wmde-markdown {
  &::before {
    content: '';
    display: table;
  }
  &:first-child {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  h2 {
    border-bottom: solid 2px #21262d;
  }
  a {
    background-color: initial;
    color: #58a6ff;
    text-decoration: none;
    &.anchor {
      float: left;
      line-height: 1;
      margin-left: -40px;
      padding-right: 8px;
    }
  }
}
</style>
