<template>
  <div class="vipbody">
    <p class="vip_main_title">{{ t('vip.benefitOfVip') }}</p>
    <p class="vip_sub_title">{{ t('vip.rankSystem') }}</p>
    <div>
      <img w-693px h-331px align-middle src="@/assets/img/vip/title1.png" alt="" />
    </div>
    <!--  -->
    <div style="margin-bottom: 50px" v-for="(item, index) in levelArr" :key="index">
      <img w-131px h-103px align-middle :src="item.imgsrc" alt="" />
      <p class="vip_main_title">{{ item.title }}</p>
      <p class="vip_li_title">{{ item.subtitle }}</p>
    </div>
    <!--  -->
    <div style="margin-top: -30px">
      <div v-for="(item, index) in levelData" :key="index" class="vip_box1">
        <div style="display: flex; align-items: center">
          <img w-213px h-169px align-middle :src="item.imgsrc" alt="" />
          <img
            style="margin-left: 25px"
            w-186px
            h-132px
            align-middle
            :src="item.leverlsrc"
            alt=""
          />
        </div>
        <p style="margin-top: 20px" class="vip_main_title">{{ item.title }}</p>
        <p class="vip_u_title">
          {{ item.subtitle }}
        </p>
      </div>
    </div>
    <div style="height: 450px; width: 100%">
      <el-carousel height="450px" :interval="5000" arrow="always">
        <el-carousel-item v-for="(item, index) in vip_level_Data" :key="index">
          <!--  VIP等级  -->
          <div class="vip_box2">
            <img w-130px align-middle :src="item.imgsrc" alt="" />
            <div text-36px text-white>VIP {{ item.level }}</div>
            <!-- <p text-tay-text-15 text-32px>VIP {{ item.level + 1 }} LEVEL CONDITIONS</p> -->
            <p text-tay-text-15 text-32px>{{ t('vip.levelConditions') }} VIP{{ item.level }}</p>
            <p text-24px>
              <span
                >{{ t('vip.cumulative') }}<span mx-10px>{{ sysStore.currencySymbol }}</span
                >{{ item.Recharge }}{{ t('vip.Bet') }}</span
              >
            </p>

            <p class="vip_text1">{{ t('vip.rechargeAmount') }}</p>
            <!-- 累计存款 -->
            <p class="vip_text2">R$ {{ item.Recharge }}</p>
            <p class="vip_text1">{{ t('record.betAmount') }}</p>
            <!-- 累计投注 -->
            <p style="margin-top: 5px" class="vip_text2">{{ item.Bet }}</p>
            <div class="vip_line"></div>
            <p class="vip_text3">{{ t('vip.memberPrivilege') }}</p>
            <!-- 升级奖金 -->
            <p class="vip_text4">{{ t('vip.upgradeBonus') }}：R$ {{ item.upgradebonus }}</p>
            <!--最大投注要求  -->
            <p class="vip_text4">
              {{ t('vip.maximumWageringRequirements') }} ：R$ {{ item.Maximum }}
            </p>
            <!-- 提现次数 -->
            <p class="vip_text4">{{ t('vip.withdrawalTimes') }} ：{{ item.times }}</p>
            <!-- 体现手续费 -->
            <p class="vip_text4">{{ t('vip.withdrawalFee') }}：{{ item.fee }}%</p>
            <!-- 投注返水 -->
            <p class="vip_text4">{{ t('vip.Rebate') }} ：{{ item.Rebate }}</p>
            <p class="vip_text5">{{ t('vip.myRank') }}</p>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
    <!-- <div w-full h-900px rounded-20px bg-tay-bg-0> -->
    <!-- <swiper
        rounded-20px
        h-full
        :loop="true"
        :centeredSlides="true"
        :autoplay="{ delay: 3000, disableOnInteraction: false }"
        :pagination="{
          el: '.cus-pagination'
        }"
      >
        <swiper-slide v-for="(item, index) in vip_level_Data" :key="index">
        
        </swiper-slide>
      </swiper> -->
    <!-- </div> -->

    <!--  -->
    <!-- <div class="vip_box3">
      <p class="vip_text6">20, 627,202</p>
      <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px">
        <img w-45px align-middle :src="getAssetsImages('Union.png')" alt="" />
        <p class="vip_text7">Player</p>
      </div>
    </div>
    <div class="vip_box3">
      <p class="vip_text6">20, 883,559</p>
      <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px">
        <img w-35px align-middle :src="getAssetsImages('Exclude.png')" alt="" />
        <p class="vip_text7">Winner</p>
      </div>
    </div> -->
  </div>
</template>

<script setup>
import { useSystemStore } from '../stores/system'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
import levels1 from '@/assets/img/vip/levels1.png'
import levels2 from '@/assets/img/vip/levels2.png'
import levels3 from '@/assets/img/vip/levels3.png'
import levels4 from '@/assets/img/vip/levels4.png'
import { Pagination, Autoplay } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'
import 'swiper/css'
import 'swiper/css/pagination'

const sysStore = useSystemStore()

const levelArr = ref([
  {
    imgsrc: levels1,
    title: t('vip.advantagesTitle1'),
    subtitle: t('vip.advantagesContent1')
  },
  {
    imgsrc: levels2,
    title: t('vip.advantagesTitle1'),
    subtitle: t('vip.advantagesContent1')
  },
  {
    imgsrc: levels3,
    title: t('vip.advantagesTitle3'),
    subtitle: t('vip.advantagesContent3')
  },
  {
    imgsrc: levels4,
    title: t('vip.advantagesTitle4'),
    subtitle: t('vip.advantagesContent4')
  }
])

import img02 from '@/assets/img/vip/02img.png'
import img03 from '@/assets/img/vip/03img.png'
import i01 from '@/assets/img/vip/01.png'
import i02 from '@/assets/img/vip/02.png'
import i03 from '@/assets/img/vip/03.png'

const levelData = ref([
  {
    imgsrc: levels1,
    leverlsrc: i01,
    title: t('vip.loginOnBBRGOL'),
    subtitle: t('vip.enjoyGame')
  },
  {
    imgsrc: img02,
    leverlsrc: i02,
    title: t('vip.playGames'),
    subtitle: t('vip.enjoyPlay')
  },
  {
    imgsrc: img03,
    leverlsrc: i03,
    title: t('vip.increaseYourRank'),
    subtitle: t('vip.gotoRank')
  }
])
import V0 from '@/assets/img/vip/V0.png'
import V1 from '@/assets/img/vip/V1.png'
import V2 from '@/assets/img/vip/V2.png'
import V3 from '@/assets/img/vip/V3.png'
import V4 from '@/assets/img/vip/V4.png'
import V5 from '@/assets/img/vip/V5.png'
import V6 from '@/assets/img/vip/V6.png'
import V7 from '@/assets/img/vip/V7.png'
import V8 from '@/assets/img/vip/V8.png'
import V9 from '@/assets/img/vip/V9.png'
import V10 from '@/assets/img/vip/V10.png'

const vip_level_Data = ref([
  {
    level: 0,
    imgsrc: V0,
    Recharge: 0, //累计存款
    Bet: 0, //累计投注
    upgradebonus: 0, //升级奖金
    Maximum: 500, //最大投注要求
    times: 1, //提现次数
    fee: 2.5, //体现手续费
    Rebate: 0 //投注返水
  },
  {
    level: 1,
    imgsrc: V1,
    Recharge: 100,
    Bet: 500,
    upgradebonus: 5,
    Maximum: 500,
    times: 2,
    fee: 2.5,
    Rebate: 0.2
  },
  {
    level: 2,
    imgsrc: V2,
    Recharge: 500,
    Bet: 4000,
    upgradebonus: 10,
    Maximum: 1000,
    times: 2,
    fee: 2.5,
    Rebate: 0.22
  },
  {
    level: 3,
    imgsrc: V3,
    Recharge: 2000,
    Bet: 16000,
    upgradebonus: 20,
    Maximum: 1000,
    times: 2,
    fee: 2.5,
    Rebate: 0.25
  },
  {
    level: 4,
    imgsrc: V4,
    Recharge: 10000,
    Bet: 80000,
    upgradebonus: 40,
    Maximum: 1000,
    times: 3,
    fee: 2,
    Rebate: 0.26
  },
  {
    level: 5,
    imgsrc: V5,
    Recharge: 50000,
    Bet: 400000,
    upgradebonus: 60,
    Maximum: 1000,
    times: 3,
    fee: 1,
    Rebate: 0.28
  },
  {
    level: 6,
    imgsrc: V6,
    Recharge: 200000,
    Bet: 1200000,
    upgradebonus: 100,
    Maximum: 5000,
    times: 3,
    fee: 2,
    Rebate: 0.3
  },
  {
    level: 7,
    imgsrc: V7,
    Recharge: 500000,
    Bet: 3000000,
    upgradebonus: 200,
    Maximum: 5000,
    times: 4,
    fee: 1.5,
    Rebate: 0.33
  },
  {
    level: 8,
    imgsrc: V8,
    Recharge: 1500000,
    Bet: 6000000,
    upgradebonus: 400,
    Maximum: 5000,
    times: 4,
    fee: 1.5,
    Rebate: 0.36
  },
  {
    level: 9,
    imgsrc: V9,
    Recharge: 500,
    Bet: 20000000,
    upgradebonus: 600,
    Maximum: 10000,
    times: 4,
    fee: 1,
    Rebate: 0.4
  },
  {
    level: 10,
    imgsrc: V10,
    Recharge: 10000000,
    Bet: 40000000,
    upgradebonus: 1000,
    Maximum: 10000,
    times: 5,
    fee: 1,
    Rebate: 0.5
  }
])
//获取vip等级
const getvipdata = async () => {
  let res = await api.APIPostWay('vip/levels', {})
  //   vip_level_Data.value = res.data
  //   console.log(vip_level_Data.value)
}
// getvipdata()

const getAssetsImages = (name) => {
  return new URL('../assets/img/vip/' + name, import.meta.url).href //本地文件路径
}
</script>

<style lang="scss" scoped>
.vipbody {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  :deep(.swiper-slide) {
    /* background: #1f2833; */
    text-align: center;
    display: flex;
    justify-content: center;
    background: none;
  }
  :deep(.el-carousel__item) {
    display: flex;
    justify-content: center;
  }
  :deep(.el-carousel__indicators) {
    display: none;
  }

  :deep(.el-carousel__arrow) {
    width: 10px;
    height: 60px;
    /* flex-shrink: 0; */
    background: #000;
  }
}

p {
  margin: 0;
}

.vip_main_title {
  color: #fff;
  font-family: Microsoft YaHei;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  /* margin-top: 51px; */
  /* line-height: normal; */
}

.vip_sub_title {
  color: #dd234c;
  font-family: Microsoft YaHei;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
  /* line-height: normal; */
}

.vip_li_title {
  color: #9db9e1;
  text-align: center;
  font-family: Microsoft YaHei;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.vip_box1 {
  padding: 49px 0 0 40px;
  margin-bottom: 20px;
  width: 690px;
  height: 518px;
  text-align: left;
  /* flex-shrink: 0; */
  border-radius: 20px;
  background: linear-gradient(125deg, #0b3462 0%, #1b6bca 100%);
}

.vip_u_title {
  color: #9db9e1;
  font-family: Microsoft YaHei;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}

.vip_box2 {
  padding-top: 10px;
  background-image: url('../assets/img/vip/vdiv1.png');
  width: 620px;
  height: 807.5px;
  background-size: 100% 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vip_text1 {
  color: #94acd2;
  font-family: Microsoft YaHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vip_text2 {
  color: #fbab1c;
  text-align: center;
  font-family: Microsoft YaHei;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.vip_text3 {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-family: Microsoft YaHei;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.vip_line {
  width: 450.066px;
  height: 2px;
  flex-shrink: 0;
  background: #314058;
  margin-top: 10px;
}

.vip_text4 {
  color: #94acd2;
  text-align: center;
  font-family: Microsoft YaHei;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.vip_text5 {
  color: #fff;
  text-align: center;
  font-family: Microsoft YaHei;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.vip_box3 {
  width: 690px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #212a39;
  padding-top: 30px;
  margin-top: 20px;
}

.vip_text6 {
  color: #447bdf;
  font-family: Microsoft YaHei;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.vip_text7 {
  color: #98accf;
  font-family: Microsoft YaHei;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}
</style>
