<script lang="ts" setup>
import { copyText } from 'vue3-clipboard'
import { ElMessage } from 'element-plus'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const props = defineProps({
  text: String
})

const doCopy = () => {
  copyText(props.text, undefined, (error) => {
    if (error) {
      ElMessage({
        message: t('common.copyFailed'),
        type: 'error'
      })
    } else {
      ElMessage({
        message: t('common.copySuccessfully'),
        type: 'success'
      })
    }
  })
}
</script>

<template>
  <div class="container">
    <img w-full h-full @click="doCopy" src="@/assets/img/common/copy.png" alt="" />
  </div>
</template>

<style lang="scss" scoped></style>
