<!-- 日期筛选 -->
<template>
  <div>
    <div>
      <el-date-picker
        v-if="sysStore.userAgent == 'pc'"
        format="YYYY/MM/DD"
        value-format="YYYY-MM-DD"
        style="width: 100%"
        mx-auto
        v-model="pickdate"
        type="daterange"
        range-separator="To"
        start-placeholder="Start date"
        end-placeholder="End date"
        @change="change"
      />
      <div class="data-mobile" v-else>
        <div flex items-center>
          <div
            @click="
              () => {
                mobiledataflag = 'start'
                showBottom = true
              }
            "
          >
            {{ startdata }}
          </div>
          <div class="i-mdi:arrow-right-thin mx-20px"></div>
          <div
            @click="
              () => {
                mobiledataflag = 'end'
                showBottom = true
              }
            "
          >
            {{ enddata }}
          </div>
        </div>
        <div class="i-ep:calendar"></div>
      </div>
    </div>
    <div
      text-white
      mx-auto
      text-center
      mt-30px
      h-70px
      cursor-pointer
      leading-70px
      rounded-20px
      style="background: #233857"
      @click="changedate"
    >
      Confirm
    </div>

    <van-popup v-model:show="showBottom" position="bottom" :style="{ height: '40%' }">
      <van-date-picker
        @confirm="confirm"
        v-model="currentDate"
        :min-date="minDate"
        :max-date="maxDate"
      />
    </van-popup>
  </div>
</template>

<script setup lang="ts">
import { useSystemStore } from '@/stores/system'
const sysStore = useSystemStore()
import { useNow, useDateFormat } from '@vueuse/core'
import { changeDateToArray } from '@utils/tool'
const today = useDateFormat(useNow(), 'YYYY-MM-DD')
const mobiledataflag = ref('start')
const showBottom = ref(false)
const startdata = ref(today.value) //'Start date'
const enddata = ref(today.value) //'End date'

const pickdate = ref([today.value, today.value])
const currentDate = ref(changeDateToArray(today.value))
const minDate = new Date(2020, 0, 1)
const maxDate = new Date(2025, 5, 1)
//数据
let state = reactive<myObject>({})
//日期

let {} = toRefs(state)

let props = defineProps({})
let emits = defineEmits(['change'])
const change = async (item) => {
  //   getRecords()
  //   emits('change', item)
}

const changedate = async (item) => {
  if (sysStore.userAgent == 'mobile') {
    let param = {
      begin: sysStore.userAgent == 'pc' ? pickdate.value[0] ?? today : startdata.value,
      end: sysStore.userAgent == 'pc' ? pickdate.value[1] ?? today : enddata.value
    }
    if (param.begin == 'Start date' || param.end == 'End date') {
      //   return null
      ElMessage({
        message: 'Please fill in the complete start time and end time',
        type: 'warning'
      })
    } else {
      emits('change', item)
    }
  } else {
    emits('change', item)
  }
}

const confirm = ({ selectedValues }) => {
  showBottom.value = false
  //   console.log('选择了日期', selectedValues.join('-'))
  if (mobiledataflag.value === 'start') {
    startdata.value = selectedValues.join('-')
  }
  if (mobiledataflag.value === 'end') {
    enddata.value = selectedValues.join('-')
  }
  //   emits('change', selectedValues)
}

let getbeginandend = () => {
  //   console.log('begin:', sysStore.userAgent == 'pc' ? pickdate.value[0] ?? today : startdata.value)
  //   console.log('end:', sysStore.userAgent == 'pc' ? pickdate.value[1] ?? today : enddata.value)
  let param = {
    begin: sysStore.userAgent == 'pc' ? pickdate.value[0] ?? today : startdata.value,
    end: sysStore.userAgent == 'pc' ? pickdate.value[1] ?? today : enddata.value
  }

  if (sysStore.userAgent == 'mobile') {
    if (param.begin == 'Start date' || param.end == 'End date') {
      return null
    }
  }

  return param
}

defineExpose({ getbeginandend })
</script>

<style lang="scss" scoped>
.data-mobile {
  width: 100%;
  height: 76px;
  border: 2px solid #303e52;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #999999;
  justify-content: space-between;
}
</style>
