<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useSystemStore } from '../stores/system'
import { Pagination, Autoplay } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'
import 'swiper/css'
import 'swiper/css/pagination'
const modules = [Pagination, Autoplay]

const router = useRouter()

const sysStore = useSystemStore()

sysStore.getBanner()

import img11 from '@/assets/img/bonus/11.png'
import img12 from '@/assets/img/bonus/12.png'
import img13 from '@/assets/img/bonus/13.png'
import img14 from '@/assets/img/bonus/14.png'
import img15 from '@/assets/img/bonus/15.png'
import img16 from '@/assets/img/bonus/16.png'

const levelArr = ref([img11, img12, img13, img14, img15, img16])
</script>

<template>
  <div mt-20px w-full h-440px rounded-20px bg-tay-bg-0>
    <!-- {{ sysStore.banner }} -->
    <swiper
      rounded-20px
      h-full
      loop
      :modules="modules"
      :centeredSlides="true"
      :autoplay="{
        delay: 2500,
        disableOnInteraction: false
      }"
      :pagination="{
        el: '.cus-pagination'
      }"
    >
      <swiper-slide v-for="(item, index) in sysStore.banner" :key="index">
        <img @click="router.push(item.link)" object-cover w-full h-full v-lazy="item.src" alt="" />
      </swiper-slide>
    </swiper>
  </div>
  <div class="cus-pagination text-center"></div>
</template>

<style lang="scss" scoped>
.cus-pagination {
  :deep(.swiper-pagination-bullet) {
    background: #1f2833;
    width: 10px;
    height: 10px;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background: #fff;
    }
  }
}
</style>
