<script setup>
import gsap from 'gsap'
import { watch } from 'vue'

const props = defineProps({
  value: {
    type: Number,
    default: 0
  }
})

const d = reactive({
  num: 0
})

const animate = () => {
  gsap.to(d, {
    duration: 12,
    num: props.value
  })
}

animate()

watch(
  () => props.value,
  (val) => (d.num = val)
)

defineExpose({
  animate
})
</script>

<template>
  <span>{{ d.num.toLocaleString() }}</span>
</template>

<style lang="scss" scoped></style>
