<script setup></script>

<template>
  <div
    flex
    justify-center
    items-center
    bg-tay-bg-5
    mt-40px
    mx-auto
    pt-40px
    pb-380px
    px-40px
    overflow-hidden
  >
    <div w-1200px flex flex-wrap justify-between overflow-hidden w-full>
      <el-row :gutter="10">
        <el-col :xs="12" :md="8">
          <div inline-flex flex-col>
            <div text-tay-text-1 mt-16px mb-32px>Games</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>CRASH</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>PLINKO</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>LUCKY COLOUR</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>DICE</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>LIMBO</div>
          </div>
        </el-col>
        <el-col :xs="12" :md="8">
          <div inline-flex flex-col>
            <div text-tay-text-1 mt-16px mb-32px>Helps</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>KYC Policy</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>Privacy Policy</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>Responsible Gaming</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>Terms and Condition</div>
            <div text-tay-text-2 text-24px leading-2.2 mb-16px>FAQ</div>
          </div>
        </el-col>
        <el-col :xs="24" :md="8">
          <div inline-flex flex-col mt-10px mb-16px>
            <div flex items-center>
              <img max-w-60px max-h-60px mr-8px mb-4px src="@/assets/img/footer/1.png" alt="" />
              <img max-w-60px max-h-60px mr-8px mb-4px src="@/assets/img/footer/2.png" alt="" />
              <img max-w-60px max-h-60px mr-8px mb-4px src="@/assets/img/footer/3.png" alt="" />
              <img max-w-60px max-h-60px mr-8px mb-4px src="@/assets/img/footer/4.png" alt="" />
              <img max-w-60px max-h-60px mr-8px mb-4px src="@/assets/img/footer/5.png" alt="" />
              <img max-w-60px max-h-60px mr-8px mb-4px src="@/assets/img/footer/6.png" alt="" />
              <img max-w-60px max-h-60px mr-8px mb-4px src="@/assets/img/footer/7.png" alt="" />
            </div>
          </div>
          <div text-tay-text-1 leading-32px font-semibold my-16px>ABOUT US</div>
          <div flex-none text-24px text-tay-text-2 font-semibold>
            Este site oferece jogos com uma experiência arriscada. Para ser um usuário do nosso
            site, você deve ter pelo menos 18 anos. Não somos responsáveis por violar suas leis
            locais em relação a jogos online. Jogue com responsabilidade e divirta -se em BBRGOL |
            Cassino Online, jogos de cassino online que ganha dinheiro real
          </div>
        </el-col>
      </el-row>
      <div m-auto mb-16px>
        <div flex flex-wrap justify-center items-center mt-20px w-full>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo1.png"
              alt=""
            />
          </div>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo2.png"
              alt=""
            />
          </div>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo3.png"
              alt=""
            />
          </div>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo4.png"
              alt=""
            />
          </div>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo5.png"
              alt=""
            />
          </div>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo6.png"
              alt=""
            />
          </div>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo7.png"
              alt=""
            />
          </div>
          <div h-80px mx-16px mb-8px w-auto>
            <img
              object-fill
              h-auto
              w-auto
              max-w-full
              max-h-full
              src="@/assets/img/footer/logo8.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div text-tay-text-2 font-semibold text-18px py-36px text-center w-full>
        Copyright © 2019-2023 BBRGOL. All rights reserved.
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped></style>
