<script setup>
import gamesicon from '@img/footer/games.svg'
import shareicon from '@img/footer/share.svg'
import bonusicon from '@img/footer/bonus.svg'
import appicon from '@img/footer/app.svg'
import { computed, ref } from 'vue'
import { useSystemStore } from '@/stores/system'
import { useI18n } from 'vue-i18n'
const sysStore = useSystemStore()

const { t } = useI18n()

const tab = computed(() => [
  {
    key: 'games',
    name: t('common.games'),
    icon: gamesicon,
    path: '/home'
  },
  {
    key: 'share',
    name: t('common.share'),
    icon: shareicon,
    path: '/share'
  },
  {
    key: 'recharge',
    name: t('common.recharge'),
    icon: shareicon,
    path: '/recharge'
  },
  {
    key: 'bonus',
    name: t('common.bonus'),
    icon: bonusicon,
    path: '/bonus'
  },
  {
    key: 'app',
    name: t('common.app'),
    icon: appicon,
    path: '/download'
  }
])

const active = ref('games')

const change = () => {
  console.log('change', active.value)
  if (active.value === 'recharge') {
    if (sysStore.isLogin) {
      sysStore.showRechagePop.type = 'recharge'
      sysStore.showRechagePop.show = true
    } else {
      sysStore.loginPop.type = 'login'
      sysStore.loginPop.show = true
    }
  }
}
</script>

<template>
  <van-tabbar
    @change="change"
    class="tabbar-footer"
    z-index="10"
    fixed
    :border="false"
    v-model="active"
    active-color="#fff"
    inactive-color="#999"
    route
  >
    <van-tabbar-item replace :name="item.key" :to="item.path" v-for="item in tab" :key="item.key">
      <template #icon>
        <div
          v-if="item.key != 'recharge'"
          class="logo"
          w-48px
          h-48px
          :style="`-webkit-mask: url(${item.icon}) center center / contain no-repeat`"
        ></div>
      </template>
      <span v-if="item.key != 'recharge'">{{ item.name }}</span>
      <div
        class="center"
        flex
        flex-col
        items-center
        justify-center
        mt--40px
        w-136px
        h-136px
        rounded-full
        border-12
        border-solid
        border-tay-bg-2
        v-else
      >
        <img class="gif" src="@/assets/img/footer/wallet.gif" alt="" />
        <span class="recharge">{{ item.name }}</span>
      </div>
    </van-tabbar-item>
  </van-tabbar>
</template>

<style lang="scss" scoped>
@keyframes blink {
  0% {
    transform: scale(0.74);
  }
  25% {
    transform: scale(0.83);
  }
  50% {
    transform: scale(0.74);
  }
  75% {
    transform: scale(0.83);
  }
  100% {
    transform: scale(0.74);
  }
}
.tabbar-footer {
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.64), 0 6px 12px 0 rgba(0, 0, 0, 0.48),
    0 10px 24px 8px rgba(0, 0, 0, 0.36);
  .center {
    background: linear-gradient(180deg, #4291f1 0, #2283f6 100%);
  }
  .gif {
    border-style: none;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  .recharge {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5715;
    color: #fff;
    animation: blink 1.5s ease 0s infinite normal none running;
  }
  .logo {
    background-color: #617496;
  }
  .van-tabbar-item--active {
    .logo {
      background-color: #2283f6;
    }
  }
}
</style>
