<template>
  <div class="rank_box">
    <div class="title">
      <span>User</span>
      <span>Prediction</span>
      <span>Bet</span>
    </div>
    <ul>
      <li v-for="item in myBetResults" :key="item.round">
        <div class="user">
          <img src="@/assets/img/pc/avatar.svg" alt="" />
          <span> Hidden </span>
        </div>
        <span class="times"
          ><span :class="item.result == 'fail' || item.result == 'lose' ? 'fail' : ''"
            >{{ item.m }}x</span
          ></span
        >
        <div class="bet">
          <!-- <img src="@/assets/img/pc/jinbi.svg" alt="" /> -->
          <span>₱ {{ item.bonus }}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    myBetResults: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {}
  },
  mounted() {
    console.log(this.myBetResults)
  }
}
</script>

<style lang="scss" scoped>
.rank_box {
  display: none;
  width: 398px;
  height: 524px;
  background: #1a1f25;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 70px;
  .title {
    padding: 0 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: #272d35;
    color: #7b8398;
  }
  > ul {
    padding: 17px 24px;
    box-sizing: border-box;
    > li {
      height: 45px;
      display: flex;
      align-items: center;
      > span {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        > span {
          width: 45px;
          height: 17px;
          font-size: 12px;
          background: #7ebf12;
          border-radius: 20px;
          display: block;
          text-align: center;
          line-height: 17px;
        }
        .fail {
          background: #fc5252 !important;
        }
      }
      .bet {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 600;
        color: #ffd991;
        > img {
          width: 12px;
          margin-right: 7px;
        }
      }
      .user {
        flex: 1;
        display: flex;
        align-items: center;
        font-weight: 600;
        > img {
          width: 19px;
          height: 19px;
          margin-right: 8px;
        }
      }
    }
  }
}
</style>
