<script setup>
const service = localStorage.getItem('kefu')

const open = () => {
  if (service) {
    window.open(service)
  }
}
</script>

<template>
  <div @click.stop="open" fixed right-32px z-99 bottom-160px>
    <img w-102px h-102px src="@/assets/img/service.png" alt="" />
  </div>
</template>

<style lang="scss" scoped></style>
