<script setup>
import { useSystemStore } from '@/stores/system'
import { ref, computed } from 'vue'
import { ApiWidthdrawList, ApiWidthdrawAddCard } from '@api/request'
import { ElMessage } from 'element-plus'
import { useI18n } from 'vue-i18n'
import { verifyRegEmail } from '@utils/validate.js'

const emit = defineEmits(['update'])

const sysStore = useSystemStore()
const { t } = useI18n()

const FormRef = ref('')
const formdata = ref({
  holder: '',
  // email: '',
  // phone: '',
  // tax: '',
  cardnum: '',
  whatsapp: ''
})

const rules = computed(() => {
  return {
    holder: [
      {
        required: true,
        message: 'por favor insira o nome do titular do cartão',
        trigger: ['blur', 'change']
      }
    ],
    email: [
      { required: true, message: 'por favor digite e-mail', trigger: ['blur', 'change'] },
      {
        pattern: verifyRegEmail,
        message: 'Insira o endereço de e-mail correto',
        trigger: ['blur', 'change']
      }
    ],
    phone: [
      {
        required: true,
        message: 'por favor Tipe de PIX',
        trigger: ['blur', 'change']
      }
    ],
    tax: [
      {
        required: true,
        message: 'por favor insira o seu número de contribuinte',
        trigger: ['blur', 'change']
      }
    ],
    cardnum: [{ required: true, message: 'preencha o CPF', trigger: ['blur', 'change'] }],
    whatsapp: [
      { required: true, message: 'por favor entre no whatsapp', trigger: ['blur', 'change'] }
    ]
  }
})

const show = ref(false)
const activeWith = ref(1)
const currWith = computed(() => withdrawList.value.find((item) => item.id == activeWith.value))
const withdrawList = ref([])
const getWithdraw = async () => {
  const res = await ApiWidthdrawList()
  console.log('支持的取款列表', res)
  if (res.code == 0) {
    withdrawList.value = res.data
    activeWith.value = res.data[0].id
  }
}
getWithdraw()

const change = (item) => {
  activeWith.value = item.id
  show.value = false
}

const submitForm = async (formEl) => {
  if (!formEl) return
  await formEl.validate(async (valid, fields) => {
    if (valid) {
      console.log('submit!', fields)
      const res = await ApiWidthdrawAddCard({
        withdraw_id: currWith.value.id,
        holder: formdata.value.holder,
        card_num: formdata.value.cardnum,
        whatsapp: formdata.value.whatsapp,
        email: formdata.value.email,
        phone: formdata.value.phone,
        tax: formdata.value.tax
      })
      console.log('添加成功', res)
      if (res.code == 0) {
        ElMessage.success(t('common.success'))
        sysStore.withdrawAddPop = false
        emit('update')
      }
    } else {
      console.log('error submit!', fields)
    }
  })
}
</script>

<template>
  <van-dialog
    closeOnClickOverlay
    width="660"
    className="add-withdraw-pop"
    :showConfirmButton="false"
    v-model:show="sysStore.withdrawAddPop"
    title="Withdraw information"
  >
    <div @click="sysStore.withdrawAddPop = false" w-40px h-40px absolute right-30px top-30px>
      <van-icon name="cross" />
    </div>

    <el-form ref="FormRef" :rules="rules" size="large" :model="formdata">
      <el-form-item prop="holder">
        <div><span mr-8px text-red>*</span>Nome do titular</div>
        <el-input placeholder="Name of the account holder" v-model="formdata.holder"> </el-input>
      </el-form-item>
      <div mb-20px text-28px><span mr-8px text-red>*</span>Tipo de PIX</div>
      <div relative mb-20px>
        <div
          relative
          mx-auto
          w-590px
          h-90px
          bg-tay-bg-7
          rounded-20px
          flex
          items-center
          px-20px
          @click="show = !show"
        >
          <span>{{ currWith?.name }}</span>
          <div
            absolute
            right-20px
            class="i-ep:arrow-down text-#D9D9D9 text-20px"
            :class="{
              rota180: show
            }"
          ></div>
        </div>
        <div
          v-motion-slide-top
          v-show="show"
          z-5
          absolute
          left-0
          top-100px
          w-590px
          py-12px
          rounded-20px
          bg-tay-bg-0
        >
          <div
            :class="{
              'bg-tay-bg-2': activeWith === item.id
            }"
            class="flex items-center py-10px rounded-10px px-20px cursor-pointer"
            @click="change(item)"
            v-for="(item, index) in withdrawList"
            :key="index"
          >
            <!-- <img mr-30px w-50px h-50px :src="item.logo" alt="" /> -->
            <span>{{ item.name }}</span>
          </div>
        </div>
      </div>
      <!-- <el-form-item prop="email">
        <div><span mr-8px text-red>*</span>E-mail</div>
        <el-input placeholder="Preencha seu e-mail" v-model="formdata.email"> </el-input>
      </el-form-item>
      <el-form-item prop="phone">
        <div><span mr-8px text-red>*</span>Tipe de PIX</div>
        <el-input type="number" placeholder="CPF" v-model="formdata.phone"> </el-input>
      </el-form-item>
      <el-form-item prop="tax">
        <div><span mr-8px text-red>*</span>Imposto</div>
        <el-input placeholder="Preencha o seu número de contribuinte" v-model="formdata.tax">
        </el-input>
      </el-form-item> -->
      <el-form-item prop="cardnum">
        <div><span mr-8px text-red>*</span>CPF</div>
        <el-input placeholder="preencha o CPF" v-model="formdata.cardnum"> </el-input>
      </el-form-item>
      <el-form-item prop="whatsapp">
        <div mt--30px>WhatsApp</div>
        <el-input placeholder="WhatsApps" v-model="formdata.whatsapp"> </el-input>
      </el-form-item>
      <div mt-60px mb-70px>
        <el-button
          @click="submitForm(FormRef)"
          class="rounded-20px! h-80px! font-bold! bg-tay-active-3!"
          w-full
          block
          type="danger"
          >Adicionar Retirar</el-button
        >
      </div>
    </el-form>
  </van-dialog>
</template>

<style lang="scss">
.add-withdraw-pop.van-dialog {
  background: #151c26;
  padding-left: 40px;
  padding-right: 40px;
  max-height: 1200px;
  top: 50%;
  overflow-y: auto;
  .el-input__wrapper {
    background-color: rgb(42, 54, 70);
  }
}
</style>
