<script setup>
import { ref } from 'vue'
import { ApiCaptcha } from '@api/request.js'
import { useI18n } from 'vue-i18n'
import { useSystemStore } from '@/stores/system'
import { showToast, showFailToast } from 'vant'
import { useRoute } from 'vue-router'
const route = useRoute()
const sysStore = useSystemStore()
const { t } = useI18n()

const codeImg = ref('')
const showpass = ref(false)
const btnloading = ref(false)

const formdata = ref({
  user: '', //用户名
  pwd: '', //密码
  refer: '', //推荐码，若没有可为null
  captcha: '' //验证码
})

if (route?.query?.code) {
  formdata.value.refer = route.query.code
}

// 获取验证码
const getCaptcha = () => {
  ApiCaptcha({}, 'blob').then((res) => {
    codeImg.value = window.URL.createObjectURL(res)
    console.log(codeImg.value)
  })
}

getCaptcha()

const forget = () => {
  showToast(t('login.login_kf'))
}

const onSubmit = (values) => {
  console.log('submit', values)
  const { user, pwd, captcha } = values
  if (!user) {
    return showFailToast({
      message: t('login.emailPlaceholder'),
      icon: 'warning'
    })
  }
  if (!pwd) {
    return showFailToast({
      message: t('login.passwordPlaceholder'),
      icon: 'warning'
    })
  }
  if (!captcha) {
    return showFailToast({
      message: t('login.captchaPlaceholder'),
      icon: 'warning'
    })
  }
}
</script>

<template>
  <div id="login-popup">
    <van-popup
      overlay-class="backdrop-blur-sm"
      round
      teleport="body"
      v-model:show="sysStore.loginPop.show"
    >
      <div v-motion-pop text-white lg:flex lg:mx-auto class="login_wrap">
        <div lg:mx-auto class="login_wrap_inner">
          <div
            w-660px
            mx-auto
            py-40px
            px-38px
            rounded-30px
            border-1
            border-solid
            border-border-login
            bg-normalBg
          >
            <div
              w-384px
              font-semibold
              text-30px
              text-center
              flex
              justify-between
              items-center
              mx-auto
              mb-50px
            >
              <div
                relative
                class="van-haptics-feedback"
                :class="sysStore.loginPop.type === 'register' && 'text-active selected'"
                @click="sysStore.loginPop.type = 'register'"
              >
                {{ t('common.register') }}
              </div>
              <div
                relative
                class="van-haptics-feedback"
                :class="sysStore.loginPop.type === 'login' && 'text-active selected'"
                @click="sysStore.loginPop.type = 'login'"
              >
                {{ t('common.login') }}
              </div>
            </div>
            <!-- form -->
            <van-form @submit="onSubmit">
              <van-field
                class="input"
                clearable
                v-model="formdata.user"
                name="user"
                :placeholder="$t('login.emailPlaceholder')"
              >
                <template #left-icon>
                  <img
                    w-37px
                    h-37px
                    align-middle
                    src="@/assets/img/register_mail_icon.png"
                    alt=""
                  />
                </template>
              </van-field>
              <van-field
                class="input"
                v-model="formdata.pwd"
                :type="showpass ? 'text' : 'password'"
                name="pwd"
                :placeholder="$t('login.passwordPlaceholder')"
              >
                <template #left-icon>
                  <img
                    w-37px
                    h-37px
                    align-middle
                    src="@/assets/img/register_password_icon.png"
                    alt=""
                  />
                </template>
                <template #right-icon>
                  <van-icon @click="showpass = !showpass" v-show="!showpass" name="closed-eye" />
                  <van-icon @click="showpass = !showpass" v-show="showpass" name="eye-o" />
                </template>
              </van-field>
              <van-field
                clearable
                class="input"
                v-model="formdata.captcha"
                name="captcha"
                :placeholder="$t('login.captchaPlaceholder')"
              >
                <template #left-icon>
                  <img
                    w-37px
                    h-37px
                    align-middle
                    src="@/assets/img/register_code_icon.png"
                    alt=""
                  />
                </template>
                <template #right-icon>
                  <img
                    absolute
                    right-0
                    top--18px
                    w-200px
                    h-88px
                    @click="getCaptcha"
                    v-lazy="codeImg"
                    alt=""
                  />
                </template>
              </van-field>
              <div @click="forget" text-right w-full mb-28px relative top--6px>
                {{ t('login.forgetPassword') }}
              </div>
              <div>
                <van-button
                  :loading="btnloading"
                  loading-type="spinner"
                  round
                  block
                  class="loginbtn-shared text-32px! font-semibold!"
                  native-type="submit"
                >
                  {{
                    sysStore.loginPop.type === 'register' ? t('common.register') : t('common.login')
                  }}
                </van-button>
              </div>
            </van-form>
          </div>

          <p flex flex-col items-center mt-40px text-30px @click="sysStore.loginPop.show = false">
            <img w-54px src="@/assets/img/close_icon.png" alt="" />
            <span>{{ t('common.close') }}</span>
          </p>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<style lang="scss" scoped>
.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0);
}
.input {
  position: relative;
  border-radius: 70px;
  margin-bottom: 40px;
  background-color: #272c31;
  :deep(.van-field__left-icon) {
    margin-right: 24px;
    line-height: 46px;
    padding-right: 16px;
    position: relative;
    &::after {
      content: '';
      display: block;
      height: 36px;
      width: 2px;
      background-color: #4a535b;
      position: absolute;
      top: 6px;
      right: -6px;
    }
  }
  :deep(input::placeholder) {
    color: #7b8398;
  }
}
</style>
