<template>
  <svg
    class="GbIcons_icon__P8dvB"
    width="30"
    height="25"
    viewBox="0 0 30 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 30px; height: 30px"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M29.8984 2C29.8984 1.17157 29.2269 0.5 28.3984 0.5H2.27344C1.44501 0.5 0.773438 1.17157 0.773438 2C0.773438 2.82843 1.44501 3.5 2.27344 3.5H28.3984C29.2269 3.5 29.8984 2.82843 29.8984 2ZM29.8984 9C29.8984 8.17157 29.2269 7.5 28.3984 7.5H12.0234C11.195 7.5 10.5234 8.17157 10.5234 9C10.5234 9.82843 11.195 10.5 12.0234 10.5H28.3984C29.2269 10.5 29.8984 9.82843 29.8984 9ZM28.3984 14.5C29.2269 14.5 29.8984 15.1716 29.8984 16C29.8984 16.8284 29.2269 17.5 28.3984 17.5H12.0234C11.195 17.5 10.5234 16.8284 10.5234 16C10.5234 15.1716 11.195 14.5 12.0234 14.5H28.3984ZM29.8984 23C29.8984 22.1716 29.2269 21.5 28.3984 21.5H2.27344C1.44501 21.5 0.773438 22.1716 0.773438 23C0.773438 23.8284 1.44501 24.5 2.27344 24.5H28.3984C29.2269 24.5 29.8984 23.8284 29.8984 23ZM1.39844 11.7277C0.731771 12.1126 0.73177 13.0749 1.39844 13.4598L5.33594 15.7331C6.0026 16.118 6.83594 15.6369 6.83594 14.8671V10.3204C6.83594 9.55063 6.00261 9.06951 5.33594 9.45441L1.39844 11.7277Z"
      fill="#66727D"
    ></path>
  </svg>
</template>
