<script setup>
import { RouterView } from 'vue-router'
import { useTitle } from '@vueuse/core'
import { isMobile } from '@utils/tool'
import { useSystemStore } from '@/stores/system'

const sysStore = useSystemStore()

const title = useTitle()
title.value = 'BBRGOL Online Games'

const setAgent = () => {
  if (isMobile()) {
    sysStore.userAgent = 'mobile'
  } else {
    sysStore.userAgent = 'pc'
  }
}

;((window) => {
  window.addEventListener('resize', setAgent)
  window.addEventListener('pageshow', function (e) {
    if (e.persisted) {
      setAgent()
    }
  })
})(window)
</script>

<template>
  <RouterView />
</template>

<style lang="scss" scoped></style>
